<div (click)="openAccountList()" #ref>
  <ng-content></ng-content>
</div>
<span *ngIf="ref.children.length == 0">
  <div class="account-selector-container">
    <div class="from-account" (click)="openAccountList()" *ngIf="accounts">
      <ng-container *ngIf="account">
        <div class="name">
          {{ account.name }}
          <small>
            <wallet-address [value]="account.address"></wallet-address>
          </small>
        </div>
      </ng-container>

      <ng-container *ngIf="!account">
        No Account Selected
      </ng-container>
    </div>

    <div class="from-account" *ngIf="isLoading">
      <div style="vertical-align: middle">
        <i class="fas fa-circle-notch fa-spin" style="font-size: 16px"></i>&nbsp;
        <span>{{ 'Getting your accounts...' | translate }}</span>
      </div>
    </div>

    <div class="from-account" *ngIf="isError">
      <div class="text-center" style="width: 100%;">
        <i matPrefix class="fa fa-exclamation-triangle"></i>
        <div style="margin-bottom: 8px;">
          {{ 'An error occurred while processing your request' | translate }}
        </div>
        <button mat-flat-button class="small" color="primary" (click)="getAccounts()">
          {{ 'Try Again' | translate }}
        </button>
      </div>
    </div>
  </div>
</span>

<ng-template #accountDialog>
  <h2 class="mat-h2">
    <b>{{ 'Your Accounts' | translate }}</b>
  </h2>

  <ng-container *ngIf="accounts">
    <mat-card
      *ngFor="let acc of accounts"
      class="account-card"
      (click)="onSwitchAccount(acc)"
      [ngClass]="account && account.address == acc.address && 'active'"
    >
      <div class="name">{{ acc.name }}</div>
      <div class="address">
        <wallet-address [value]="acc.address" [copyButton]="true"></wallet-address>
      </div>
    </mat-card>
  </ng-container>

  <div class="no-content" *ngIf="accounts.length == 0">
    <i matPrefix class="far fa-address-card"></i>
    <span class="message">No Accounts on the list</span>
  </div>
</ng-template>
