@import '../../../styles/variables';
@import '../../../styles/mixins';

.from-account {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 12px;
  color: $black2;
  margin-top: 4px;
  margin-bottom: 16px;
  @include transition(0.3s ease-in all);
  &:hover {
    cursor: pointer;
    background-color: #eee;
  }
  .name {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 8px;
  }
  .balance {
    text-align: right;
    font-size: 13px;
    color: $black2;
  }
  i {
    font-size: 2rem;
    margin: 0.5rem 0;
  }
}

.account-card {
  border-radius: 6px;
  padding: 12px;
  margin-top: 12px;
  color: $black1;
  font-size: 14px;
  background-color: white;
  &:hover {
    cursor: pointer;
  }
  &.active {
    background: $primary-gradient;
    color: white;
    .balance,
    .balance-in-currency,
    .name {
      color: white;
    }
  }
  .name {
    font-weight: bold;
    color: $black2;
    margin-bottom: 4px;
    font-size: 16px;
  }
  .address {
    margin-bottom: 12px;
    font-size: 13px;
  }
  .balance {
    color: $black2;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 4px;
  }
  .balance-in-currency {
    color: $black3;
  }
}
