<div class="content" *ngIf="!isLoading">
  <div class="item">
    <div class="label">{{ 'sender' | translate }}</div>
    <wallet-address [value]="multisig.pendingtransaction.sender.value" [showFull]="true"></wallet-address>
  </div>
  <div class="item">
    <div class="label">{{ 'recipient' | translate }}</div>
    <wallet-address [value]="multisig.pendingtransaction.recipient.value" [showFull]="true"></wallet-address>
  </div>
  <div class="item">
    <div class="label">{{ 'amount' | translate }}</div>
    <div class="value">ZBC {{ multisig.pendingtransaction.txBody.amount / 1e8 | number: '0.0-4' }}</div>
  </div>
  <div class="item">
    <div class="label">{{ 'fee' | translate }}</div>
    <div class="value">ZBC {{ multisig.pendingtransaction.fee / 1e8 | number: '0.0-4' }}</div>
  </div>
  <div class="item">
    <div class="label">{{ 'height' | translate }}</div>
    <div class="value">{{ multisig.pendingtransaction.height }}</div>
  </div>
  <div class="item">
    <div class="label">{{ 'date' | translate }}</div>
    <div class="value">{{ multisig.pendingtransaction.timestamp | date: 'medium' }}</div>
  </div>
  <div class="item text-right">
    <div class="primary-text">
      <ng-container *ngIf="totalSignature == 0">
        {{ 'no participants have signed yet' || translate }}
      </ng-container>
      <ng-container *ngIf="totalSignature > 0">
        {{ 'signed by' | translate: { pendingSign: totalSignature, totalSign: minSignature } }}
      </ng-container>
    </div>
  </div>

  <div class="item warn-text text-right" *ngIf="!canSign">
    you cant sign this transaction because you're not one of the participants
  </div>
  <div class="item warn-text text-right" *ngIf="alreadySigned">
    you already sign this transaction
  </div>

  <div class="item" *ngIf="canSign && !alreadySigned">
    <mat-checkbox (click)="onEnableSign()">{{ 'process this transaction' | translate }}</mat-checkbox>

    <div *ngIf="enableSign" style="margin-top: 16px;">
      <!-- <form-escrow-approval [group]="form" [inputMap]="escrowApprovalMap"> </form-escrow-approval> -->

      <label>{{ 'sign by' | translate }}</label>
      <account-selector
        (select)="onSwitchAccount($event)"
        type="normal"
        [addresses]="participants"
        [switchAccount]="true"
      ></account-selector>

      <input-amount [group]="form" amountName="fee" label="{{ 'fee' | translate }}"> </input-amount>
      <ng-container *ngIf="feeForm.touched && feeForm.invalid">
        <mat-error *ngIf="feeForm.hasError('required')">
          {{ 'fee is required' | translate }}
        </mat-error>
        <mat-error *ngIf="feeForm.hasError('min')">
          {{ 'minimum fee is' | translate: { val: minFee } }}
        </mat-error>
      </ng-container>

      <div class="text-right grouped-button">
        <button
          [disabled]="isLoadingApproveTx || !form.valid"
          mat-flat-button
          color="primary"
          (click)="onAccept()"
        >
          <span *ngIf="isLoadingApproveTx"> <i class="fas fa-circle-notch fa-spin"></i>&nbsp; </span>
          <span>
            {{ 'confirm' | translate }}
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
