@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.multisig-info-dialog {
  .title {
    color: $black2;
    font-size: 18px !important;
    font-weight: 500;
    margin-bottom: 15px;
    text-align: center;
  }

  .content {
    .label {
      font-size: 14px;
      color: $black2;
      margin-bottom: 8px;
    }

    .participants {
      padding-left: 24px;
      margin: 8px 0px;
      li {
        list-style-type: circle;
        margin-bottom: 6px;
      }
    }

    .nonce {
      margin-top: 20px;
      span {
        color: $black1;
      }
    }

    .min-signature {
      color: $black1;
    }

    .signed-by {
      margin: 24px 0;
    }

    .share-multisig-info {
      text-align: center;
    }
  }
}
