<div class="multisig-info-dialog">
  <div class="row">
    <div class="col-12">
      <div class="title">{{ currAcc.name }}</div>
    </div>
  </div>
  <div class="content">
    <div class="row">
      <div class="col-12">
        <div class="label">{{ 'participants' | translate }}:</div>
        <ul class="participants" *ngFor="let participant of currAcc.participants">
          <li>
            <wallet-address [value]="participant"></wallet-address>
          </li>
        </ul>
        <div class="label nonce">
          {{ 'nonce' | translate }}: <span>{{ currAcc.nonce }}</span>
        </div>
        <div class="label">
          {{ 'min signature' | translate }}:
          <span class="min-signature">{{ currAcc.minSig }} address(es)</span>
        </div>
        <div class="signed-by">
          <div class="label">{{ 'signedby' | translate }}:</div>
          <wallet-address [value]="currAcc.signByAddress"></wallet-address>
        </div>
        <div class="share-multisig-info">
          <button mat-flat-button color="primary" (click)="onExport()" class="block">
            <span><i class="fa fa-share-alt"></i> &nbsp;</span>
            <span>{{ 'export this multisig info' | translate }}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
