<div class="multisig-info-dialog">
  <div class="row">
    <div class="col-12">
      <div class="title">{{ currAcc.name }}</div>
    </div>
  </div>
  <div class="content">
    <div class="row">
      <div class="col-12">
        <div class="label">{{ 'Participants' | translate }}:</div>
        <ul class="participants" *ngFor="let participant of currAcc.participants">
          <li><wallet-address [value]="participant" [copyButton]="true"></wallet-address></li>
        </ul>
        <div class="label nonce">
          {{ 'Nonce' | translate }}: <span>{{ currAcc.nonce }}</span>
        </div>
        <div class="label">
          {{ 'Min Signature' | translate }}:
          <span class="min-signature">{{ currAcc.minSig }} address(es)</span>
        </div>
        <div class="signed-by">
          <div class="label">{{ 'Signed By' | translate }}:</div>
          <wallet-address [value]="currAcc.signByAddress" [copyButton]="true"></wallet-address>
        </div>
        <div class="share-multisig-info">
          <button mat-flat-button color="primary" (click)="onCopyText($event)" class="block">
            <span><i class="fa fa-share-alt"></i> &nbsp;</span>
            <span>{{ 'Share this multisig info' | translate }}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
