@import '../../../styles/variables';
@import '../../../styles/mixins';

.account-list {
  .account {
    border-bottom: 1px solid #ddd;
    padding: 16px 6px;
    margin: 0;
    align-items: center;
    @include transition(0.3s ease-in all);
    &:hover {
      background-color: #eee;
      cursor: pointer;
    }
    .name {
      font-size: 16px;
      margin-bottom: 8px;
    }
    .address {
      word-break: break-all;
      color: $black1;
      font-size: 13px;
      margin-bottom: 8px;
    }
    .icon-btn {
      font-size: 20px;
      width: 44px;
      height: 44px;
      line-height: 20px;
      margin-bottom: 8px;
      margin-left: 8px;
      color: $black3;
    }
    .label {
      background-color: map-get($primary, 600);
      color: white;
      padding: 4px 16px;
      border-radius: 15px;
      font-size: 12px;
      margin-left: 8px;
    }
    p {
      margin: 4px 0;
      font-size: 13px;
      color: $black2;
    }
  }
}
