<div class="account-container">
  <div class="row">
    <div class="col-4">
      <h2 class="mat-h2">{{ 'Accounts' | translate }}</h2>
    </div>
    <div class="col-8 text-right">
      <button mat-flat-button color="primary" (click)="onOpenAddAccount()">
        <span>{{ 'Add New Account' | translate }}</span>
      </button>
    </div>
  </div>

  <div class="account-list">
    <mat-card style="padding: 0">
      <ng-container *ngFor="let acc of accounts">
        <ng-container *ngIf="acc.type === 'normal'">
          <div class="account row">
            <div class="col-12 col-sm-8">
              <div class="name">
                {{ acc.name }}
              </div>
              <div class="address">
                <wallet-address [value]="acc.address" [copyButton]="true"></wallet-address>
              </div>
            </div>
            <div class="col-12 col-sm-4 text-right">
              <div class="text-right-item">
                <button
                  mat-icon-button
                  matTooltip="Edit"
                  matTooltipPosition="above"
                  class="icon-btn"
                  (click)="onOpenEditAccount($event, acc)"
                >
                  <i class="fas fa-pen"></i>
                </button>
              </div>
              <div class="text-right-item">
                <button mat-stroked-button color="primary" class="small" (click)="onSwitchAccount(acc)">
                  <ng-container *ngIf="currAcc.address !== acc.address; else elseAcc">
                    <span>{{ 'Select' | translate }}</span>
                  </ng-container>
                  <ng-template #elseAcc>
                    <span>{{ 'Selected' | translate }}</span>
                  </ng-template>
                </button>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="acc.type === 'multisig'">
          <div class="account row">
            <div class="col-12 col-sm-8">
              <div class="name">
                {{ acc.name }}
                <span class="label" color="primary">
                  Multi Signature
                </span>
              </div>
              <div class="address">
                <p>{{ 'Address' | translate }}:</p>
                <wallet-address [value]="acc.address" [copyButton]="true"></wallet-address>
              </div>
              <div class="address">
                <p>{{ 'Signed By' | translate }}:</p>
                <wallet-address [value]="acc.signByAddress" [copyButton]="true"></wallet-address>
              </div>
            </div>
            <div class="col-12 col-sm-4 text-right">
              <div class="text-right-item">
                <button
                  mat-icon-button
                  matTooltip="Multi Signature Detail"
                  matTooltipPosition="above"
                  class="icon-btn"
                  (click)="onOpenMultisigInfoDialog()"
                >
                  <i class="fas fa-file-signature"></i>
                </button>
                <button
                  mat-icon-button
                  matTooltip="Edit"
                  matTooltipPosition="above"
                  class="icon-btn"
                  (click)="onOpenEditAccount($event, acc)"
                >
                  <i class="fas fa-pen"></i>
                </button>
              </div>
              <div class="text-right-item">
                <button mat-flat-button color="primary" class="small" (click)="onSwitchAccount(acc)">
                  <ng-container *ngIf="currAcc.address !== acc.address; else elseAcc">
                    <span>{{ 'Select' | translate }}</span>
                  </ng-container>
                  <ng-template #elseAcc>
                    <span>{{ 'Selected' | translate }}</span>
                  </ng-template>
                </button>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </mat-card>
  </div>
</div>
