<h2 class="mat-h2 text-center">Register Seat</h2>
<mat-divider></mat-divider>

<div style="text-align: center; margin: 16px 0;" *ngIf="isLoading">
  <i class="fas fa-circle-notch fa-spin primary" style="font-size: 56px"></i>
</div>
<div class="text-center" style="margin: 16px;">
  <div>{{ status }}</div>
  <div *ngIf="txHash">
    Click <a [href]="url + 'tx/' + txHash" target="_blank">Here</a> to see on Etherscan
  </div>
</div>

<div class="text-center" *ngIf="txHash && isLoading">
  <i>
    Please DO NOT CLOSE or REFRESH this page. You will lose your certificate and need to re-register your seat
    again
  </i>
</div>

<button mat-flat-button type="button" class="block" color="warn" (click)="onCancel()" *ngIf="canCancel">
  <i matPrefix class="fa fa-times"></i> Cancel
</button>
<button
  mat-flat-button
  type="button"
  class="block"
  color="primary"
  (click)="onDownload()"
  *ngIf="canDownload"
>
  <i matPrefix class="fa fa-download"></i> Download Certificate
</button>
