.confirm-passphrase-container {
  max-width: 480px;
  margin: 0 auto;
  text-align: center;
  .mat-h2 {
    font-weight: bold;
    margin-bottom: 24px;
  }
  form {
    .btn-grouped {
      margin: 16px auto;
      font-weight: bold;
      button {
        width: 150px;
        margin: 0 4px 8px 4px;
      }
    }
  }
}
