<div class="confirm-passphrase-container">
  <h2 class="mat-h2">{{ 'Confirm Your Passphrase' | translate }}</h2>
  <p class="mat-body-1">
    {{
      'Fill The Missing Phrase Word to Complete Create New Wallet !' | translate
    }}
  </p>
  <form [formGroup]="confirmForm" (submit)="openCreatePin()">
    <div class="row" formArrayName="words">
      <div
        class="col-6 col-sm-4"
        *ngFor="let word of prefillPassphrase; let i = index"
      >
        <mat-form-field
          [formGroupName]="i"
          appearance="outline"
          color="accent"
          class="block"
        >
          <div matPrefix style="margin-right: 8px">{{ i + 1 }}.</div>
          <input matInput formControlName="word" (keyup)="isValid()" />
        </mat-form-field>
      </div>
    </div>
    <div style="height: 25px" class="text-center">
      <mat-error *ngIf="confirmForm.hasError('required')">
        {{ 'Please fill all of the passphrase' | translate }}
      </mat-error>
      <mat-error *ngIf="confirmForm.hasError('mnemonic')">
        {{ 'The passphrase is not matched' | translate }}
      </mat-error>
    </div>
    <div class="btn-grouped">
      <button mat-flat-button color="warn" (click)="backClicked()">
        <i matPrefix class="fas fa-arrow-left"></i>
        <span class="text">{{ 'Back' | translate }}</span>
      </button>
      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="confirmForm.invalid"
      >
        <i matPrefix class="fas fa-check"></i>
        <span class="text">{{ 'Confirm' | translate }}</span>
      </button>
    </div>
  </form>
</div>
