<div class="confirm-passphrase-container">
  <h2 class="mat-h2">{{ 'Confirm Your Passphrase' | translate }}</h2>
  <form [formGroup]="confirmForm" (submit)="openCreatePin()">
    <div class="row" formArrayName="words">
      <div
        class="col-6 col-sm-4"
        *ngFor="let word of prefillPassphrase; let i = index"
      >
        <mat-form-field class="passphrase-input" [formGroupName]="i">
          <div matPrefix style="margin-right: 8px">{{ i + 1 }}.</div>
          <input matInput formControlName="word" (keyup)="isValid()" />
        </mat-form-field>
      </div>
    </div>
    <mat-error *ngIf="confirmForm.hasError('required')">
      <span class="text-center">
        {{ 'Please fill all of the passphrase' | translate }}
      </span>
    </mat-error>
    <mat-error *ngIf="confirmForm.hasError('mnemonic')">
      <span class="text-center">
        {{ 'The passphrase is not matched' | translate }}
      </span>
    </mat-error>
    <button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="confirmForm.invalid"
    >
      {{ 'Confirm' | translate }}
    </button>
  </form>
</div>
