@import '../../../styles/variables';
.confirm-passphrase-container {
  text-align: center;
  .mat-h2 {
    font-weight: 500;
    margin: 0 auto 24px auto;
    font-size: 32px;
    max-width: 512px;
  }
  .mat-h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 0 auto 8px auto;
    max-width: 512px;
  }
  .mat-body-1 {
    color: $black2;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    max-width: 512px;
  }
  form {
    text-align: left;
    margin: 16px auto 0 auto;
    max-width: 512px;
    label {
      color: $black1;
      font-weight: 500;
      font-size: 14px;
    }
    .btn-grouped {
      button {
        width: 100%;
      }
    }
  }
}
