<div class="changeIPAddress-container">
  <h2 class="mat-h2 text-center">Change Your IP Address</h2>
  <form [formGroup]="changeForm" (submit)="onSubmit()">
    <mat-form-field appearance="outline" color="accent">
      <input
        matInput
        type="text"
        placeholder="{{ 'IP Address' | translate }}"
        formControlName="ipAddress"
      />
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit">
      {{ 'Save' | translate }}
    </button>
  </form>
</div>
