<div class="editcontact-container">
  <h2 class="mat-h2">{{ 'Edit Address' | translate }}</h2>
  <form [formGroup]="editForm" (submit)="onSubmit()">
    <mat-form-field appearance="outline">
      <input
        matInput
        type="text"
        formControlName="alias"
        placeholder="{{ 'Alias' | translate }}"
      />
      <mat-error *ngIf="aliasField.hasError('required')">{{
        'Alias is required' | translate
      }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input
        matInput
        type="text"
        formControlName="address"
        placeholder="{{ 'Address' | translate }}"
      />
      <mat-error *ngIf="addressField.hasError('required')">{{
        'Address is required' | translate
      }}</mat-error>
    </mat-form-field>

    <button mat-flat-button color="primary" type="submit">
      {{ 'Save' | translate }}
    </button>
  </form>
</div>
