<div class="editcontact-container">
  <h2 class="mat-h2">{{ 'Edit Address' | translate }}</h2>
  <form [formGroup]="editForm" (submit)="onSubmit()">
    <mat-form-field appearance="outline">
      <input
        matInput
        type="text"
        formControlName="alias"
        placeholder="{{ 'Alias' | translate }}"
      />
    </mat-form-field>
    <mat-error *ngIf="aliasField.touched">
      <span *ngIf="aliasField.hasError('required')"
        >{{ 'Alias is required' | translate }}
      </span>
    </mat-error>

    <mat-form-field appearance="outline">
      <input
        matInput
        type="text"
        formControlName="address"
        placeholder="{{ 'Address' | translate }}"
        (keyup)="onAddressValidation()"
      />
    </mat-form-field>
    <mat-error *ngIf="addressField.touched">
      <span *ngIf="addressField.hasError('required')"
        >{{ 'Address is required' | translate }}
      </span>
      <span *ngIf="addressField.hasError('invalidAddress')">
        {{ 'ZBC Address is invalid' | translate }}
      </span>
    </mat-error>

    <button mat-flat-button color="primary" type="submit">
      {{ 'Save' | translate }}
    </button>
  </form>
</div>
