<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">
      {{ 'Misc.EditContact' | translate }}
    </h6>
  </div>
  <div class="card text-left">
    <div class="card-body">
      <form
        class="form-horizontal"
        #f="ngForm"
        (ngSubmit)="f.form.valid && onSubmit()"
      >
        <div class="form-group">
          <label for="alias">{{ 'Misc.Alias' | translate }}</label>
          <input
            type="text"
            class="form-control"
            name="alias"
            [(ngModel)]="contact.alias"
            placeholder="Alias"
            value=""
          />
        </div>

        <div class="form-group">
          <label for="address">{{ 'Misc.Address' | translate }}</label>

          <input
            type="text"
            class="form-control"
            name="address"
            [(ngModel)]="contact.address"
            placeholder="Address"
            value=""
          />
        </div>
        <input
          type="submit"
          class="btn btn-primary"
          value="{{ 'Button.Save' | translate }}"
        />
      </form>
    </div>
  </div>
</div>
