<div class="faq-container">
  <h1 class="mat-h1">FAQs</h1>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          How to Properly Save & Back Up Your Wallet
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis
        feugiat neque. Maecenas quis nulla ut odio venenatis molestie sit amet
        sit amet nibh. Aliquam erat volutpat. Ut euismod lorem ac dolor
        tincidunt imperdiet. Donec ut nulla vitae odio luctus egestas sed at
        diam. Pellentesque sit amet turpis pharetra, pellentesque eros id,
        semper massa. Nam id scelerisque nulla. Donec ornare volutpat interdum.
        Curabitur in egestas libero. Nam sed semper ligula. Vivamus faucibus
        ipsum in elit gravida lobortis. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Aliquam at eros dapibus mauris rutrum aliquet. Cras non
        maximus diam.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Restoring ZooBC Wallet from seed phrase
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis
        feugiat neque. Maecenas quis nulla ut odio venenatis molestie sit amet
        sit amet nibh. Aliquam erat volutpat. Ut euismod lorem ac dolor
        tincidunt imperdiet. Donec ut nulla vitae odio luctus egestas sed at
        diam. Pellentesque sit amet turpis pharetra, pellentesque eros id,
        semper massa. Nam id scelerisque nulla. Donec ornare volutpat interdum.
        Curabitur in egestas libero. Nam sed semper ligula. Vivamus faucibus
        ipsum in elit gravida lobortis. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Aliquam at eros dapibus mauris rutrum aliquet. Cras non
        maximus diam.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          What to do when ZooBC Wallet is not displaying the correct ETH balance
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis
        feugiat neque. Maecenas quis nulla ut odio venenatis molestie sit amet
        sit amet nibh. Aliquam erat volutpat. Ut euismod lorem ac dolor
        tincidunt imperdiet. Donec ut nulla vitae odio luctus egestas sed at
        diam. Pellentesque sit amet turpis pharetra, pellentesque eros id,
        semper massa. Nam id scelerisque nulla. Donec ornare volutpat interdum.
        Curabitur in egestas libero. Nam sed semper ligula. Vivamus faucibus
        ipsum in elit gravida lobortis. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Aliquam at eros dapibus mauris rutrum aliquet. Cras non
        maximus diam.
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          How to copy your ZooBC Account Public Address
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis
        feugiat neque. Maecenas quis nulla ut odio venenatis molestie sit amet
        sit amet nibh. Aliquam erat volutpat. Ut euismod lorem ac dolor
        tincidunt imperdiet. Donec ut nulla vitae odio luctus egestas sed at
        diam. Pellentesque sit amet turpis pharetra, pellentesque eros id,
        semper massa. Nam id scelerisque nulla. Donec ornare volutpat interdum.
        Curabitur in egestas libero. Nam sed semper ligula. Vivamus faucibus
        ipsum in elit gravida lobortis. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Aliquam at eros dapibus mauris rutrum aliquet. Cras non
        maximus diam.
      </p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
