@import '../../../../styles//variables';
@import '../../../../styles/mixins';

form {
  .row {
    margin: 0 -4px;

    [class^='col'] {
      padding: 0 4px;
    }
  }
  .zbc-form-item {
    margin-top: 10px;
    .amount {
      .primary-amount {
        font-size: 1.3rem;
        margin-bottom: 0.2rem;
      }

      .secondary-amount {
        font-size: 0.8rem;
        margin-bottom: 0.2rem;
      }
    }
  }
  .block-height {
    display: block;
    text-align: right;
    color: map-get($primary, 500);
  }
}
