@import '../../../styles/variables';
@import '../../../styles/mixins';

.header {
  height: $header-height;
  background-color: map-get($primary, 600);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14),
    0 1px 18px 0 rgba(0, 0, 0, 0.12);
  .header-container {
    margin: 0 auto;
    display: flex;
    max-width: $parent-width;
    align-items: center;
    height: 64px;
    color: white;
    @media only screen and (max-width: 800px) {
      padding: 0 16px;
    }
    .brand {
      width: 40%;
      display: flex;
      text-decoration: none;
      .brand-text {
        height: 40px;
        display: inherit;
        &:hover {
          opacity: 1;
        }
        .version {
          font-size: 12px;
          margin-top: 0px;
          font-style: italic;
        }
      }
      .hamburger {
        margin-right: 8px;
        @media #{$medium-and-up} {
          display: none;
        }
      }
      img {
        width: 40px;
      }
      h3 {
        margin: 0;
        color: white;
        padding-left: 16px;
        font-weight: 200;
        font-size: 22px;
        @media #{$small-and-down} {
          display: none;
        }
      }
    }
    .menu {
      width: 70%;
      text-align: right;
      @media #{$small-and-down} {
        ::ng-deep .mat-flat-button {
          padding: 4px !important;
        }
      }
      .address-card {
        font-size: 22px;
        margin: 0 -5px 0 15px;
      }
      .account-dropdown {
        margin: 0 4px;
        color: white;
        i {
          font-size: 22px;
        }
      }
      .language-dropdown {
        @media #{$small-and-down} {
          display: none;
        }
        i {
          margin-left: 8px;
        }
        span {
          text-transform: uppercase;
        }
      }
    }
  }
}

.account-dropdown-list {
  button i {
    margin-right: 8px;
    color: $black3;
    width: 18px;
    text-align: center;
  }
  .account-container {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 150px;
  }
}

.no-color {
  background: none !important;
  box-shadow: none !important;
}
