<div class="header">
  <div class="header-container">
    <div class="brand">
      <button mat-icon-button *ngIf="isLoggedIn" class="hamburger" (click)="onToggle()">
        <i class="fa fa-bars" style="font-size: 18px"></i>
      </button>
      <a routerLink="/" class="brand-text">
        <img src="/assets/img/zbc-white.png" alt="" />
        <h3><b>ZooBC</b><span> Registration</span></h3>
      </a>
    </div>
    <div class="menu">
      <button
        mat-icon-button
        matTooltip="Accounts"
        class="address-card"
        routerLink="/accounts"
        target="_blank"
        *ngIf="isLoggedIn"
      >
        <i class="fas fa-address-card"></i>
      </button>

      <!-- account menu -->
      <button mat-icon-button class="account-dropdown" [matMenuTriggerFor]="account" *ngIf="isLoggedIn">
        <i class="fa fa-cog"></i>
      </button>
      <mat-menu #account="matMenu">
        <div class="account-dropdown-list">
          <button mat-menu-item (click)="onComingSoonPage()">
            <i class="fab fa-usb"></i>Connect Hardware Wallet
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item routerLink="/settings/about"><i class="fas fa-info"></i>Info & Help</button>
          <mat-divider></mat-divider>
          <button mat-menu-item routerLink="/settings/general">
            <i class="fa fa-cog"></i>
            Settings
          </button>
          <mat-divider></mat-divider>
          <button (click)="onLogout()" mat-menu-item>
            <i class="fas fa-sign-out-alt"></i>
            Logout
          </button>
        </div>
      </mat-menu>
    </div>
  </div>
</div>
