@import '../../../styles/variables';
@import '../../../styles/mixins';

.header {
  height: $header-height-offset;
  background-color: map-get($primary, 600);
  .header-container {
    margin: 0 auto;
    display: flex;
    max-width: $parent-width;
    align-items: center;
    height: 64px;
    color: white;
    @media only screen and (max-width: 800px) {
      padding: 0 16px;
    }
    .brand {
      width: 40%;
      display: flex;
      text-decoration: none;
      .brand-text {
        height: 40px;
        display: inherit;
        &:hover {
          opacity: 1;
        }
        .version {
          font-size: 12px;
          font-style: italic;
        }
      }
      .hamburger {
        margin-right: 8px;
        @media #{$medium-and-up} {
          display: none;
        }
      }
      img {
        width: 40px;
      }
      h3 {
        margin: 0;
        color: white;
        padding-left: 16px;
        font-weight: 200;
        font-size: 22px;
        align-self: center;
        @media #{$small-and-down} {
          display: none;
        }
      }
    }
    .menu {
      width: 60%;
      text-align: right;
      .account-dropdown {
        margin: 0 4px;
        color: white;
        i {
          font-size: 22px;
        }
      }

      .language-dropdown {
        i {
          margin-left: 8px;
        }
        span {
          text-transform: uppercase;
        }
      }
    }
  }
}

.account-dropdown-list {
  button i {
    margin-right: 8px;
    color: $black3;
    width: 18px;
    text-align: center;
  }
  .account-container {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 150px;
  }
}
