@import '../../../styles/variables';
@import '../../../styles/mixins';

.address-template {
  // display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  font-family: 'Roboto Mono', monospace;
  .start {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-shrink: 1;
  }
  .end {
    white-space: nowrap;
    flex-basis: content;
    flex-grow: 0;
    flex-shrink: 1;
    text-align: right;
    overflow: hidden;
    direction: rtl;
  }
  .blank-space {
    font-size: 1px;
    visibility: hidden;
  }
  .copy-address {
    margin-left: 8px;
    font-size: 16px;
    @include transition(0.3s ease-in all);
    &:hover {
      opacity: 0.6;
      cursor: pointer;
    }
  }
}
