<div class="contacts-container">
  <h2 class="mat-h2">{{ 'Address Book' | translate }}</h2>
  <div class="text-right" style="margin-bottom: 8px">
    <button
      mat-flat-button
      color="primary"
      type="button"
      (click)="onOpenAddContact()"
    >
      <i matPrefix class="fa fa-plus"></i> {{ 'Add Address' | translate }}
    </button>
  </div>

  <mat-card style="padding: 0">
    <div class="no-content" *ngIf="!contacts || contacts.length <= 0">
      <i matPrefix class="fa fa-address-book"></i>
      <span class="message">{{ 'No Address Available' | translate }}</span>
    </div>

    <ng-container *ngIf="contacts && contacts.length > 0">
      <div class="contacts-list" *ngFor="let contact of contacts">
        <div class="row">
          <div class="col-12 col-sm-8">
            <p class="alias">{{ contact.alias }}</p>
            <p class="address">
              <wallet-address
                [copyButton]="true"
                [value]="contact.address"
              ></wallet-address>
            </p>
          </div>
          <div class="col-12 col-sm-4 action-row">
            <button
              mat-flat-button
              color="primary"
              (click)="onOpenEditContact(contact)"
            >
              {{ 'Edit' | translate }}
            </button>
            <button
              mat-flat-button
              color="warn"
              (click)="deleteContact(contact)"
            >
              {{ 'Delete' | translate }}
            </button>
          </div>
        </div>
      </div>
    </ng-container>
  </mat-card>
</div>
