@import '../../../../styles/variables';

.contacts-container {
  .contacts-list {
    border-bottom: 1px solid #ccc;
    padding: 16px;
    .alias {
      font-size: 16px;
      margin: 0 0 4px;
      color: $black1;
    }
    .address {
      font-size: 13px;
      word-break: break-all;
      color: $black2;
      margin: 0;
    }
    .action {
      padding-top: 8px;
      width: calc(80% - -40px);
      text-align: right;
      align-self: flex-end;
      @media #{$small-and-down} {
        width: 100%;
      }

      .icon-btn {
        font-size: 14px;
        padding: 0 !important;
        min-width: 32px !important;
        min-height: 32px !important;
        width: 32px !important;
        height: 32px !important;
        line-height: 32px;
        margin-left: 4px;
        &.primary {
          color: map-get($primary, 500);
          background-color: map-get($primary, 100);
        }
        &.warn {
          color: $red;
          background-color: #ffcdd2;
        }
      }
    }
  }
}
