@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.confirmation-dialog {
  .brand {
    .title-wallet {
      font-size: 16px;
      margin-right: 10px;
      display: inline-flex;
      // for webkit only
      display: -webkit-inline-box;

      .text {
        margin: 0 8px 0 0;
        line-height: 28px;
      }

      img {
        width: 24px;
        margin-bottom: 8px;
      }
    }
  }

  .title {
    color: $black2;
    font-size: 16px !important;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .content {
    margin-top: 10px;
    word-break: break-all;
    margin-bottom: 10px;

    .label {
      font-size: 14px;
      color: $black3;
      font-weight: bold;
      margin-bottom: 4px;
    }

    .address,
    .amount,
    .instruction,
    .total {
      margin-bottom: 12px;
    }

    .instruction {
      word-break: break-word !important;
    }

    .amount {
      .zbc {
        font-size: 16px;
        margin-bottom: 4px;
      }

      .currency {
        font-size: 14px;
      }
    }

    .total {
      color: #4caf50;
      font-weight: bold;

      .zbc {
        font-size: 18px;
        margin-bottom: 4px;
      }

      .currency {
        font-size: 16px;
      }
    }
  }
}

@media #{$small-and-down} {
  ::ng-deep .cdk-overlay-pane {
    max-height: 110vw !important;
  }
}
