<div class="add-account-container">
  <h2 class="mat-h2 text-center">{{ 'Add New Account' | translate }}</h2>
  <form [formGroup]="formAddAccount" (submit)="onAddAccount()">
    <mat-form-field appearance="outline" color="accent">
      <input
        matInput
        type="text"
        placeholder="{{ 'Account Name' | translate }}"
        formControlName="name"
      />
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit">
      {{ 'Add' | translate }}
    </button>
  </form>
</div>
