@import '../../../styles/variables';
@import '../../../styles/mixins';

.receive-container {
  text-align: center;
  .form-input {
    text-align: center;
    ::ng-deep .mat-form-field-suffix {
      top: 0 !important;
    }
    ::ng-deep .mat-form-field-infix {
      width: 110px !important;
    }
  }
  .address {
    .label {
      display: block;
      padding-bottom: 5px;
      font-size: 14px;
      color: $black2;
    }
    .address-text {
      text-align: center;
      word-break: break-all;
      font-weight: bold;
      padding: 0 12px;
      font-size: 14px;
    }
  }
  .qrcode-container {
    padding-top: 20px;
    padding-bottom: 20px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn-grouped {
    margin: 16px auto;
    button {
      width: 150px;
      margin: 8px 4px;
      border: 1px solid map-get($primary, 400) !important;
    }
  }
}
