<div class="receive-container">
  <h2 class="mat-h2 text-center">{{ 'your zoobc address' | translate }}</h2>
  <div class="address-text">
    <span>{{ urlReqCoin }}</span>
    <span class="copy-address" (click)="onCopyText($event)">
      <i class="far fa-copy"></i>
    </span>
  </div>
  <div class="qrcode-container">
    <ngx-qrcode qrc-element-type="canvas" [qrc-value]="qrCodeStr"></ngx-qrcode>

    <div class="instruction">
      {{ 'show this QR code to your friend to transfer money to your account' | translate }}
    </div>
  </div>

  <form (submit)="$event.preventDefault()" [formGroup]="formRequest">
    <mat-form-field appearance="outline" color="accent">
      <input
        matInput
        type="text"
        placeholder="{{ 'amount' | translate }}..."
        formControlName="amount"
        (keyup)="onChangeAmount($event.target.value)"
        (change)="onChangeAmount($event.target.value)"
        type="number"
      />
    </mat-form-field>
  </form>
</div>
