<div class="receive-container">
  <h2 class="mat-h2 text-center">{{ 'receive' | translate }}</h2>
  <div class="amount">{{ 'amount' | translate }}</div>
  <form (submit)="$event.preventDefault()" [formGroup]="formRequest">
    <mat-form-field appearance="standard" color="primary">
      <input
        matInput
        style="text-align: end;"
        type="number"
        placeholder="0.00"
        formControlName="amount"
        (keyup)="onChangeAmount($event.target.value)"
        (change)="onChangeAmount($event.target.value)"
      />
      <span class="suffix" matSuffix>ZBC</span>
    </mat-form-field>
  </form>
  <div class="qrcode-container">
    <ngx-qrcode class="qrcode-icon" qrc-element-type="canvas" [qrc-value]="qrCodeStr"></ngx-qrcode>
  </div>
  <div class="address">
    <label class="label">{{ 'your address' | translate }}</label>
    <span class="address-text font-roboto-mono">{{ address.value }}</span>
  </div>
  <div class="btn-grouped">
    <button mat-stroked-button (click)="onCopyText($event, 1)" color="primary">
      <i matPrefix class="far fa-copy"></i>
      <span class="text">{{ 'copy' | translate }}</span>
    </button>
    <button mat-stroked-button (click)="onCopyText($event, 2)" color="primary">
      <i matPrefix class="fa fa-share-alt"></i>
      <span class="text">{{ 'share url' | translate }}</span>
    </button>
  </div>
</div>
