<div class="add-account-container">
  <h2 class="mat-h2 text-center">{{ 'Add New Account' | translate }}</h2>
  <form [formGroup]="formAddAccount" (submit)="onAddAccount()" class="grid">
    <mat-form-field appearance="outline" color="accent">
      <mat-label>{{ 'Account Name' | translate }}</mat-label>
      <input matInput type="text" formControlName="name" />
    </mat-form-field>
    <ng-container *ngIf="accountNameField.touched">
      <mat-error *ngIf="accountNameField.hasError('required')">
        {{ 'Account name is required' | translate }}
      </mat-error>
    </ng-container>
    <button mat-flat-button color="primary" type="submit">
      {{ 'Add' | translate }}
    </button>
  </form>
</div>
