<div class="add-account-container">
  <h2 class="mat-h2 text-center">{{ 'Add New Account' }}</h2>
  <form [formGroup]="formAddAccount" (submit)="onAddAccount()">
    <mat-form-field appearance="outline" color="accent" class="block">
      <mat-label>{{ 'Account Name' }}</mat-label>
      <input matInput type="text" formControlName="name" />
    </mat-form-field>
    <ng-container *ngIf="accountNameField.touched">
      <mat-error *ngIf="accountNameField.hasError('required')">
        {{ 'Account name is required' }}
      </mat-error>
    </ng-container>

    <div style="margin-bottom: 16px;">
      <mat-checkbox [value]="isMultiSignature" (click)="toogleMultiSignature()">
        {{ 'Multisignature Account' }}
      </mat-checkbox>
    </div>

    <ng-container *ngIf="isMultiSignature">
      <label>{{ 'Participants' }}</label>
      <div formArrayName="participants">
        <ng-container *ngFor="let participant of participantsField.controls; let i = index">
          <ng-container *ngIf="i > 1">
            <div class="inline-control">
              <input-address
                class="input"
                label=""
                [formControlName]="i"
                placeholder="{{ 'Participant' }} {{ i + 1 }}..."
              >
              </input-address>
              <button (click)="removeParticipant(i)" type="button" mat-flat-button color="warn">
                <i class="fas fa-trash"></i>
              </button>
            </div>
          </ng-container>
          <ng-container *ngIf="i <= 1">
            <input-address label="" [formControlName]="i" placeholder="{{ 'Participant' }} {{ i + 1 }}...">
            </input-address>
          </ng-container>
          <ng-container *ngIf="participantsField.controls[i].touched">
            <mat-error *ngIf="participantsField.controls[i].hasError('required')">
              {{ 'Participant is required' }}
            </mat-error>
            <mat-error *ngIf="participantsField.controls[i].hasError('invalidAddress')">
              {{ 'Participant address is invalid' }}
            </mat-error>
          </ng-container>
        </ng-container>
      </div>
      <ng-container *ngIf="participantsField.touched">
        <mat-error *ngIf="participantsField.hasError('duplicate')">
          <br />
          <span>{{ 'Participant must be unique' }}</span>
        </mat-error>
      </ng-container>

      <div class="text-right" style="margin-top: 8px;">
        <button (click)="addParticipant()" mat-flat-button color="primary" type="button" class="small">
          {{ 'Add Participants' }}
        </button>
      </div>
      <mat-form-field appearance="outline" color="accent" class="block">
        <mat-label>{{ 'Nonce' }}</mat-label>
        <input formControlName="nonce" matInput type="number" placeholder="{{ 'Nonce' }}" />
      </mat-form-field>
      <ng-container *ngIf="nonceField.touched">
        <mat-error *ngIf="nonceField.hasError('required')">
          {{ 'Nonce is required' }}
        </mat-error>
        <mat-error *ngIf="nonceField.hasError('min')">
          {{ 'Minimum nonce is 1' }}
        </mat-error>
      </ng-container>

      <mat-form-field appearance="outline" color="accent" class="block">
        <mat-label>{{ 'Minimum Signature' }}</mat-label>
        <input
          formControlName="minimumSignature"
          matInput
          type="number"
          placeholder="{{ 'Minimum Signature' }}"
        />
      </mat-form-field>
      <ng-container *ngIf="minSignatureField.touched">
        <mat-error *ngIf="minSignatureField.hasError('required')">
          {{ 'Minimum signature is required' }}
        </mat-error>
        <mat-error *ngIf="minSignatureField.hasError('min')">
          {{ 'Minimum signature is 2' }}
        </mat-error>
      </ng-container>
    </ng-container>

    <button mat-flat-button color="primary" type="submit" [disabled]="formAddAccount.invalid" class="block">
      {{ 'Add' }}
    </button>
  </form>
</div>
