@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.multisig-list-container {
  .multisig-transaction-item {
    border-bottom: 1px solid #ddd;
    padding: 16px 6px;
    margin: 0;
    align-items: center;
    @include transition(0.3s ease-in all);
    &.hover:hover {
      background-color: #eee;
      cursor: pointer;
    }
    .transaction-id {
      word-break: break-all;
      color: $black2;
      font-size: 14px;
      margin-bottom: 8px;
      .tx-id {
        font-family: 'Roboto Mono', monospace;
      }
    }

    .date {
      color: $black2;
      font-size: 13px;
    }
  }
}

.detail-transaction-container {
  .row {
    color: $black1;
    padding: 8px;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    word-break: break-all;

    .icon-redirect {
      cursor: pointer;
      margin-left: 5px;
    }

    div:nth-child(odd) {
      padding: 4px 0;
      font-size: 13px;
      font-weight: bold;
      color: $black2;
    }

    div:nth-child(even) {
      padding: 4px 0;
    }

    .participant-info {
      color: map-get($accent, 500);
    }
  }
}
