<div class="my-multisig-history-container">
  <div class="row">
    <div class="col-10">
      <h2 class="mat-h2 title">
        {{ 'multisignature approval history' | translate }}
        <span class="text-refresh" *ngIf="!isError && !isLoading"
          >( {{ 'last refresh' | translate }}: {{ lastRefresh | dateAgo }} )</span
        >
      </h2>
    </div>
    <div class="col-2 text-right" *ngIf="!isError && !isLoading">
      <button mat-icon-button class="reload-button" (click)="getMultiSigTransaction(true)">
        <i class="fa fa-redo-alt"></i>
      </button>
    </div>
  </div>
  <div>
    <mat-label>{{ 'signedby' | translate }}</mat-label>
    <account-selector
      (select)="onSwitchAccount($event)"
      type="normal"
      [addresses]="participants"
      [switchAccount]="true"
      [withBalance]="false"
    ></account-selector>
  </div>
  <mat-card style="padding: 0;">
    <div
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScroll()"
      [scrollWindow]="false"
      [infiniteScrollContainer]="'.mat-drawer-content'"
      [fromRoot]="true"
    >
      <div class="multisig-list-container">
        <div class="no-content padding" *ngIf="!isLoading && multisigHistory.length <= 0">
          <i matPrefix class="fa fa-receipt"></i>
          <span class="message">{{ 'no multisignature approval history' | translate }}</span>
        </div>
        <div
          class="multisig-transaction-item hover row"
          *ngFor="let multisig of multisigHistory; let i = index"
          (click)="
            onOpenDetailTransaction(
              multisig.multisignaturetransactionbody.signatureinfo.transactionhash,
              multisig.id
            )
          "
        >
          <div class="col-12 col-sm-12">
            <div class="transaction-id ">
              {{ 'transaction' | translate }}
              <span class="tx-id">{{ multisig.id }}</span>
            </div>
            <div class="date">
              {{ multisig.timestamp * 1000 | dateAgo }}
            </div>
          </div>
        </div>

        <ng-container *ngIf="isLoading">
          <div class="multisig-transaction-item row skeleton" *ngFor="let i of [0, 1, 2, 3, 4, 5]">
            <div class="col-7 col-sm-8">
              <div class="skeleton-text" style="width:50%;"></div>
              <div class="skeleton-text small" style="width:75%;"></div>
              <div class="skeleton-text small" style="width:25%;"></div>
            </div>
            <div class="col-5 col-sm-4">
              <div class="skeleton-text" style="width:71%;float:right"></div>
              <div class="skeleton-text small" style="width:80%;float:right"></div>
            </div>
          </div>
        </ng-container>
        <div class="no-content padding" *ngIf="isError">
          <i matPrefix class="fa fa-exclamation-triangle"></i>
          <span class="message">
            {{ 'an error occurred while processing your request' | translate }}
          </span>
          <button mat-flat-button color="primary" (click)="onRefresh()">
            {{ 'try again' | translate }}
          </button>
        </div>
      </div>
    </div>
  </mat-card>
</div>

<ng-template #detailTransaction>
  <div class="detail-transaction-container" *ngIf="transactionDetail && !isLoadingDetail">
    <div class="row">
      <div class="col-12 col-md-4">{{ 'transaction hash' | translate }}:</div>
      <div class="col-12 col-md-8">
        <a [href]="'https://zoobc.net/transactions/' + transactionId" target="_blank">
          <wallet-address [value]="transactionDetail.transactionHash"></wallet-address>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4">{{ 'sender' | translate }}:</div>
      <div class="col-12 col-md-8">
        <wallet-address [value]="transactionDetail.sender.value"></wallet-address>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4">{{ 'recipient' | translate }}:</div>
      <div class="col-12 col-md-8">
        <wallet-address [value]="transactionDetail.recipient.value"></wallet-address>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4">{{ 'amount' | translate }}:</div>
      <div class="col-12 col-md-8">{{ transactionDetail.amount / 1e8 | number: '0.0-8' }} ZBC</div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4">{{ 'fee' | translate }}:</div>
      <div class="col-12 col-md-8">{{ transactionDetail.fee / 1e8 | number: '0.0-8' }} ZBC</div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4">{{ 'blockheight' | translate }}:</div>
      <div class="col-12 col-md-8">{{ transactionDetail.height | number }}</div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4">{{ 'date' | translate }}:</div>
      <div class="col-12 col-md-8">
        {{ transactionDetail.timestamp | date: 'medium' }}
      </div>
    </div>
  </div>
  <div class="detail-transaction-container skeleton" *ngIf="isLoadingDetail">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="skeleton-text" style="width:20%;"></div>
      </div>
      <div class="col-12 col-md-8">
        <div class="skeleton-text" style="width:50%;"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="skeleton-text" style="width:50%;"></div>
      </div>
      <div class="col-12 col-md-8">
        <div class="skeleton-text" style="width:100%;"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="skeleton-text" style="width:30%;"></div>
      </div>
      <div class="col-12 col-md-8">
        <div class="skeleton-text" style="width:30%;"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="skeleton-text" style="width:50%;"></div>
      </div>
      <div class="col-12 col-md-8">
        <div class="skeleton-text" style="width:30%;"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="skeleton-text" style="width:70%;"></div>
      </div>
      <div class="col-12 col-md-8">
        <div class="skeleton-text" style="width:40%;"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="skeleton-text" style="width:40%;"></div>
      </div>
      <div class="col-12 col-md-8">
        <div class="skeleton-text" style="width:100%;"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="skeleton-text" style="width:40%;"></div>
      </div>
      <div class="col-12 col-md-8">
        <div class="skeleton-text" style="width:100%;"></div>
      </div>
    </div>
  </div>
</ng-template>
