<div>
  <ng-container *ngIf="unconfirmTx && unconfirmTx.length > 0">
    <div class="row">
      <div class="col-10">
        <h2 class="mat-h2">{{ 'Pending Transaction' | translate }}</h2>
      </div>
      <div class="col-2 text-right">
        <button mat-icon-button class="reload-button" (click)="getTx(true)">
          <i class="fa fa-redo-alt"></i>
        </button>
      </div>
    </div>
    <app-transaction-table [transactionData]="unconfirmTx"></app-transaction-table>
    <br />
  </ng-container>

  <div class="row">
    <div class="col-10">
      <h2 class="mat-h2 title">
        {{ 'Transaction History' | translate }}
        <span class="text-refresh" *ngIf="!isError && !isLoading"
          >( {{ 'Last Refresh' | translate }}: {{ lastRefresh | dateAgo }} )</span
        >
      </h2>
    </div>
    <div class="col-2 text-right" *ngIf="!isError && !isLoading">
      <button mat-icon-button class="reload-button" (click)="getTx(true)">
        <i class="fa fa-redo-alt"></i>
      </button>
    </div>
  </div>
  <div
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()"
    [scrollWindow]="false"
    [infiniteScrollContainer]="'.mat-drawer-content'"
    [fromRoot]="true"
  >
    <app-transaction-table
      [withDetail]="true"
      [transactionData]="accountHistory"
      [isLoading]="isLoading"
      [isError]="isError"
      (refresh)="getTx(true)"
    ></app-transaction-table>
  </div>
</div>
