<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Transaction History</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Account</th>
            <th>Amount</th>
            <th>Fee</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Account</th>
            <th>Amount</th>
            <th>Fee</th>
          </tr>
        </tfoot>
        <tbody>
          <tr *ngFor="let transaction of (accountHistory | async)?.transactions | paginate: config">
           <td>{{transaction.Timestamp | date: 'yyyy-MM-dd'}}</td>
           <td>{{transaction.Type === 0 ? "Send Money" : "Receive Money" }}</td> 
           <td>{{transaction.Type === 0 ? transaction.Recipient : transaction.senderPublicKey }}</td>
           <td>{{transaction.AmountNQT/1e8}}</td>
           <td>{{transaction.feeNQT/1e8}}</td>
          </tr>
        </tbody>
      </table>
      <pagination-controls class="pagination" (pageChange)="pageChanged($event)"></pagination-controls>
    </div>
  </div>
</div>
