<div class="mat-h2">Download Certificate</div>

<div style="margin-bottom: 8px;">Secure your certificate by using password</div>
<form [formGroup]="form" (submit)="onSetPassword($event)">
  <mat-form-field appearance="outline" color="accent" class="block">
    <mat-label>Password</mat-label>
    <input formControlName="password" matInput type="password" placeholder="Password" />
  </mat-form-field>
  <ng-container *ngIf="passwordField.touched">
    <mat-error *ngIf="passwordField.hasError('required')">
      Password is required
    </mat-error>
  </ng-container>

  <mat-form-field appearance="outline" color="accent" class="block">
    <mat-label>Confirm Password</mat-label>
    <input
      formControlName="confirmPass"
      matInput
      type="password"
      placeholder="Confirm Password"
      (keyup)="changeConfirmPass()"
    />
  </mat-form-field>
  <ng-container *ngIf="confirmPassField.touched">
    <mat-error *ngIf="confirmPassField.hasError('required')">
      Password must be confirm
    </mat-error>
    <mat-error *ngIf="confirmPassField.hasError('notmatch')">
      Password is not matched
    </mat-error>
  </ng-container>

  <button mat-flat-button color="primary" [disabled]="form.invalid || isLoading" class="block">
    <i matPrefix class="fa fa-download"></i>
    Download
  </button>
</form>
