@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.mat-h1 {
  font-size: 24px;
  font-weight: bold;
  color: map-get($primary, 500);
  margin-bottom: 12px;
}

.seat-detail-container {
  .title {
    color: $black2;
  }
  .address {
    margin-top: 4px;
    margin-bottom: 16px;
    display: block;
    word-break: break-all;
    color: $black1;
  }
  .zoobc-address {
    margin-bottom: 16px;
    > .address {
      margin-bottom: 8px;
    }
  }

  .hint {
    font-size: 12px;
    color: $black2;
    margin-bottom: 12px;
    text-align: right;
  }
}

.done {
  background-color: #4caf50 !important;
}

.numbering {
  border-radius: 24px;
  height: 24px;
  width: 24px;
  border: 2px solid map-get($primary, 500);
  padding: 2px 6px;
  color: #1261a1;
  font-size: 13px;
}
