<div class="add-node-admin-container">
  <h2 class="mat-h2 text-center">{{ 'Add Node Admin' | translate }}</h2>
  <form [formGroup]="formAddNodeAdmin" (submit)="onAddNodeAdmin()">
    <mat-form-field appearance="outline" color="accent">
      <mat-label>{{ "Node's IP Address" | translate }}</mat-label>
      <input
        matInput
        type="text"
        placeholder="https://yournode.com:8001 or http://192.168.43.1:8001"
        formControlName="ipAddress"
      />
    </mat-form-field>
    <ng-container *ngIf="ipAddressField.touched">
      <mat-error *ngIf="ipAddressField.hasError('required')">
        {{ 'IP address is required' | translate }}
      </mat-error>
      <mat-error *ngIf="ipAddressField.hasError('pattern')">
        {{ 'Invalid IP address format' | translate }}
      </mat-error>
    </ng-container>
    <button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="isLoading || formAddNodeAdmin.invalid"
    >
      <span *ngIf="isLoading">
        <i class="fas fa-circle-notch fa-spin"></i>&nbsp;
      </span>
      <span>{{ 'Add' | translate }}</span>
    </button>
    <button
      mat-button
      mat-dialog-close
      routerLink="/nodeadmin/demo"
      color="accent"
      style="margin-top: 8px; margin-bottom: -8px;"
    >
      {{ 'See the Node Admin Demo' | translate }}
    </button>
  </form>
</div>
