<div class="signup-page">
  <div class="container">
    <h3 class="h3 text-center">Create New Account</h3><br>
    <div class="card shadow mb-4">
      <div class="card-body text-center">
        <h5 class="h5">Your Passphrase</h5>
        <div class="row">
          <div class="col-4" *ngFor="let p of phaseprase; let key = index">
            <div class="box-passphrase">
              <div class="number">{{key}}</div>
              <div class="word">{{p}}</div>
            </div>
          </div>
        </div>
        <br>

        <button class="btn btn-primary btn-icon-split">
          <span class="icon text-white-50">
            <i class="fas fa-copy"></i>
          </span>
          <span class="text">Copy Passphrase</span>
        </button>
        <br><br>

        <h5 class="h5 text-center">Your Public Account Address</h5>
        <div class="public-address">
          <span>NXT-NAB8-FJBZ-SPSL-4FD54</span>
          <a href="#"><i class="fas fa-copy"></i></a>
        </div>

        <div class="text-left">
          <div class="alert alert-warning" role="alert">
            <b>Attention:</b> Don't ever disclose your passphrase. If you lose it you lose access to your account!
          </div>

          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="check1">
            <label class="form-check-label" for="check1">I have written down or otherwise securly stored my
              passphrase</label>
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="check2">
            <label class="form-check-label" for="check2">I Agree To The Terms & Conditions</label>
          </div>
        </div>

        <div class="text-right">
          <a href="#" class="btn btn-success btn-icon-split">
            <span class="icon text-white-50">
              <i class="fas fa-key"></i>
            </span>
            <span class="text">Set My Pin</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>