@import '../../../styles/variables';

.signup-container {
  text-align: center;
  h2 {
    font-weight: bold;
    margin-bottom: 24px;
  }
  h4 {
    font-weight: bold;
    color: $black2;
  }
  .language-selector {
    text-align: left;
    max-width: 600px;
    margin: 8px auto;
  }
  .passphrase-section {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    .box-passphrase {
      display: flex;
      margin: 8px 0;
      border-radius: 6px;
      overflow: hidden;
      font-size: 14px;
      .number {
        background-color: map-get($primary, 200);
        width: 32px;
        color: white;
        text-align: center;
        padding: 8px;
      }
      .word {
        background-color: map-get($primary, 100);
        color: map-get($primary, 600);
        width: calc(100% - 32px);
        text-align: center;
        padding: 8px 0px;
      }
    }

    .cover-passphrase {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #f2f3f4;
      border-radius: 6px;
      opacity: 0.7;
      cursor: pointer;
      display: flex;
      &.hide {
        display: none;
      }

      .text-cover {
        display: flex;
        flex-flow: column;
        font-size: 20px;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
      }
    }
  }

  .blur {
    filter: blur(5px);
  }

  .btn-grouped {
    margin: 16px auto;
    text-align: center;
    font-weight: bold;
    button {
      margin: 0 4px 8px 4px;
    }
  }

  .warning-box {
    background-color: #fff176;
    color: $black2;
    padding: 16px;
    border-radius: 6px;
    margin-bottom: 16px;
  }
}
