.signup-page {
  background-color: #4e73df;
  padding-top: 24px;
  min-height: 100vh;
  height: 100%;
  .container {
    max-width: 560px;
  }
  h3 {
    color: white;
    font-weight: bold;
  }
  h5 {
    margin-bottom: 16px;
  }
  .box-passphrase {
    display: flex;
    // color: white;
    margin: 8px 0;
    .number {
      // background-color: #4e73df;
      width: 24px;
      border-bottom: 1px solid gray;
    }
    .word {
      // background-color: #4e73df;
      width: calc(100% - 24px);
      border-bottom: 1px solid gray;
    }
  }
  .public-address {
    background-color: #e3f2fd;
    color: #64b5f6;
    font-weight: bold;
    padding: 8px 16px;
    display: inline-block;
    font-size: 18px;
    margin-left: 8px;
    margin-bottom: 16px;
    i {
      margin-left: 8px;
      font-size: 18px;
    }
  }
}