<div class="login-page">
  <div class="container">
    <h3 class="h3 text-center" style="margin-bottom:24px">Spinechain Logo</h3>
    <div class="card shadow mb-4">
      <div class="card-body">
        <h5 class="h5 text-center">Login Spinechain</h5>
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Your Passphrase">
        </div>

        <a [routerLink]="['/dashboard']" class="btn btn-success btn-icon-split">
          <span class="icon text-white-50">
            <i class="fas fa-check"></i>
          </span>
          <span class="text">Login</span>
        </a>
        <a [routerLink]="['/signup']" class="btn btn-transparent">
          <span class="text">Create new account</span>
        </a>
      </div>
    </div>
  </div>
</div>
