@import '../../../styles/variables';
@import '../../../styles/mixins';

.escrow-list-container {
  .escrow-item {
    border-bottom: 1px solid #ddd;
    padding: 16px 6px;
    margin: 0;
    align-items: center;
    &:first-child {
      border-top: 1px solid #ddd;
    }
    &.hover:hover {
      background-color: #eee;
      cursor: pointer;
    }
    .alias-task {
      word-break: break-all;
      color: $black1;
      font-size: 15px;
      margin-bottom: 8px;
      font-weight: bold;
    }
    .title-task {
      word-break: break-all;
      color: $black1;
      font-size: 13px;
      margin-bottom: 8px;
    }
    .timeout {
      color: $black1;
      font-size: 13px;
    }
    .commission-receive {
      color: #4caf50;
      font-size: 18px;
      font-weight: bold;
    }
    @media (max-width: 600px) {
      .message {
        text-align: center;
      }
    }
  }
}

.detail-task-container {
  .row {
    color: $black1;
    padding: 8px;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    word-break: break-all;
    div:nth-child(odd) {
      padding: 4px 0;
      font-size: 13px;
      font-weight: bold;
      color: $black2;
    }
    div:nth-child(even) {
      padding: 4px 0;
    }
  }
}
