<div class="qr-scanner-container">
  <h2 class="mat-h2 text-center">{{ 'Point the Camera to QR Code' | translate }}</h2>
  <div class="scanner">
    <ng-container *ngIf="availableDevices && availableDevices.length > 1">
      <button color="basic" class="btn-switch" (click)="onSwitch()" mat-mini-fab>
        <mat-icon>cached</mat-icon>
      </button>
    </ng-container>

    <zxing-scanner #scanner [device]="currentDevice" (scanSuccess)="onCodeResult($event)"></zxing-scanner>
  </div>
  <button
    *ngIf="availableDevices"
    style="margin-top: 16px;"
    mat-flat-button
    (click)="onClose()"
    color="warn"
    type="button"
    class="block"
  >
    {{ 'Close' | translate }}
  </button>
</div>
