@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.multisig-list-container {
  .multisig-transaction-item {
    border-bottom: 1px solid #ddd;
    padding: 16px 6px;
    margin: 0;
    align-items: center;
    @include transition(0.3s ease-in all);
    &.hover:hover {
      background-color: #eee;
      cursor: pointer;
    }
    .task-item {
      margin-bottom: 16px;
      .label-task {
        color: $black2;
        font-size: 12px;
        margin-bottom: 4px;
        .value-task {
          color: $black1;
          font-size: 16px;
        }
      }
    }
  }
}
