<div class="multisig-list-container">
  <ng-container *ngIf="pendingListMultiSig">
    <div class="no-content padding" *ngIf="pendingListMultiSig.length <= 0">
      <i matPrefix class="fa fa-receipt"></i>
      <span class="message">{{ 'no pending multisignature transaction' | translate }}</span>
    </div>
    <div
      class="multisig-item hover row"
      *ngFor="let multisig of pendingListMultiSig; let i = index"
      (click)="openDetailMultiSignature(multisig.transactionHash)"
    >
      <div class="col-12 col-sm-6">
        <div class="label">{{ 'sender' | translate }}:</div>
        <div style="margin-bottom: 16px;">
          <wallet-address [value]="multisig.sender.value" [copyButton]="false"></wallet-address>
        </div>

        <div class="label">{{ 'recipient' | translate }}:</div>
        <div style="margin-bottom: 16px;">
          <wallet-address [value]="multisig.recipient.value" [copyButton]="false"></wallet-address>
        </div>
      </div>

      <div class="col-12 col-sm-6 text-right">
        <div class="label">{{ 'amount' | translate }}</div>
        <div style="margin-bottom: 16px;">ZBC {{ multisig.txBody.amount / 1e8 | number: '0.0-8' }}</div>

        <div class="label" style="display: block;">{{ 'fee' | translate }}</div>
        <div>ZBC {{ multisig.fee / 1e8 | number: '0.0-8' }}</div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="isLoading">
    <div class="multisig-item row skeleton" *ngFor="let i of [0, 1, 2, 3, 4]">
      <div class="col-7 col-sm-8">
        <div class="skeleton-text small" style="width:25%;"></div>
        <div class="skeleton-text" style="width:100%;"></div>
        <br />

        <div class="skeleton-text small" style="width:25%;"></div>
        <div class="skeleton-text" style="width:100%;"></div>
      </div>
      <div class="col-5 col-sm-4">
        <div class="skeleton-text small" style="width:80%;float:right"></div>
        <div class="skeleton-text" style="width:71%;float:right; margin-bottom: 16px;"></div>

        <div class="skeleton-text small" style="width:80%;float:right"></div>
        <div class="skeleton-text" style="width:71%;float:right"></div>
      </div>
    </div>
  </ng-container>

  <div class="no-content padding" *ngIf="isError">
    <i matPrefix class="fa fa-exclamation-triangle"></i>
    <span class="message">
      {{ 'an error occurred while processing your request' | translate }}
    </span>
    <button mat-flat-button color="primary" (click)="onRefresh()">
      {{ 'try again' | translate }}
    </button>
  </div>
</div>
