body {
  height: 100vh;
  background-color: #e3f2fd;
  margin: 0px;
  font-family: 'Roboto', sans-serif !important;
}

a:not([href='']) {
  text-decoration: none;
  font-weight: 400;
  color: $primary-color;
  @include transition(0.3s ease-in all);
  &:hover {
    opacity: 0.7;
  }
}

.reload-button {
  font-size: 18px !important;
  color: $black2 !important;
}

.no-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $black3;
  padding: 2rem;
  i {
    font-size: 3rem;
    margin: 1rem 0;
  }
  .message {
    font-size: 1.1rem;
    margin: 0.5rem 0;
  }
}

// ==================== DIALOG =====================
.mat-dialog-container {
  padding: 24px 16px !important;
}

// ==================== CARD ========================
.mat-card {
  box-shadow: 0 0 10px rgba(52, 61, 72, 0.2) !important;
  border-radius: 8px !important;
}

// ==================== ACCORDION ========================
.mat-accordion {
  .mat-expansion-panel {
    box-shadow: none !important;
    border: 1px solid #ddd;
    &:not(first-of-type) {
      margin-top: -1px;
    }
    &.mat-expansion-panel-spacing {
      margin: 16px 0 !important;
    }
    &:first-of-type,
    &:last-of-type {
      box-shadow: none !important;
    }
    &:first-of-type {
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
    }
    &:last-of-type {
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
    }
  }
}

// ===================== CUSTOM BUTTON =================
button[mat-flat-button] {
  text-transform: uppercase;
  border-radius: 4px;
  *[matPrefix] {
    margin-right: 12px;
  }
  &.block {
    width: 100%;
  }
}

// ====================== TEXT ALIGNMENT ======================
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

// ============================ CUSTOM GRID ========================
.row {
  padding: 0px;
  margin: 0 -8px;
  [class^='col'] {
    padding: 0 8px;
  }
}

// ============================ FORM ========================

label {
  font-size: 13px;
  color: $black2;
  font-weight: bold;
}

.mat-form-field {
  .mat-form-field-prefix {
    top: 0px !important;
    padding: 12px 0 !important;
  }
  .mat-form-field-infix {
    padding: 12px 0 !important;
    border: 0 !important;
  }
  .mat-form-field-flex {
    margin: 0 !important;
  }
  .mat-form-field-outline {
    top: 0 !important;
  }
  .mat-form-field-label {
    font-size: 14px !important;
    margin: 0 !important;
    top: 27px !important;
  }
  &.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
    .mat-form-field-label {
    margin-top: 4px !important;
    transform: translateY(-1.59373em) scale(0.7) !important;
  }

  .mat-select-arrow-wrapper {
    transform: none !important;
  }

  &.block {
    width: 100%;
  }
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
  padding-bottom: 8px !important;
}

.mat-error {
  font-size: 14px;
}

// ============================ SWAL CUSTOM STYLE ========================

.swal2-styled {
  border-radius: 8px !important;
  font-weight: bold !important;
}
.swal2-confirm {
  background: linear-gradient(45deg, #0288d1 30%, #26c6da 90%) !important;
}
.swal2-title {
  font-size: 24px !important;
  font-weight: 400 !important;
}

// ================== SKELETON LOADER =============== //
.skeleton {
  // &:hover { background-color: white !important; }
  .skeleton-image {
    background-color: #eeeeee !important;
    background-image: none;
    margin-bottom: 16px;
    border-radius: 6px;
    &.rounded {
      border-radius: 100%;
    }
  }
  .skeleton-text {
    height: 16px;
    // background-color: #eeeeee;
    background-image: linear-gradient(
      90deg,
      #f4f4f4 0px,
      rgba(229, 229, 229, 0.8) 40px,
      #f4f4f4 80px
    );
    background-size: 1000px;
    margin-bottom: 8px;
    border-radius: 6px;
    animation: shine-lines 2s infinite ease-out;
    &.big {
      height: 24px;
    }
    &.small {
      height: 12px;
    }
  }
  .margin-16 {
    margin-bottom: 16px;
  }
  .margin-24 {
    margin-bottom: 24px;
  }
}

@keyframes shine-lines {
  0% {
    background-position: -100px;
  }
  40%,
  100% {
    background-position: 200px;
  }
}

// ================== DATA NOT AVAILABLE =============== //
.data-unavailable {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $black3;
  padding: 2rem;
  i {
    font-size: 3rem;
    margin: 1rem 0;
  }
  .message {
    font-size: 1.1rem;
    margin: 0.5rem 0;
  }
}
