.transaction-table {
  .transaction-item {
    border-bottom: 1px solid #ddd;
    padding: 16px 6px;
    margin: 0;
    align-items: center;
    @include transition(0.3s ease-in all);
    &.hover:hover {
      background-color: #eee;
      cursor: pointer;
    }

    .label {
      color: $black2;
      font-size: 13px;
    }

    .name {
      font-size: 16px;
      margin-bottom: 4px;
    }
    .address {
      word-break: break-all;
      color: $black1;
      font-size: 13px;
      margin-bottom: 4px;
      &.withContact {
        font-size: 12px;
        color: $black2;
      }
    }

    .date {
      color: $black2;
      font-size: 13px;
      margin-right: 10px;
    }

    .amount-receive,
    .amount-send {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 4px;
    }
    .amount-send {
      color: #f44336;
    }
    .amount-receive {
      color: #4caf50;
    }
    .fee {
      color: #f44336;
      font-size: 12px;
      margin-bottom: 4px;
    }
    .amount-currency {
      color: $black2;
      font-size: 12px;
      margin-bottom: 4px;
    }

    .status-approval {
      display: inline-block;
      padding: 6px 16px;
      line-height: 14px;
      border-radius: 14px;
      text-transform: capitalize;
      margin-bottom: 6px;

      &.red {
        background-color: #ffcdd2;
        color: #f44336;
      }
      &.green {
        background-color: #c8e6c9;
        color: #4caf50;
      }
    }

    .description {
      display: flex;
      align-items: center;
      float: right;
      .small {
        font-size: 11px !important;
        padding: 4px 8px !important;
      }
      .status {
        margin-left: 4px;
      }
    }
  }
  @media (max-width: 600px) {
    .message {
      text-align: center;
    }
  }
}

.transaction-detail-container {
  .row {
    .icon-redirect {
      cursor: pointer;
      margin-left: 5px;
    }
    color: $black1;
    padding: 8px;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    > div:nth-child(odd) {
      padding: 4px 0;
      font-size: 13px;
      font-weight: bold;
      color: $black2;
    }
    > div:nth-child(even) {
      padding: 4px 0;
    }
  }
}
