// header properties
$header-height: 64px;
$brand-width: 200px;

// sidebar properties
$sidebar-width: 88px;

// parent properties
$parent-width: 880px;

// Media Query Ranges
$small-screen-up: 576px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 575.98px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: 'only screen and (min-width : #{$small-screen-up})' !default;
$large-and-up: 'only screen and (min-width : #{$medium-screen-up})' !default;
$extra-large-and-up: 'only screen and (min-width : #{$large-screen-up})' !default;
$small-and-down: 'only screen and (max-width : #{$small-screen})' !default;
$medium-and-down: 'only screen and (max-width : #{$medium-screen})' !default;
$medium-only: 'only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})' !default;

// black
$black1: #222428;
$black2: #727588;
$black3: #dadce7;
$black4: #f4f5f8;

// white
$white1: rgba(
  $color: white,
  $alpha: 0.8,
);
$white2: rgba(
  $color: white,
  $alpha: 0.6,
);
$white3: rgba(
  $color: white,
  $alpha: 0.4,
);

$primary: (
  50: #ecf1f8,
  100: #c7d6ea,
  200: #a2bbdc,
  300: #7d9fcf,
  400: #4576ba,
  500: #3e6aa7,
  600: #28456d,
  700: #233b5d,
  800: #152338,
  contrast: (
    50: $black1,
    100: $black1,
    200: $black1,
    300: $black1,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
  ),
);

$red: #d3433c;
$green: #1d8b49;

$primary-gradient: linear-gradient(45deg, map-get($primary, 600), map-get($primary, 400));
$error-gradient: linear-gradient(45deg, #c62828, #ef5350);
