<div class="my-task-container">
  <h2 class="mat-h2">
    {{ 'my tasks' | translate }}
  </h2>
  <mat-card style="padding: 0;">
    <mat-tab-group mat-align-tabs="center" color="accent">
      <ng-container *ngIf="account.type === 'normal'">
        <mat-tab label="{{ 'escrow approval' | translate }}">
          <div class="row" style="margin: 0;">
            <div class="col-6 col-md-6" style="margin-top: 10px;">
              <a routerLink="/escrow-approval-history" class="approval-history">
                <i class="fa fa-history" aria-hidden="true"></i> {{ 'approval history' | translate }}
              </a>
            </div>
            <div class="col-6 col-md-6">
              <div class="text-right">
                <button mat-icon-button class="reload-button" (click)="reload(true)">
                  <i class="fa fa-redo-alt"></i>
                </button>
                <label class="block-height" *ngIf="!isLoadingBlockHeight"
                  ><b>{{ 'block height' | translate }} : {{ blockHeight | number }}</b></label
                >
              </div>
            </div>
          </div>
          <div
            infiniteScroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="50"
            (scrolled)="onScrollEscrow()"
            [scrollWindow]="false"
            [infiniteScrollContainer]="'.mat-drawer-content'"
            [fromRoot]="true"
          >
            <app-escrow-transactions
              [escrowTransactionsData]="escrowTransactions"
              [withDetail]="true"
              [isLoading]="isLoadingEscrow"
              [isError]="isErrorEscrow"
              (refresh)="getEscrowTx(true)"
            ></app-escrow-transactions>
          </div>
        </mat-tab>
      </ng-container>
      <ng-container *ngIf="account.type === 'multisig'">
        <mat-tab label="Multisignature">
          <div class="row" style="margin: 0;">
            <div class="col-6 col-md-6" style="margin-top: 10px;">
              <a routerLink="/multisig-approval-history" class="approval-history">
                <i class="fa fa-history"></i> {{ 'approval history' | translate }}
              </a>
            </div>
            <div class="col-6 col-md-6">
              <div class="text-right">
                <button mat-icon-button class="reload-button" (click)="reload(true)">
                  <i class="fa fa-redo-alt"></i>
                </button>
              </div>
            </div>
          </div>
          <div
            infiniteScroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="50"
            (scrolled)="onScrollMultiSig()"
            [scrollWindow]="false"
            [infiniteScrollContainer]="'.mat-drawer-content'"
            [fromRoot]="true"
          >
            <app-multisig-transaction
              [pendingListMultiSig]="multiSigPendingList"
              [withDetail]="true"
              [isLoading]="isLoadingMultisig"
              [isError]="isErrorMultiSig"
              (refresh)="getMultiSigPendingList(true)"
            ></app-multisig-transaction>
          </div>
        </mat-tab>
        <mat-tab label="{{ 'escrow approval' | translate }}">
          <div class="row" style="margin: 0;">
            <div class="col-6 col-md-6" style="margin-top: 8px;">
              <a routerLink="/escrow-approval-history" class="approval-history">
                <i class="fa fa-history" aria-hidden="true"></i>
                {{ 'approval history' | translate }}
              </a>
            </div>
            <div class="col-6 col-md-6">
              <div class="text-right">
                <button mat-icon-button class="reload-button" (click)="reload(true)">
                  <i class="fa fa-redo-alt"></i>
                </button>
                <label class="block-height" *ngIf="!isLoadingBlockHeight"
                  ><b>{{ 'block height' | translate }} : {{ blockHeight | number }}</b></label
                >
              </div>
            </div>
          </div>
          <div
            infiniteScroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="50"
            (scrolled)="onScrollEscrow()"
            [scrollWindow]="false"
            [infiniteScrollContainer]="'.mat-drawer-content'"
            [fromRoot]="true"
          >
            <app-escrow-transactions
              [escrowTransactionsData]="escrowTransactions"
              [withDetail]="true"
              [isLoading]="isLoadingEscrow"
              [isError]="isErrorEscrow"
              (refresh)="getEscrowTx(true)"
            ></app-escrow-transactions>
          </div>
        </mat-tab>
      </ng-container>
    </mat-tab-group>
  </mat-card>
</div>
