@import '../../../styles/variables';
@import '../../../styles/mixins';

.my-task-container {
  .approval-history {
    margin: 8px;
    i {
      margin-right: 8px;
    }
  }
  .block-height {
    color: map-get($accent, 500);
  }
  .mat-tab-label {
    font-weight: bold;
  }
  /* Styles for the active tab label */
  .mat-tab-label.mat-tab-label-active {
    font-weight: bold;
    color: map-get($accent, 500);
  }
}
