@import '../../../styles/variables';
@import '../../../styles/mixins';

.my-task-container {
  .block-height {
    color: map-get($accent, 500);
    margin: 16px 16px 16px 0;
  }
  .mat-tab-label {
    font-weight: bold;
  }
  /* Styles for the active tab label */
  .mat-tab-label.mat-tab-label-active {
    font-weight: bold;
  }

  .reload-button {
    color: $black1 !important;
  }
}
