@import '../../../styles/variables';
@import '../../../styles/mixins';

.my-task-container {
  .approval-history {
    font-size: 14px;
    margin-left: 8px;
    color: map-get($accent, 500);
    &:hover {
      opacity: 0.7;
    }
  }
  .block-height {
    color: map-get($accent, 500);
  }
  .mat-tab-label {
    font-weight: bold;
  }
  /* Styles for the active tab label */
  .mat-tab-label.mat-tab-label-active {
    font-weight: bold;
    color: map-get($accent, 500);
  }
}
