<mat-card class="my-task-card">
  <div class="list-section">
    <mat-tab-group mat-align-tabs="center" color="primary" animationDuration="0ms">
      <ng-container *ngIf="account.type === 'multisig'">
        <mat-tab label="{{ 'multisignature' | translate }}">
          <div class="text-right">
            <span class="mat-body-2" *ngIf="!isLoadingBlockHeight">
              {{ 'block height' | translate }} : {{ blockHeight | number }}
            </span>
            <button
              mat-icon-button
              class="reload-button"
              (click)="onReload()"
              matTooltip="{{ 'refresh' | translate }}"
            >
              <i class="fa fa-redo-alt"></i>
            </button>
          </div>

          <div
            infiniteScroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="50"
            (scrolled)="onScrollMultiSig()"
            [scrollWindow]="false"
            [infiniteScrollContainer]="'.list-section'"
            [fromRoot]="true"
          >
            <app-multisig-transaction
              [pendingListMultiSig]="multiSigPendingList"
              [isLoading]="isLoadingMultisig"
              [isError]="isErrorMultiSig"
              (refresh)="getMultiSigPendingList(true)"
              (txHash)="getTxHash($event)"
            ></app-multisig-transaction>
          </div>
        </mat-tab>
      </ng-container>

      <mat-tab label="{{ 'escrow' | translate }}" (click)="reload(true)">
        <div class="text-right">
          <span class="mat-body-2" *ngIf="!isLoadingBlockHeight">
            {{ 'block height' | translate }} : {{ blockHeight | number }}
          </span>
          <button
            mat-icon-button
            class="reload-button"
            (click)="onReload()"
            matTooltip="{{ 'refresh' | translate }}"
          >
            <i class="fa fa-redo-alt"></i>
          </button>
        </div>

        <div
          infiniteScroll
          [infiniteScrollDistance]="2"
          [infiniteScrollThrottle]="50"
          (scrolled)="onScrollEscrow()"
          [scrollWindow]="false"
          [infiniteScrollContainer]="'.list-section'"
          [fromRoot]="true"
        >
          <app-escrow-transactions
            [escrowTransactionsData]="escrowTransactions"
            [isLoading]="isLoadingEscrow"
            [isError]="isErrorEscrow"
            (refresh)="getEscrowTx(true)"
            (detailEscrowMap)="getDetailEscrow($event)"
            (dismiss)="dismiss()"
          ></app-escrow-transactions>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div class="detail-section small" *ngIf="largeScreen || escrowDetail">
    <div class="detail-task" *ngIf="escrowDetail || txHash">
      <div class="header">
        <h2 class="mat-h2">{{ 'task details' | translate }}</h2>
        <button mat-icon-button class="reload-button" (click)="dismiss()">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <app-multisig-detail [txHash]="txHash" (dismiss)="dismiss()" *ngIf="txHash"></app-multisig-detail>
      <app-escrow-detail [detail]="escrowDetail" *ngIf="escrowDetail"></app-escrow-detail>
    </div>

    <div style="place-items: center; height: 100%; display: grid;" *ngIf="!escrowDetail && !txHash">
      <div class="no-content">
        <i matPrefix class="fa fa-receipt"></i>
        <span class="message">{{ 'no detail selected' | translate }}</span>
      </div>
    </div>
  </div>
</mat-card>
