@import '../../../styles/variables';
@import '../../../styles/mixins';

.my-task-card {
  height: calc(100vh - #{$header-height} - #{$announcement-height} - 32px) !important;
  max-height: calc(100vh - #{$header-height} - #{$announcement-height} - 32px) !important;
  padding: 0 !important;
  display: flex !important;
  flex-wrap: wrap;
  .list-section {
    width: 50%;
    height: 100%;
    overflow: auto;
    border-right: 1px solid $black3;
    @media #{$small-and-down} {
      width: 100%;
    }
  }
  .detail-section {
    width: 50%;
    background-color: white;
    position: relative;
    overflow: auto;
    height: 100%;
    @media #{$small-and-down} {
      width: 100%;
      position: absolute;
      z-index: 2;
    }
  }
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
  font-weight: 500;
  color: map-get($primary, 500);
}

.detail-task {
  .header {
    background: map-get($primary, 600);
    color: white;
    height: 56px;
    margin-bottom: 10px;
    display: flex;
    h2 {
      width: calc(100% - 48px);
      display: block;
      margin: 12px 0;
      padding: 0 24px;
    }
    button {
      width: 48px;
      height: 48px;
      color: white !important;
    }
  }
}
