<div class="network-container">
  <mat-form-field appearance="outline" color="accent" class="select-node">
    <mat-select [value]="selectedNode" (selectionChange)="changeNode($event.value)">
      <mat-option *ngFor="let node of nodeList.node; let i = index" [value]="i">
        <span>{{ node.name }}</span>
        <ng-container *ngIf="!node.default">
          <span class="delete-network" (click)="delete($event, i)" matTooltip="{{ 'delete' | translate }}">
            <i class="fas fa-trash"></i>
          </span>
          <span
            class="edit-network"
            (click)="openDialog($event, 'edit', node, i)"
            matTooltip="{{ 'edit' | translate }}"
          >
            <i class="fas fa-pen"></i>
          </span>
        </ng-container>
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-flat-button color="primary" style="margin-left: 16px;" (click)="openDialog($event, 'add')">
    {{ 'add network' | translate }}
  </button>
</div>

<ng-template #detailDialog>
  <h2 class="mat-h3" *ngIf="currAction == 'add'">
    {{ 'add network' | translate }}
  </h2>
  <h2 class="mat-h3" *ngIf="currAction == 'edit'">
    {{ 'edit network' | translate }}
  </h2>
  <form [formGroup]="formNetwork" style="display: grid;" (submit)="submitNetwork()">
    <mat-form-field appearance="outline" color="accent">
      <mat-label>{{ 'network name' | translate }}</mat-label>
      <input matInput type="text" formControlName="name" />
    </mat-form-field>
    <ng-container *ngIf="nameField.touched">
      <mat-error *ngIf="nameField.hasError('required')">
        {{ 'network name is required' | translate }}
      </mat-error>
    </ng-container>

    <mat-form-field appearance="outline" color="accent">
      <mat-label>{{ 'node address' | translate }}</mat-label>
      <input
        matInput
        type="text"
        placeholder="https://yournode.com:80 {{ 'or' | translate }} http://192.168.43.1:8001"
        formControlName="ip"
      />
    </mat-form-field>
    <ng-container *ngIf="ipField.touched">
      <mat-error *ngIf="ipField.hasError('required')">
        {{ 'node address is required' | translate }}
      </mat-error>
      <mat-error *ngIf="ipField.hasError('pattern')">
        {{ 'invalid node address format' | translate }}
      </mat-error>
    </ng-container>

    <button mat-flat-button color="primary" type="submit">
      <span *ngIf="currAction == 'add'">{{ 'add' | translate }}</span>
      <span *ngIf="currAction == 'edit'">{{ 'edit' | translate }}</span>
    </button>
  </form>
</ng-template>
