@import '../../../styles/variables';

::ng-deep .mat-option {
  .edit-network {
    float: right;
    color: $black2;
    padding: 0 8px;
  }
  .detail-network {
    float: right;
    color: map-get($primary, 500);
    padding: 0 8px;
  }
  .delete-network {
    float: right;
    color: #c62828;
    padding: 0 8px;
  }
}

.title {
  color: $black2;
  font-size: 18px !important;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

.detail {
  .label {
    font-size: 14px;
    color: $black3;
    margin-bottom: 8px;
    span {
      color: $black1;
    }
  }
}
