<div [formGroup]="group" style="margin-bottom: 16px;">
  <div style="margin-bottom: 16px;">
    <mat-checkbox #advanceCheckBox class="checkbox-margin" (click)="toggleAdvancedMenu()">
      {{ 'add message' | translate }}
    </mat-checkbox>
  </div>
  <ng-container *ngIf="showMessage">
    <mat-form-field appearance="outline" class="block" color="accent">
      <mat-label>{{ 'message' | translate }}</mat-label>
      <textarea
        #input
        matInput
        rows="5"
        maxlength="60000"
        (keyup)="onCalculateMinimumFee()"
        formControlName="{{ inputMap.message }}"
      ></textarea>
      <mat-hint align="end" class="hint">{{ input.value?.length || 0 }}/60000</mat-hint>
    </mat-form-field>
  </ng-container>
</div>
