<div class="add-node-admin-container">
  <h2 class="mat-h2 text-center">{{ 'Add Node Admin' | translate }}</h2>
  <form [formGroup]="formAddNodeAdmin" (submit)="onAddNodeAdmin()">
    <mat-form-field appearance="outline" color="accent">
      <input
        matInput
        type="text"
        placeholder="{{ 'IP Address' | translate }}"
        formControlName="ipAddress"
      />
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit">
      {{ 'Add' | translate }}
    </button>
  </form>
</div>
