<div>
  <h2 class="mat-h2 text-center">{{ 'Confirm Update' | translate }}</h2>

  <div class="label">Seat ID</div>
  <div class="seat-id">#{{ 1234 | number }}</div>
  <div class="label">ETH Address</div>
  <div class="value">
    <wallet-address value="AFiTqqX99kYXjLFJJ2AWuzKK5zxYUT1Pn0p3s6lutkai" [copyButton]="true"></wallet-address>
  </div>

  <div class="content-change">
    <div class="before">
      <div class="label">ZooBC Address</div>
      <div class="value">
        <wallet-address
          value="AFiTqqX99kYXjLFJJ2AWuzKK5zxYUT1Pn0p3s6lutkai"
          [copyButton]="true"
        ></wallet-address>
      </div>

      <div class="label">Node Public Key</div>
      <div class="value">
        <wallet-address
          value="AFiTqqX99kYXjLFJJ2AWuzKK5zxYUT1Pn0p3s6lutkai"
          [copyButton]="true"
        ></wallet-address>
      </div>

      <div class="label">Message</div>
      <div class="value">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit
      </div>
    </div>
    <div class="arrow">
      <i class="fa fa-arrow-right"></i>
    </div>
    <div class="after">
      <div class="label">ZooBC Address</div>
      <div class="value">
        <wallet-address
          value="AFiTqqX99kYXjLFJJ2AWuzKK5zxYUT1Pn0p3s6lutkai"
          [copyButton]="true"
        ></wallet-address>
      </div>

      <div class="label">Node Public Key</div>
      <div class="value">
        <wallet-address
          value="AFiTqqX99kYXjLFJJ2AWuzKK5zxYUT1Pn0p3s6lutkai"
          [copyButton]="true"
        ></wallet-address>
      </div>

      <div class="label">Message</div>
      <div class="value">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit
      </div>
    </div>
  </div>

  <div class="text-right">
    <button mat-flat-button color="warn" (click)="closeDialog()" style="margin-right: 8px">
      {{ 'Cancel' | translate }}
    </button>
    <button mat-flat-button color="primary" (click)="onConfirm()">
      {{ 'Confirm' | translate }}
    </button>
  </div>
</div>
