<div
  [className]="withDetail ? 'multisig-transaction-item row' : 'multisig-transaction-item hover row'"
  (click)="onOpenDetailTask()"
>
  <div class="col-12 col-sm-8">
    <div class="alias">Alias Name</div>
    <div class="address">
      <wallet-address value="iSJt3H8wFOzlWKsy_UoEWF_OjF6oymHMqthyUMDKSyxb"></wallet-address>
    </div>
    <div class="date">
      {{ 1572313084000 | dateAgo }}
    </div>
  </div>
  <div class="col-12 col-sm-4 text-right">
    <div class="amount">
      - 10 ZBC
    </div>
    <div class="fee">
      - 0.01 ZBC
    </div>
  </div>
</div>

<ng-template #detailMultisig>
  <div class="detail-multisig-container">
    <div class="row">
      <div class="col-12 col-md-4">{{ 'Sender' | translate }}:</div>
      <div class="col-12 col-md-8">
        <wallet-address
          value="YuKTkCCWOPeGBknQSTGsNuyREB-iGhIz6ur4suM4FXMb"
          [copyButton]="true"
        ></wallet-address>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4">{{ 'Recipient' | translate }}:</div>
      <div class="col-12 col-md-8">
        <wallet-address
          value="B9C35tu6hJCE7IrwqL5uxnh6OW77Pw99JIdrSpHMg2Ki"
          [copyButton]="true"
        ></wallet-address>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4">{{ 'Amount' | translate }}:</div>
      <div class="col-12 col-md-8">10 ZBC</div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4">{{ 'Fee' | translate }}:</div>
      <div class="col-12 col-md-8">0.01 ZBC</div>
    </div>
    <div class="text-right" style="margin-top: 8px">
      <button mat-button style="margin-right: 8px" (click)="closeDialog()">
        {{ 'Cancel' | translate }}
      </button>
      <button mat-flat-button color="warn" style="margin-right: 8px" (click)="onOpenDetailTaskComingSoon()">
        {{ 'Reject' | translate }}
      </button>
      <button mat-flat-button color="primary" (click)="onOpenDetailTaskComingSoon()">
        {{ 'Confirm' | translate }}
      </button>
    </div>
  </div>
</ng-template>
