<div class="about-container">
  <img src="/assets/img/zbc-color-text.svg" />
  <div class="version-text">ZooBC Web Wallet 0.1.0</div>

  <div class="link-group">
    <div class="link">
      <a [routerLink]="['/privacy-policy']" target="_blank">{{
        'Privacy Policy' | translate
      }}</a>
    </div>
    <div class="link">
      <a [routerLink]="['/terms-of-use']" target="_blank">{{
        'Term of Use' | translate
      }}</a>
    </div>
    <div class="link">
      <a [routerLink]="['/faq']" target="_blank">{{ 'FAQ' | translate }}</a>
    </div>
    <!-- <div class="link">
      <a [routerLink]="['/feedback']" target="_blank">
        {{ 'Feedback' | translate }}
      </a>
    </div> -->
  </div>
</div>
