<div class="about-container">
  <img src="/assets/img/zbc-color-text.svg" />
  <div class="version-text">ZooBC Web Wallet 0.1.0</div>

  <div class="link-group">
    <div class="link">
      <a routerLink="privacy-policy">{{ 'Privacy Policy' | translate }}</a>
    </div>
    <div class="link">
      <a routerLink="term-of-use">{{ 'Term of Use' | translate }}</a>
    </div>
    <div class="link">
      <a [routerLink]="['/faq']" target="_blank">{{ 'FAQ' | translate }}</a>
    </div>
    <div class="link">
      <a [routerLink]="['/feedback']" target="_blank">
        {{ 'Feedback' | translate }}
      </a>
    </div>
  </div>
</div>
