<form [formGroup]="group">
  <label>{{ 'sender' | translate }}</label>
  <ng-container *ngIf="!multisig">
    <account-selector (select)="onSwitchAccount($event)" type="normal"></account-selector>
  </ng-container>
  <ng-container *ngIf="multisig">
    <div style="margin-bottom: 16px;">
      <wallet-address [value]="group.get(inputMap.sender).value"></wallet-address>
    </div>
  </ng-container>
  <input-address
    label="{{ 'recipient address' | translate }}"
    classList="block"
    formControlName="{{ inputMap.recipient }}"
    placeholder="{{ 'recipient address' | translate }}..."
    (change)="isAddressInContacts()"
  >
  </input-address>
  <ng-container *ngIf="group.get(inputMap.recipient).touched">
    <mat-error *ngIf="group.get(inputMap.recipient).hasError('required')">
      {{ 'recipient address is required' | translate }}
    </mat-error>
    <mat-error *ngIf="group.get(inputMap.recipient).hasError('invalidAddress')">
      {{ 'zbc address is invalid' | translate }}
    </mat-error>
  </ng-container>
  <ng-container>
    <div class="address-alias" *ngIf="!showSaveAddressBtn">
      <span>{{ 'address' | translate }}: </span>
      <b>{{ contact && contact.name }}</b>
    </div>
    <div style="margin-bottom: 8px;" *ngIf="showSaveAddressBtn">
      <mat-checkbox class="checkbox-margin" (change)="toggleSaveAddress()">
        {{ 'save to contact' | translate }}
      </mat-checkbox>
    </div>
    <ng-container *ngIf="saveAddress">
      <mat-form-field appearance="outline" color="accent" class="block">
        <mat-label>{{ 'name' | translate }}</mat-label>
        <input
          matInput
          type="text"
          formControlName="{{ inputMap.alias }}"
          placeholder="{{ 'name' | translate }}"
        />
      </mat-form-field>
      <ng-container *ngIf="group.get(inputMap.alias).touched">
        <mat-error *ngIf="group.get(inputMap.alias).hasError('required')">
          {{ 'name is required' | translate }}
        </mat-error>
      </ng-container>
    </ng-container>
  </ng-container>
  <input-amount
    [group]="group"
    typeCoinName="{{ inputMap.typeCoin }}"
    amountCurrencyName="{{ inputMap.amountCurrency }}"
    amountName="{{ inputMap.amount }}"
    [displayConverter]="true"
    [currencyRate]="currencyRate"
    label="{{ 'coin amount' | translate }}"
  >
  </input-amount>
  <div
    class="row"
    *ngIf="
      (group.get(inputMap.amount).touched && group.get(inputMap.amount).invalid) ||
      (group.get(inputMap.amountCurrency).touched && group.get(inputMap.amountCurrency).invalid)
    "
  >
    <div class="col-4 col-sm-3">&nbsp;</div>
    <div class="col-8 col-sm-9">
      <ng-container
        *ngIf="group.get(inputMap.amount).touched && group.get(inputMap.typeCoin).value === 'ZBC'"
      >
        <mat-error *ngIf="group.get(inputMap.amount).hasError('required')">
          {{ 'amount is required' | translate }}
        </mat-error>
        <mat-error *ngIf="group.get(inputMap.amount).hasError('min')">
          {{ 'minimum amount is' | translate: { val: '0.00000001' } }}
        </mat-error>
      </ng-container>
      <ng-container
        *ngIf="group.get(inputMap.amountCurrency).touched && group.get(inputMap.typeCoin).value === 'Fiat'"
      >
        <mat-error *ngIf="group.get(inputMap.amountCurrency).hasError('required')">
          {{ 'amount is required' | translate }}
        </mat-error>
        <mat-error *ngIf="group.get(inputMap.amountCurrency).hasError('min')">
          {{ 'minimum amount in zbc must be zbc' | translate: { val: '0.00000001' } }}
        </mat-error>
      </ng-container>
    </div>
  </div>
  <input-amount
    [group]="group"
    typeCoinName="{{ inputMap.typeFee }}"
    amountCurrencyName="{{ inputMap.feeCurrency }}"
    amountName="{{ inputMap.fee }}"
    [displayConverter]="true"
    [currencyRate]="currencyRate"
    label="{{ 'fee' | translate }}"
  >
  </input-amount>

  <div
    class="row"
    *ngIf="
      (group.get(inputMap.fee).touched && group.get(inputMap.fee).invalid) ||
      (group.get(inputMap.feeCurrency).touched && group.get(inputMap.feeCurrency).invalid)
    "
  >
    <div class="col-4 col-sm-3">&nbsp;</div>
    <div class="col-8 col-sm-9">
      <ng-container *ngIf="group.get(inputMap.fee).touched && group.get(inputMap.typeFee).value === 'ZBC'">
        <mat-error *ngIf="group.get(inputMap.fee).hasError('required')">
          {{ 'fee is required' | translate }}
        </mat-error>
        <mat-error *ngIf="group.get(inputMap.fee).hasError('min')">
          {{ 'minimum fee is' | translate: { val: minFee } }}
        </mat-error>
      </ng-container>
      <ng-container
        *ngIf="group.get(inputMap.feeCurrency).touched && group.get(inputMap.typeFee).value === 'Fiat'"
      >
        <mat-error *ngIf="group.get(inputMap.feeCurrency).hasError('required')">
          {{ 'fee is required' | translate }}
        </mat-error>
        <mat-error *ngIf="group.get(inputMap.feeCurrency).hasError('min')">
          {{ 'minimum amount of fee in zbc must be zbc' | translate: { val: minFee } }}
        </mat-error>
      </ng-container>
    </div>
  </div>
</form>
