<ng-container [formGroup]="group">
  <label>{{ 'sender' | translate }}</label>
  <ng-container *ngIf="!multisig">
    <account-selector
      (select)="onSwitchAccount($event)"
      [type]="accountSelectorType"
      *ngIf="accountSelectorType != 'normal'"
    ></account-selector>
    <account-selector
      (select)="onSwitchAccount($event)"
      *ngIf="accountSelectorType == 'normal'"
    ></account-selector>
  </ng-container>
  <ng-container *ngIf="multisig">
    <div style="margin-bottom: 16px;">
      <wallet-address [value]="group.get(inputMap.sender).value"></wallet-address>
    </div>
  </ng-container>

  <input-address
    label="{{ 'recipient address' | translate }}"
    classList="block"
    formControlName="{{ inputMap.recipient }}"
    placeholder="{{ 'recipient address' | translate }}..."
    (change)="isAddressInContacts()"
  >
  </input-address>
  <ng-container *ngIf="group.get(inputMap.recipient).touched">
    <mat-error *ngIf="group.get(inputMap.recipient).hasError('required')">
      {{ 'recipient address is required' | translate }}
    </mat-error>
    <mat-error *ngIf="group.get(inputMap.recipient).hasError('invalidAddress')">
      {{ 'zbc address is invalid' | translate }}
    </mat-error>
  </ng-container>

  <div class="form-address-alias" *ngIf="!showSaveAddressBtn">
    <span>{{ 'address' | translate }}: </span>
    <b>{{ contact.name }}</b>
  </div>
  <div style="margin-bottom: 16px;" *ngIf="showSaveAddressBtn">
    <mat-checkbox class="checkbox-margin" (change)="toggleSaveAddress()">
      {{ 'save to contact' | translate }}
    </mat-checkbox>
  </div>
  <ng-container *ngIf="saveAddress">
    <mat-form-field appearance="outline" color="accent" class="block">
      <mat-label>{{ 'name' | translate }}</mat-label>
      <input
        matInput
        type="text"
        formControlName="{{ inputMap.alias }}"
        placeholder="{{ 'name' | translate }}"
      />
    </mat-form-field>
    <ng-container *ngIf="group.get(inputMap.alias).touched">
      <mat-error *ngIf="group.get(inputMap.alias).hasError('required')">
        {{ 'name is required' | translate }}
      </mat-error>
    </ng-container>
  </ng-container>

  <input-amount
    [group]="group"
    amountName="{{ inputMap.amount }}"
    label="{{ 'zoobc amount' | translate }}"
  ></input-amount>
  <div *ngIf="group.get(inputMap.amount).touched" style="margin-top: -8px;">
    <mat-error *ngIf="group.get(inputMap.amount).hasError('required')">
      {{ 'amount is required' | translate }}
    </mat-error>
    <mat-error *ngIf="group.get(inputMap.amount).hasError('min')">
      {{ 'minimum amount is' | translate: { val: '0.00000001' } }}
    </mat-error>
  </div>

  <div class="fee-section">
    <label>{{ 'fee' | translate }}</label>
    <div class="fee-value">{{ group.get(inputMap.fee).value }} <small>ZBC</small></div>
  </div>
</ng-container>
