<div class="sendmoney-container">
  <h2 class="mat-h2">{{ 'Send Money' | translate }}</h2>
  <mat-card>
    <form [formGroup]="formSend" (submit)="onOpenDialogDetailSendMoney()">
      <label>{{ 'From' | translate }}</label>
      <div class="from-account" (click)="openAccountList()">
        <div class="name">
          {{ account.name }}
          <small>
            <wallet-address [value]="address"></wallet-address>
          </small>
        </div>
        <div class="balance" *ngIf="accountBalance">
          {{ accountBalance.spendablebalance / 1e8 | number: '0.0-4' }} ZBC
        </div>
      </div>

      <label>{{ 'Recepient address' | translate }}</label>
      <mat-form-field appearance="outline" class="block" color="accent">
        <input
          matInput
          placeholder="{{ 'Recepient address' | translate }}..."
          aria-label="contacts"
          [matAutocomplete]="auto"
          formControlName="recipient"
          (keyup)="onChangeRecipient()"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let contact of filteredContacts | async"
            [value]="contact.address"
          >
            <span>{{ contact.alias }}</span> |
            <small>{{ contact.address }}</small>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-error *ngIf="recipientForm.touched">
        <span *ngIf="recipientForm.hasError('required')">
          {{ 'Recepient is required' | translate }}
        </span>
        <span *ngIf="recipientForm.hasError('invalidAddress')">
          {{ 'ZBC Address is invalid' | translate }}
        </span>
      </mat-error>
      <section class="section-save-addres">
        <mat-checkbox class="checkbox-margin" formControlName="saveAddress">
          {{ 'Save to Address Book' | translate }}
        </mat-checkbox>
      </section>
      <div *ngIf="saveToAddreesBook.value === true">
        <label>{{ 'Alias' | translate }}</label>
        <mat-form-field appearance="outline" class="block" color="accent">
          <input
            matInput
            type="text"
            formControlName="alias"
            placeholder="{{ 'Alias' | translate }}"
          />
        </mat-form-field>
      </div>

      <div class="zbc-form-item">
        <div class="amount text-right">
          <div class="primary-amount">{{ amountForm.value }} ZBC</div>
          <div class="secondary-amount">
            {{ amountCurrencyForm.value | number: '0.0-4' }}
            {{ currencyRate.name }}
          </div>
        </div>
      </div>

      <label>{{ 'Coin amount' | translate }}</label>
      <div class="row">
        <div class="col-3">
          <mat-form-field appearance="outline" class="block" color="accent">
            <mat-select [(value)]="typeCoin">
              <mat-option value="ZBC">ZBC</mat-option>
              <mat-option value="Fiat">{{ currencyRate.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-9">
          <mat-form-field
            appearance="outline"
            class="block"
            *ngIf="typeCoin === 'ZBC'"
            color="accent"
          >
            <input
              matInput
              type="number"
              formControlName="amount"
              placeholder="{{ 'Coin Amount' | translate }}"
              (change)="onChangeAmountField()"
              (keyup)="onChangeAmountField()"
            />
          </mat-form-field>
          <mat-error *ngIf="amountForm.touched && typeCoin === 'ZBC'">
            <span *ngIf="amountForm.hasError('required')">
              {{ 'Amount is required' | translate }}
            </span>
          </mat-error>
          <mat-form-field
            *ngIf="typeCoin === 'Fiat'"
            appearance="outline"
            class="block"
            color="accent"
          >
            <input
              matInput
              type="number"
              formControlName="amountCurrency"
              placeholder="{{ currencyRate.name }} {{ 'amount' | translate }}"
              (change)="onChangeAmountCurrencyField()"
              (keyup)="onChangeAmountCurrencyField()"
            />
          </mat-form-field>
          <mat-error *ngIf="amountCurrencyForm.touched && typeCoin === 'Fiat'">
            <span *ngIf="amountCurrencyForm.hasError('required')">
              {{ 'Amount is required' | translate }}
            </span>
          </mat-error>
        </div>
      </div>

      <div class="row">
        <div class="col-3">
          <label>{{ 'Fee' | translate }}</label>
        </div>
        <div class="col-9">
          <div class="choose-fee">
            <button
              mat-stroked-button
              type="button"
              [disabled]="customFee.value"
              (click)="onFeeChoose(1)"
              [class.fee-choosen]="activeButton === 1"
            >
              <div class="fee-button">
                <div class="label">Slow</div>
                <div class="zbc-currency">{{ feeSlow }} ZBC</div>
                <div class="fiat-currency">
                  {{ feeSlow * currencyRate.value | number: '0.0-4' }}
                  {{ currencyRate.name }}
                </div>
              </div>
            </button>
            <button
              mat-stroked-button
              type="button"
              [disabled]="customFee.value"
              (click)="onFeeChoose(2)"
              [class.fee-choosen]="activeButton === 2"
            >
              <div class="fee-button">
                <div class="label">Medium</div>
                <div class="zbc-currency">{{ feeMedium }} ZBC</div>
                <div class="fiat-currency">
                  {{ feeMedium * currencyRate.value | number: '0.0-4' }}
                  {{ currencyRate.name }}
                </div>
              </div>
            </button>
            <button
              mat-stroked-button
              type="button"
              [disabled]="customFee.value"
              (click)="onFeeChoose(3)"
              [class.fee-choosen]="activeButton === 3"
            >
              <div class="fee-button">
                <div class="label">Fast</div>
                <div class="zbc-currency">{{ feeFast }} ZBC</div>
                <div class="fiat-currency">
                  {{ feeFast * currencyRate.value | number: '0.0-4' }}
                  {{ currencyRate.name }}
                </div>
              </div>
            </button>
          </div>
        </div>
      </div>
      <section class="section-save-addres">
        <mat-checkbox
          class="checkbox-margin"
          formControlName="customFees"
          (click)="removeActive()"
        >
          {{ 'Custom Fee' | translate }}
        </mat-checkbox>
      </section>

      <div class="zbc-form-item" *ngIf="customFee.value === true">
        <div class="amount text-right">
          <div class="primary-amount">{{ feeForm.value }} ZBC</div>
          <div class="secondary-amount">
            {{ feeFormCurr.value | number: '0.0-4' }} {{ currencyRate.name }}
          </div>
        </div>
        <label>{{ 'Custom Fee' | translate }}</label>
        <div class="row">
          <div class="col-3">
            <mat-form-field appearance="outline" class="block" color="accent">
              <mat-select [(value)]="typeFee">
                <mat-option value="ZBC">ZBC</mat-option>
                <mat-option value="Fiat">{{ currencyRate.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-9">
            <mat-form-field
              appearance="outline"
              class="block"
              *ngIf="typeFee === 'ZBC'"
              color="accent"
            >
              <input
                matInput
                type="number"
                formControlName="fee"
                placeholder="{{ 'Fee' | translate }}"
                (change)="onChangeFeeField()"
                (keyup)="onChangeFeeField()"
              />
            </mat-form-field>
            <mat-error *ngIf="feeForm.touched && typeFee === 'ZBC'">
              <span *ngIf="feeForm.hasError('required')">
                {{ 'Fee is required' | translate }}
              </span>
            </mat-error>
            <mat-form-field
              appearance="outline"
              class="block"
              *ngIf="typeFee === 'Fiat'"
              color="accent"
            >
              <input
                matInput
                type="number"
                formControlName="feeCurr"
                placeholder="{{ 'Fee' | translate }}"
                (change)="onChangeFeeCurrencyField()"
                (keyup)="onChangeFeeCurrencyField()"
              />
            </mat-form-field>
            <mat-error *ngIf="feeFormCurr.touched && typeFee === 'Fiat'">
              <span *ngIf="feeFormCurr.hasError('required')">
                {{ 'Fee is required' | translate }}
              </span>
            </mat-error>
          </div>
        </div>
      </div>

      <button
        mat-flat-button
        color="primary"
        type="submit"
        class="block"
        [disabled]="formSend.invalid || isFormSendLoading"
      >
        <span *ngIf="isFormSendLoading">
          <i class="fas fa-circle-notch fa-spin"></i>&nbsp;
        </span>
        <span>{{ 'Send' | translate }}</span>
      </button>
    </form>
  </mat-card>
</div>

<ng-template #popupDetailSendMoney>
  <div class="popup">
    <div class="row">
      <div class="col-4">
        <label class="title">Confirm Send Money</label>
      </div>
      <div class="col-8 text-right">
        <a class="brand">
          <label class="title-wallet">
            <img src="../../../assets/img/zbc-color.svg" alt="" />
            ZooBC Wallet
          </label>
        </a>
      </div>
    </div>
    <mat-divider [inset]="true"></mat-divider>
    <div class="content-popup">
      <div class="row">
        <div class="col-6 test">
          <label class="label-popup">From:</label>
          <div class="address">{{ address }}</div>
          <label class="label-popup">Recepient:</label>
          <div class="recepient">{{ recipientForm.value }}</div>
        </div>
        <div class="col-6 text-right">
          <label class="label-popup">Amount:</label>
          <div class="amount">
            {{ amountForm.value }} ZBC ({{
              amountCurrencyForm.value | number: '0.0-4'
            }}
            {{ currencyRate.name }})
          </div>
          <label class="label-popup">Fee - {{ kindFee }}:</label>
          <div class="fee">
            {{ feeForm.value }} ZBC ({{ feeFormCurr.value | number: '0.0-4' }}
            {{ currencyRate.name }})
          </div>
          <label class="label-popup">Total :</label>
          <div class="total">
            {{ amountForm.value + feeForm.value }} ZBC ({{
              amountCurrencyForm.value + feeFormCurr.value | number: '0.0-4'
            }}
            {{ currencyRate.name }})
          </div>
        </div>
      </div>
    </div>
    <div mat-dialog-actions align="end">
      <button mat-raised-button color="warn" (click)="closeDialog()">
        Cancel
      </button>
      <button mat-raised-button color="primary" (click)="onOpenPinDialog()">
        Confirm
      </button>
    </div>
  </div>
</ng-template>

<ng-template #pinDialog>
  <h3 class="mat-h3" id="modal-basic-title">
    <b>{{ 'Confirm Your Pin' | translate }}</b>
  </h3>
  <form [formGroup]="formConfirmPin" (submit)="onConfirmPin()" class="form-pin">
    <field-pins formControlName="pin" (keyup)="onTypePin()"></field-pins>
    <mat-error *ngIf="formConfirmPin.hasError('invalid')">
      <span class="text-center">{{ 'Pin is not match' | translate }}</span>
    </mat-error>
    <i
      matPrefix
      class="fas fa-circle-notch fa-spin"
      *ngIf="isConfirmPinLoading"
    ></i>
  </form>
</ng-template>

<ng-template #accountDialog>
  <div style="max-height: 400px">
    <h3 class="mat-h3" id="modal-basic-title">
      <b>{{ 'Your Accounts' | translate }}</b>
    </h3>

    <div class="account-list" *ngIf="accounts">
      <mat-card
        *ngFor="let acc of accounts"
        class="account-card"
        (click)="onSwitchAccount(acc)"
      >
        <div
          class="row"
          [ngClass]="account.path == acc.path ? 'row active' : 'row'"
        >
          <div class="col-12">
            <div class="name">{{ acc.name }}</div>
            <div class="address">
              <wallet-address
                [value]="acc.address"
                [copyButton]="true"
              ></wallet-address>
            </div>
            <div
              class="last-tx"
              *ngIf="acc.lastTx.length === 0; else hasTransaction"
            >
              Last Transaction: None
            </div>
            <ng-template #hasTransaction>
              <div class="last-tx">
                Last Transaction :
                {{ acc.lastTx['0'].timestamp | dateAgo }}
              </div>
            </ng-template>
          </div>
          <div class="col-12 text-right">
            <div class="balance">
              {{ acc.balance / 1e8 }} <small>ZBC</small>
            </div>
            <div class="balance-in-currency">
              {{ (acc.balance / 1e8) * currencyRate.value | number: '0.0-4' }}
              <small>{{ currencyRate.name }}</small>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</ng-template>
