@import '../../../styles/variables';
@import '../../../styles/mixins';

.sendmoney-container {
  .mat-card {
    max-width: 400px;
    margin: 0 auto;
  }

  .zbc-form-item {
    .amount {
      .primary-amount {
        font-size: 1.3rem;
        margin-bottom: 0.2rem;
      }
      .secondary-amount {
        font-size: 0.8rem;
        margin-bottom: 0.2rem;
      }
    }
  }

  .sub-title {
    cursor: pointer;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    margin: 24px 0;
    color: $black2;
    &:before,
    &:after {
      content: '';
      flex: 1 1;
      border-bottom: 2px solid $black2;
      margin: 10px;
    }
  }

  .icon-dropdown {
    margin-left: 5px !important;
    margin-top: 2px !important;
  }

  .choose-fee {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin: 4px 0 8px 0;
    button {
      border-radius: 0;
      margin-left: -1px;
      border-left: 1px solid #ddd;
      width: calc(33.33333333% + 2px);
      text-transform: none;
      padding: 8px 8px;
      .fee-button {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        justify-content: flex-start;
        .label {
          font-size: 14px;
          font-weight: bold;
          line-height: 16px;
          margin-bottom: 4px;
          color: $black2;
        }
        .zbc-currency,
        .fiat-currency {
          font-size: 12px;
          line-height: 14px;
        }
      }
    }
    .fee-choosen:enabled {
      color: white;
      background-color: map-get($primary, 700);
      .label {
        color: white !important;
      }
    }
    display: flex;
    justify-content: stretch;
  }

  form {
    .row {
      margin: 0 -4px;
      [class^='col'] {
        padding: 0 4px;
      }
    }
    .address-alias {
      color: $black2;
    }
  }
}

.mat-divider.mat-divider-inset {
  margin-top: 10px;
  margin-bottom: 10px;
}

// popup detail send money
.confirmation-dialog {
  .brand {
    .title-wallet {
      font-size: 16px;
      margin-right: 10px;
      display: inline-flex;
      // for webkit only
      display: -webkit-inline-box;
      .text {
        margin: 0 8px 0 0;
        line-height: 28px;
      }
      img {
        width: 24px;
        margin-bottom: 8px;
      }
    }
  }
  .title {
    color: $black2;
    font-size: 16px !important;
    font-weight: bold;
    margin-bottom: 8px;
  }
  .content {
    margin-top: 10px;
    word-break: break-all;
    margin-bottom: 10px;
    .label {
      font-size: 14px;
      color: $black3;
      font-weight: bold;
      margin-bottom: 4px;
    }
    .address,
    .amount,
    .total {
      margin-bottom: 12px;
    }
    .amount {
      .zbc {
        font-size: 16px;
        margin-bottom: 4px;
      }
      .currency {
        font-size: 14px;
      }
    }
    .total {
      color: #4caf50;
      font-weight: bold;
      .zbc {
        font-size: 18px;
        margin-bottom: 4px;
      }
      .currency {
        font-size: 16px;
      }
    }
  }
}
