@import '../../../styles/variables';
@import '../../../styles/mixins';

.sendmoney-container {
  max-width: 440px;
  margin: 0 auto;

  .device-approval {
    display: block;
    text-align: center;
    font-weight: bold;
    margin: 20px 0 20px 0;
    color: $black2;
  }
}
