<div class="sendmoney-container">
  <h2 class="mat-h2">{{ 'Send Money' | translate }}</h2>
  <mat-card>
    <form [formGroup]="formSend" (submit)="onOpenDialogDetailSendMoney()">
      <label>{{ 'From' | translate }}</label>
      <account-selector (select)="onSwitchAccount($event)" type="normal"></account-selector>
      <input-address
        label="{{ 'Recepient Address' | translate }}"
        classList="block"
        formControlName="recipient"
        placeholder="{{ 'Recepient Address' | translate }}..."
      ></input-address>
      <ng-container *ngIf="recipientForm.touched">
        <mat-error *ngIf="recipientForm.hasError('required')">
          {{ 'Recepient is required' | translate }}
        </mat-error>
        <mat-error *ngIf="recipientForm.hasError('invalidAddress')">
          {{ 'ZBC Address is invalid' | translate }}
        </mat-error>
      </ng-container>
      <div class="address-alias" *ngIf="!showSaveAddressBtn">
        <span>{{ 'Address' | translate }}: </span>
        <b>{{ contact.alias }}</b>
      </div>
      <div style="margin-bottom: 8px;" *ngIf="showSaveAddressBtn">
        <mat-checkbox class="checkbox-margin" (change)="toggleSaveAddress()">
          {{ 'Save to Address Book' | translate }}
        </mat-checkbox>
      </div>

      <ng-container *ngIf="saveAddress">
        <label>{{ 'Name' | translate }}</label>
        <mat-form-field appearance="outline" color="accent" class="block">
          <input matInput type="text" formControlName="alias" placeholder="{{ 'Name' | translate }}" />
        </mat-form-field>
        <ng-container *ngIf="aliasField.touched">
          <mat-error *ngIf="aliasField.hasError('required')">
            {{ 'Name is required' | translate }}
          </mat-error>
        </ng-container>
      </ng-container>
      <input-amount
        [group]="formSend"
        typeCoinName="typeCoin"
        amountCurrencyName="amountCurrency"
        amountName="amount"
        [displayConverter]="true"
        [currencyRate]="currencyRate"
        label="{{ 'Coin Amount' | translate }}"
      >
      </input-amount>
      <div class="row">
        <div class="col-4 col-sm-3">&nbsp;</div>
        <div class="col-8 col-sm-9">
          <ng-container *ngIf="amountForm.touched && typeCoinField.value === 'ZBC'">
            <mat-error *ngIf="amountForm.hasError('required')">
              {{ 'Amount is required' | translate }}
            </mat-error>
            <mat-error *ngIf="amountForm.hasError('min')">
              {{ 'Minimum amount is' | translate: { val: '0.00000001' } }}
            </mat-error>
          </ng-container>
          <ng-container *ngIf="amountCurrencyForm.touched && typeCoinField.value === 'Fiat'">
            <mat-error *ngIf="amountCurrencyForm.hasError('required')">
              {{ 'Amount is required' | translate }}
            </mat-error>
            <mat-error *ngIf="amountCurrencyForm.hasError('min')">
              {{ 'Minimum amount in ZBC must be ZBC' | translate: { val: '0.00000001' } }}
            </mat-error>
          </ng-container>
        </div>
      </div>
      <fee-selector
        [group]="formSend"
        feeName="fee"
        feeCurrName="feeCurr"
        [minFee]="minFee"
        [timeoutField]="timeoutField.value"
        [required]="true"
        [currencyRate]="currencyRate"
        (onClickFeeChoose)="onClickFeeChoose($event)"
      ></fee-selector>

      <span class="sub-title">
        {{ 'Advanced Option' | translate }}
      </span>
      <mat-checkbox class="checkbox-margin" (click)="toggleAdvancedMenu()">
        {{ 'Escrow Transaction' }}
      </mat-checkbox>
      <div class="zbc-form-item" *ngIf="advancedMenu">
        <input-address
          label="{{ 'Approver Address' | translate }}"
          classList="block"
          formControlName="addressApprover"
          placeholder="{{ 'Approver Address' | translate }}..."
        ></input-address>
        <ng-container *ngIf="addressApproverField.touched">
          <mat-error *ngIf="addressApproverField.hasError('required')">
            {{ 'Address for Approver is required' | translate }}
          </mat-error>
          <mat-error *ngIf="addressApproverField.hasError('invalidAddress')">
            {{ 'ZBC Address is invalid' | translate }}
          </mat-error>
        </ng-container>
        <input-amount
          [group]="formSend"
          typeCoinName="typeCommission"
          amountCurrencyName="approverCommissionCurr"
          amountName="approverCommission"
          [displayConverter]="false"
          [currencyRate]="currencyRate"
          label="{{ 'Approver Commission' | translate }}"
        >
        </input-amount>
        <div class="row">
          <div class="col-4 col-sm-3">&nbsp;</div>
          <div class="col-8 col-sm-9">
            <ng-container *ngIf="approverCommissionField.touched && typeCommissionField.value === 'ZBC'">
              <mat-error *ngIf="approverCommissionField.hasError('required')">
                {{ 'Commission for approver is required' | translate }}
              </mat-error>
              <mat-error *ngIf="approverCommissionField.hasError('min')">
                {{ 'Minimum commission is' | translate: { val: '0.00000001' } }}
              </mat-error>
            </ng-container>

            <ng-container *ngIf="approverCommissionCurrField.touched && typeCommissionField.value === 'Fiat'">
              <mat-error *ngIf="approverCommissionCurrField.hasError('required')">
                {{ 'Commission for approver is required' | translate }}
              </mat-error>
              <mat-error *ngIf="approverCommissionCurrField.hasError('min')">
                {{ 'Minimum Commission for approver in ZBC must be ZBC' | translate: { val: '0.00000001' } }}
              </mat-error>
            </ng-container>
          </div>
        </div>
        <label class="block-height"
          ><b>{{ 'Block Height' }} : {{ blockHeight | number }}</b></label
        >
        <label>{{ 'Timeout' | translate }}</label>
        <mat-form-field appearance="outline" class="block" color="accent">
          <input
            (change)="onChangeTimeOut()"
            matInput
            type="number"
            formControlName="timeout"
            placeholder="{{ 'Timeout' | translate }}"
          />
        </mat-form-field>
        <ng-container *ngIf="timeoutField.touched">
          <mat-error *ngIf="timeoutField.hasError('required')">{{
            'Timeout is required' | translate
          }}</mat-error>
          <mat-error *ngIf="timeoutField.hasError('min')">
            {{ 'Minimum timeout is 1' | translate }}
          </mat-error>
        </ng-container>
        <label>{{ 'Instruction' | translate }}</label>
        <mat-form-field appearance="outline" class="block" color="accent">
          <textarea matInput formControlName="instruction" rows="5"></textarea>
        </mat-form-field>
        <ng-container *ngIf="instructionField.touched">
          <mat-error *ngIf="instructionField.hasError('required')">
            {{ 'Instruction is required' | translate }}
          </mat-error>
        </ng-container>
      </div>

      <button
        mat-flat-button
        color="primary"
        type="submit"
        class="block button-margin"
        [disabled]="formSend.invalid || isLoading || isError"
      >
        <span *ngIf="isLoading"> <i class="fas fa-circle-notch fa-spin"></i>&nbsp; </span>
        <span>{{ 'Send' | translate }}</span>
      </button>
    </form>
  </mat-card>
</div>
