.restore-wallet-container {
  max-width: 360px;
  margin: 0 auto;
  text-align: center;
  .mat-h2 {
    font-weight: bold;
    margin-bottom: 24px;
  }
  form {
    textarea {
      line-height: 22px;
    }
    .btn-grouped {
      margin: 16px auto;
      font-weight: bold;
      button {
        margin: 0 4px 8px 4px;
      }
    }
  }
}
