<div class="restore-wallet-container">
  <h2 class="mat-h2">{{ 'Please Enter Your Passphrase' | translate }}</h2>
  <form [formGroup]="restoreForm" (submit)="onRestore()">
    <mat-form-field class="passphrase-input" appearance="outline">
      <textarea
        formControlName="passphrase"
        matInput
        placeholder="{{ 'Put your passphrase here' | translate }}..."
        rows="9"
        (keyup)="onChangeMnemonic()"
      ></textarea>
    </mat-form-field>
    <mat-error *ngIf="passphraseField.touched">
      <span *ngIf="passphraseField.hasError('required')">{{
        'Passphrase is required' | translate
      }}</span>
      <span *ngIf="passphraseField.hasError('mnemonic')"
        >{{ 'Passphrase is invalid' | translate }}
      </span>
      <span *ngIf="passphraseField.hasError('lengthMnemonic')"
        >{{ 'Please use your' | translate }} {{ mnemonicWordLengtEnv }}
        {{ 'passphrase words' | translate }}
      </span>
    </mat-error>
    <button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="restoreForm.invalid"
    >
      {{ 'Open Wallet' | translate }}
    </button>
  </form>
</div>
