<div class="node-admin-container">
  <div class="row">
    <div class="col-8">
      <h2 class="mat-h2">{{ 'Node Admin' | translate }}</h2>
    </div>
    <div class="col-4 text-right icon-ellipsis menu">
      <button mat-icon-button class="nodeadmin-dropdown" [matMenuTriggerFor]="nodeadminMenu">
        <i class="fas fa-ellipsis-h"></i>
      </button>
      <mat-menu #nodeadminMenu="matMenu">
        <div class="nodeadmin-dropdown-list">
          <div class="nodeadmin-menu-container">
            <button mat-menu-item (click)="openRegisterNodeForm()">
              <i class="fas fa-plus"></i>
              <span>{{ 'Register Node' | translate }}</span>
            </button>
            <button mat-menu-item (click)="openUpdateNodeForm()">
              <i class="far fa-edit"></i>
              <span>{{ 'Update Node' | translate }}</span>
            </button>
            <button mat-menu-item>
              <i class="fas fa-minus-square"></i>
              <span>{{ 'Delete Node' | translate }}</span>
            </button>
            <button mat-menu-item>
              <i class="fas fa-exclamation-circle"></i>
              <span>{{ 'Claim Node' | translate }}</span>
            </button>
          </div>
        </div>
      </mat-menu>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6">
      <mat-card class="status-card">
        <div class="icon">
          <i class="fa fa-plug"></i>
          <div class="label">Online</div>
        </div>
        <div class="status" *ngIf="nodeAdminAttributes">
          <div class="label">{{ 'IP Address' | translate }}</div>
          <div class="value">
            {{ nodeAdminAttributes.ipAddress }}
          </div>
          <button mat-flat-button>
            {{ 'Change Private Key' | translate }}
          </button>
        </div>
      </mat-card>
    </div>

    <div class="col-12 col-sm-6">
      <mat-card class="status-card">
        <div class="icon">
          <i class="fa fa-hammer"></i>
          <div class="label">&nbsp;</div>
        </div>
        <div class="status">
          <div class="label">{{ 'Blocks Created' | translate }}</div>
          <div class="value">
            20,000 <small>{{ 'Blocks' | translate }}</small>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

  <h2 class="mat-h2">CPU</h2>
  <mat-card *ngIf="hwInfo">
    <div class="row">
      <div class="col-6 col-sm-3 cpu-usage" *ngFor="let cpu of hwInfo.cpuinformationList">
        <div class="percentage">
          <mat-progress-spinner [value]="cpu.usedpercent" diameter="80" color="primary"></mat-progress-spinner>
          <div class="label">{{ cpu.usedpercent | number: '0.0-2' }}%</div>
        </div>
        <div class="cpu-number">CPU {{ cpu.coreid }}</div>
      </div>
    </div>
    <br /><br />

    <div class="row node-spec">
      <div class="col-12 col-sm-6">
        <p class="label">CPU index number:</p>
        <p class="value">{{ hwInfo.cpuinformationList[0].cpuindex }}</p>
        <p class="label">VendorID:</p>
        <p class="value">{{ hwInfo.cpuinformationList[0].vendorid }}</p>
        <p class="label">{{ 'Number of cores' | translate }}:</p>
        <p class="value">{{ hwInfo.cpuinformationList.length }}</p>
        <p class="label">{{ 'Model Name' | translate }}:</p>
        <p class="value">{{ hwInfo.cpuinformationList[0].modelname }}</p>
        <p class="label">{{ 'Speed' | translate }}:</p>
        <p class="value">{{ hwInfo.cpuinformationList[0].mhz }} MHz</p>
      </div>
      <div class="col-12 col-sm-6">
        <p class="label">Hostname:</p>
        <p class="value">{{ hwInfo.hostinformation.hostname }}</p>
        <p class="label">{{ 'Number of processes running' | translate }}:</p>
        <p class="value">{{ hwInfo.hostinformation.numberofrunningprocess }}</p>
        <p class="label">OS:</p>
        <p class="value">{{ hwInfo.hostinformation.os }}</p>
        <p class="label">Platform:</p>
        <p class="value">{{ hwInfo.hostinformation.platform }}</p>
        <p class="label">Host ID(uuid):</p>
        <p class="value">{{ hwInfo.hostinformation.hostid }}</p>
      </div>
    </div>
  </mat-card><br />

  <div class="row" *ngIf="hwInfo">
    <div class="col-12 col-sm-6">
      <h2 class="mat-h2">{{ 'Memory' | translate }}</h2>
      <mat-card>
        <div class="memory-usage">
          <div class="label">{{ 'Usage' | translate }}</div>
          <div class="usage">
            <span>
              {{ hwInfo.memoryinformation.used / gbToB | number: '0.0-2' }}GB/
            </span>
            <span>
              {{ hwInfo.memoryinformation.total / gbToB | number: '0.0-2' }}GB
            </span>
            <span>
              ({{ hwInfo.memoryinformation.usedpercent | number: '0.0-2' }}%)
            </span>
          </div>
          <div class="persentage-container">
            <div class="percentage" [ngStyle]="{ 'width.%': hwInfo.memoryinformation.usedpercent }"></div>
          </div>
        </div>
      </mat-card>
      <br />
    </div>

    <div class="col-12 col-sm-6">
      <h2 class="mat-h2">{{ 'Storage' | translate }}</h2>
      <mat-card class="memory-container">
        <div class="memory-usage">
          <div class="label">{{ 'Usage' | translate }}</div>
          <div class="usage">
            <span>
              {{ hwInfo.storageinformation.used / gbToB | number: '0.0-2' }}GB/
            </span>
            <span>
              {{ hwInfo.storageinformation.total / gbToB | number: '0.0-2' }}GB
            </span>
          </div>
          <div class="persentage-container">
            <div class="percentage" [ngStyle]="{ 'width.%': hwInfo.storageinformation.usedpercent }"></div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>