<div class="node-admin-container">
  <h2 class="mat-h2">{{ 'node admin' | translate }}</h2>
  <div class="row">
    <div class="col-12 col-sm-6">
      <mat-card class="status-card" *ngIf="!isNodeHardwareError">
        <div class="icon">
          <i class="fa fa-plug"></i>
          <div class="label">Online</div>
        </div>
        <div class="status" *ngIf="account.nodeIP">
          <div class="label">{{ 'ip address' | translate }}</div>
          <div class="value flex">
            <div class="ip-address">{{ account.nodeIP }}</div>
            <div class="copy-ip" (click)="onCopyUrl(account.nodeIP)">
              <i class="far fa-copy"></i>
            </div>
          </div>
          <button mat-flat-button (click)="generateNewPubKey()" *ngIf="hwInfo">
            {{ 'generate new public key' | translate }}
          </button>
        </div>
      </mat-card>

      <mat-card class="status-card error" *ngIf="isNodeHardwareError">
        <div class="icon">
          <i class="fa fa-ban"></i>
          <div class="label">Offline</div>
        </div>
        <div class="status" *ngIf="account.nodeIP">
          <div class="label">{{ 'ip address' | translate }}</div>
          <div class="value flex">
            <div class="ip-address">{{ account.nodeIP }}</div>
            <div class="copy-ip" (click)="onCopyUrl(account.nodeIP)">
              <i class="far fa-copy"></i>
            </div>
          </div>
        </div>
      </mat-card>
    </div>

    <div class="col-12 col-sm-6">
      <mat-card class="status-card">
        <div class="icon">
          <i class="fa fa-award"></i>
          <div class="label">&nbsp;</div>
        </div>
        <div class="status">
          <div class="label">{{ 'participation score' | translate }}</div>
          <div class="value" style="font-size: 22px;">
            {{ score || 0 | number }}
          </div>
        </div>
      </mat-card>
    </div>
  </div>

  <!-- REGISTERED NODE -->
  <div class="row">
    <div class="col-10">
      <h2 class="mat-h2">{{ 'registered node' | translate }}</h2>
    </div>
    <div class="col-2 text-right">
      <button mat-icon-button class="reload-button" (click)="getRegisteredNode()">
        <i class="fa fa-redo-alt"></i>
      </button>
    </div>
  </div>
  <mat-card class="registered-node">
    <!-- REGISTERED NODE LOADED -->
    <ng-container *ngIf="registeredNode">
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="label">{{ 'account address' | translate }}</div>
          <div class="value">
            <wallet-address [value]="registeredNode.accountaddress"></wallet-address>
          </div>
          <div class="label">{{ 'node public key' | translate }}</div>
          <div class="value">
            <wallet-address [value]="registeredNode.nodepublickey"></wallet-address>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="label">{{ 'locked balance' | translate }}</div>
          <div class="value big">{{ registeredNode.lockedbalance / 1e8 | number: '0.0-8' }} ZBC</div>
          <div class="label">{{ 'height' | translate }}</div>
          <div class="value big">{{ registeredNode.height }}</div>
          <div class="label">{{ 'registration height' | translate }}</div>
          <div class="value big">{{ registeredNode.registrationheight }}</div>
        </div>
      </div>
      <div class="text-right">
        <ng-container *ngIf="!pendingNodeTx">
          <button mat-flat-button color="primary" style="margin-right: 8px" (click)="openUpdateNode()">
            {{ 'update node' | translate }}
          </button>
          <button mat-flat-button color="warn" (click)="openRemoveNode()">
            {{ 'remove node' | translate }}
          </button>
        </ng-container>
        <ng-container *ngIf="pendingNodeTx">
          <span class="pending-label">
            {{ 'pending' | translate }}: <b>{{ pendingNodeTx.type }}</b>
          </span>
        </ng-container>
      </div>
    </ng-container>

    <!-- REGISTERED NODE LOADING -->
    <ng-container *ngIf="isNodeLoading">
      <div class="row skeleton">
        <div class="col-12 col-sm-6">
          <div class="skeleton-text small" style="width:60%;"></div>
          <div class="skeleton-text margin-16" style="width:100%;"></div>
          <div class="skeleton-text small" style="width:60%;"></div>
          <div class="skeleton-text margin-16" style="width:100%;"></div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="skeleton-text small" style="width:60%;"></div>
          <div class="skeleton-text margin-16" style="width:30%;"></div>
          <div class="skeleton-text small" style="width:30%;"></div>
          <div class="skeleton-text margin-16" style="width:20%;"></div>
          <div class="skeleton-text small" style="width:60%;"></div>
          <div class="skeleton-text margin-16" style="width:20%;"></div>
        </div>
      </div>
    </ng-container>

    <!-- NODE NOT REGISTERED -->
    <div class="not-registered-node" *ngIf="!registeredNode && !isNodeLoading && !isNodeError">
      <i matPrefix class="fa fa-desktop"></i>
      <span class="message">
        {{ 'your node is not registered yet' | translate }}
      </span>
      <div class="text-center" style="margin:8px 0;">
        <ng-container *ngIf="!pendingNodeTx">
          <button mat-flat-button color="primary" style="margin: 8px 8px 8px 0" (click)="openRegisterNode()">
            {{ 'register your node' | translate }}
          </button>
          <button mat-flat-button color="accent" (click)="openClaimNode()">
            {{ 'claim your node' | translate }}
          </button>
        </ng-container>

        <ng-container *ngIf="pendingNodeTx">
          <span class="pending-label">
            {{ 'pending' | translate }}: <b>{{ pendingNodeTx.type }}</b>
          </span>
        </ng-container>
      </div>
      <ng-container *ngIf="lastClaim">
        {{ 'last claiming' | translate }}: {{ lastClaim * 1000 | date: 'dd MMMM yyyy HH:mm:ss' }}
      </ng-container>
    </div>

    <!-- NODE REGISTRATION ERROR -->
    <div class="no-content" *ngIf="isNodeError">
      <i matPrefix class="fa fa-exclamation-triangle"></i>
      <span class="message">
        {{ 'an error occurred while processing your request' | translate }}
      </span>
      <button mat-flat-button color="primary" (click)="getRegisteredNode()">
        {{ 'try again' | translate }}
      </button>
    </div>
  </mat-card>
  <br />

  <!-- NODE USAGE -->
  <h2 class="mat-h2">{{ 'node usage' | translate }}</h2>
  <mat-card>
    <!-- NODE USAGE ERROR -->
    <div class="no-content" *ngIf="isNodeHardwareError">
      <i matPrefix class="fa fa-exclamation-triangle"></i>
      <span class="message">
        {{ 'an error occurred while processing your request' | translate }}
      </span>
      <button mat-flat-button color="primary" (click)="streamNodeHardwareInfo()">
        {{ 'try again' | translate }}
      </button>
    </div>

    <!-- NODE USAGE LOADED -->
    <ng-container *ngIf="hwInfo && !isNodeHardwareError">
      <h2 class="mat-h2">{{ 'CPU' | translate }}</h2>
      <div class="row">
        <div class="col-6 col-sm-3 cpu-usage" *ngFor="let cpu of hwInfo.cpuinformationList; let i = index">
          <div class="percentage">
            <mat-progress-spinner
              [value]="cpu.usedpercent"
              diameter="80"
              color="primary"
            ></mat-progress-spinner>
            <div class="label">{{ cpu.usedpercent | number: '0.0-2' }}%</div>
          </div>
          <div class="cpu-number">CPU {{ i + 1 }}</div>
        </div>
      </div>
      <br /><br />

      <div class="row node-spec">
        <div class="col-12 col-sm-6">
          <p class="label">{{ 'cpu index number' | translate }}:</p>
          <p class="value">{{ hwInfo.cpuinformationList[0].cpuindex }}</p>
          <p class="label">{{ 'vendor id' | translate }}:</p>
          <p class="value">{{ hwInfo.cpuinformationList[0].vendorid }}</p>
          <p class="label">{{ 'number of cores' | translate }}:</p>
          <p class="value">{{ hwInfo.cpuinformationList.length }}</p>
          <p class="label">{{ 'model name' | translate }}:</p>
          <p class="value">{{ hwInfo.cpuinformationList[0].modelname }}</p>
          <p class="label">{{ 'speed' | translate }}:</p>
          <p class="value">{{ hwInfo.cpuinformationList[0].mhz }} MHz</p>
        </div>
        <div class="col-12 col-sm-6">
          <p class="label">{{ 'hostname' | translate }}:</p>
          <p class="value">{{ hwInfo.hostinformation.hostname }}</p>
          <p class="label">{{ 'number of processes running' | translate }}:</p>
          <p class="value">
            {{ hwInfo.hostinformation.numberofrunningprocess }}
          </p>
          <p class="label">OS:</p>
          <p class="value">{{ hwInfo.hostinformation.os }}</p>
          <p class="label">Platform:</p>
          <p class="value">{{ hwInfo.hostinformation.platform }}</p>
          <p class="label">Host ID(uuid):</p>
          <p class="value">{{ hwInfo.hostinformation.hostid }}</p>
        </div>
      </div>
      <br /><br />

      <div class="row">
        <div class="col-12 col-sm-6">
          <h2 class="mat-h2">{{ 'memory' | translate }}</h2>
          <div class="memory-usage">
            <div class="label">{{ 'usage' | translate }}</div>
            <div class="usage">
              <span> {{ hwInfo.memoryinformation.used / gbToB | number: '0.0-2' }}GB/ </span>
              <span> {{ hwInfo.memoryinformation.total / gbToB | number: '0.0-2' }}GB </span>
              <span> ({{ hwInfo.memoryinformation.usedpercent | number: '0.0-2' }}%) </span>
            </div>
            <div class="persentage-container">
              <div class="percentage" [ngStyle]="{ 'width.%': hwInfo.memoryinformation.usedpercent }"></div>
            </div>
          </div>
          <br />
        </div>

        <div class="col-12 col-sm-6">
          <h2 class="mat-h2">{{ 'storage' | translate }}</h2>
          <div class="memory-usage">
            <div class="label">{{ 'usage' | translate }}</div>
            <div class="usage">
              <span> {{ hwInfo.storageinformation.used / gbToB | number: '0.0-2' }}GB/ </span>
              <span> {{ hwInfo.storageinformation.total / gbToB | number: '0.0-2' }}GB </span>
            </div>
            <div class="persentage-container">
              <div class="percentage" [ngStyle]="{ 'width.%': hwInfo.storageinformation.usedpercent }"></div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- NODE USAGE LOADING -->
    <div *ngIf="isNodeHardwareLoading" class="skeleton">
      <div class="skeleton-text margin-24" style="width:30%;"></div>
      <div class="row">
        <div class="col-12 col-sm-6" *ngFor="let i of [0, 1]">
          <ng-container *ngFor="let i of [0, 1, 2, 3, 4]">
            <div class="skeleton-text small" style="width:40%;"></div>
            <div class="skeleton-text margin-16" style="width:80%;"></div>
          </ng-container>
        </div>
      </div>
    </div>
  </mat-card>
  <br />
</div>

<ng-template #popupPubKey>
  <div class="confirmation-dialog">
    <div class="content">
      <div class="row">
        <div class="col-12">
          <i class="far fa-check-circle fa-7x icon-check"></i>
          <h2 class="title">{{ 'success' | translate }}</h2>
          <h4 class="sub-title">{{ 'new public key address' | translate }}</h4>
          <div class="address">
            <wallet-address [center]="true" [value]="nodePublicKey"></wallet-address>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center footer" style="margin-top: 10px">
      <button (click)="onCloseDialog()" mat-flat-button class="btncustom">{{ 'okay' | translate }}</button>
    </div>
  </div>
</ng-template>
