<div class="node-admin-container">
  <h2 class="mat-h2">{{ 'Node Admin' | translate }}</h2>
  <div class="row">
    <div class="col-12 col-sm-6">
      <mat-card class="status-card">
        <div class="icon">
          <i class="fa fa-plug"></i>
          <div class="label">Online</div>
        </div>
        <div class="status" *ngIf="account.nodeIP">
          <div class="label">{{ 'IP Address' | translate }}</div>
          <div class="value">{{ account.nodeIP }}</div>
          <button mat-flat-button (click)="generateNewPubKey()">
            {{ 'generate new public key' | translate }}
          </button>
        </div>
      </mat-card>
    </div>

    <div class="col-12 col-sm-6">
      <mat-card class="status-card">
        <div class="icon">
          <i class="fa fa-hammer"></i>
          <div class="label">&nbsp;</div>
        </div>
        <div class="status">
          <div class="label">{{ 'Blocks Created' | translate }}</div>
          <div class="value">
            20,000 <small>{{ 'Blocks' | translate }}</small>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

  <!-- REGISTERED NODE -->
  <h2 class="mat-h2">{{ 'Registered Node' | translate }}</h2>
  <mat-card class="registered-node">
    <!-- REGISTERED NODE LOADED -->
    <ng-container *ngIf="registeredNode">
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="label">{{ 'Account Address' | translate }}</div>
          <div class="value">
            <wallet-address
              [value]="registeredNode.accountaddress"
              [copyButton]="true"
            ></wallet-address>
          </div>
          <div class="label">{{ 'Node Public Key' | translate }}</div>
          <div class="value">
            <wallet-address
              [value]="registeredNode.nodepublickey"
              [copyButton]="true"
            ></wallet-address>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="label">{{ 'Locked Balance' | translate }}</div>
          <div class="value big">
            {{ registeredNode.lockedbalance / 1e8 | number: '0.0-8' }} ZBC
          </div>
          <div class="label">{{ 'Height' | translate }}</div>
          <div class="value big">{{ registeredNode.height }}</div>
          <div class="label">{{ 'Registration Height' | translate }}</div>
          <div class="value big">{{ registeredNode.registrationheight }}</div>
        </div>
      </div>
      <div class="text-right">
        <!-- <span class="pending-label">Pending: Update Node</span> -->
        <ng-container *ngIf="!pendingNodeTx">
          <button
            mat-flat-button
            color="primary"
            style="margin-right: 8px"
            (click)="openUpdateNode()"
          >
            Update Node
          </button>
          <button mat-flat-button color="warn" (click)="removeNode()">
            Remove Node
          </button>
        </ng-container>
        <ng-container *ngIf="pendingNodeTx">
          <span class="pending-label">
            Pending: <b>{{ pendingNodeTx.type }}</b>
          </span>
        </ng-container>
      </div>
    </ng-container>

    <!-- REGISTERED NODE LOADING -->
    <ng-container *ngIf="isNodeLoading">
      <div class="row skeleton">
        <div class="col-12 col-sm-6">
          <div class="skeleton-text small" style="width:60%;"></div>
          <div class="skeleton-text margin-16" style="width:100%;"></div>
          <div class="skeleton-text small" style="width:60%;"></div>
          <div class="skeleton-text margin-16" style="width:100%;"></div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="skeleton-text small" style="width:60%;"></div>
          <div class="skeleton-text margin-16" style="width:30%;"></div>
          <div class="skeleton-text small" style="width:30%;"></div>
          <div class="skeleton-text margin-16" style="width:20%;"></div>
          <div class="skeleton-text small" style="width:60%;"></div>
          <div class="skeleton-text margin-16" style="width:20%;"></div>
        </div>
      </div>
    </ng-container>

    <!-- NODE NOT REGISTERED -->
    <div
      class="not-registered-node"
      *ngIf="!registeredNode && !isNodeLoading && !isNodeError"
    >
      <i matPrefix class="fa fa-desktop"></i>
      <span class="message">
        {{ 'Your node is not registered yet' | translate }}
      </span>
      <div class="text-center">
        <button
          mat-flat-button
          color="primary"
          style="margin-right: 8px"
          (click)="openRegisterNode()"
        >
          {{ 'Register Your Node' | translate }}
        </button>
        <button mat-flat-button color="accent" (click)="openClaimNode()">
          {{ 'Claim Your Node' | translate }}
        </button>
      </div>
    </div>

    <!-- NODE REGISTRATION ERROR -->
    <div class="no-content" *ngIf="isNodeError">
      <i matPrefix class="fa fa-exclamation-triangle"></i>
      <span class="message">
        {{ 'An error occurred while processing your request' | translate }}
      </span>
      <button mat-flat-button color="primary" (click)="getRegisteredNode()">
        {{ 'Try Again' | translate }}
      </button>
    </div>
  </mat-card>
  <br /><br />

  <!-- NODE USAGE -->
  <h2 class="mat-h2">{{ 'Node Usage' | translate }}</h2>
  <mat-card>
    <!-- NODE USAGE ERROR -->
    <div class="no-content" *ngIf="isNodeHardwareError">
      <i matPrefix class="fa fa-exclamation-triangle"></i>
      <span class="message">
        {{ 'An error occurred while processing your request' | translate }}
      </span>
      <button
        mat-flat-button
        color="primary"
        (click)="streamNodeHardwareInfo()"
      >
        {{ 'Try Again' | translate }}
      </button>
    </div>

    <!-- NODE USAGE LOADED -->
    <ng-container *ngIf="hwInfo && !isNodeHardwareError">
      <h2 class="mat-h2">{{ 'CPU' | translate }}</h2>
      <div class="row">
        <div
          class="col-6 col-sm-3 cpu-usage"
          *ngFor="let cpu of hwInfo.cpuinformationList"
        >
          <div class="percentage">
            <mat-progress-spinner
              [value]="cpu.usedpercent"
              diameter="80"
              color="primary"
            ></mat-progress-spinner>
            <div class="label">{{ cpu.usedpercent | number: '0.0-2' }}%</div>
          </div>
          <div class="cpu-number">CPU {{ cpu.coreid }}</div>
        </div>
      </div>
      <br /><br />

      <div class="row node-spec">
        <div class="col-12 col-sm-6">
          <p class="label">{{ 'CPU index number' | translate }}:</p>
          <p class="value">{{ hwInfo.cpuinformationList[0].cpuindex }}</p>
          <p class="label">{{ 'Vendor ID' | translate }}:</p>
          <p class="value">{{ hwInfo.cpuinformationList[0].vendorid }}</p>
          <p class="label">{{ 'Number of cores' | translate }}:</p>
          <p class="value">{{ hwInfo.cpuinformationList.length }}</p>
          <p class="label">{{ 'Model Name' | translate }}:</p>
          <p class="value">{{ hwInfo.cpuinformationList[0].modelname }}</p>
          <p class="label">{{ 'Speed' | translate }}:</p>
          <p class="value">{{ hwInfo.cpuinformationList[0].mhz }} MHz</p>
        </div>
        <div class="col-12 col-sm-6">
          <p class="label">{{ 'Hostname' | translate }}:</p>
          <p class="value">{{ hwInfo.hostinformation.hostname }}</p>
          <p class="label">{{ 'Number of processes running' | translate }}:</p>
          <p class="value">
            {{ hwInfo.hostinformation.numberofrunningprocess }}
          </p>
          <p class="label">OS:</p>
          <p class="value">{{ hwInfo.hostinformation.os }}</p>
          <p class="label">Platform:</p>
          <p class="value">{{ hwInfo.hostinformation.platform }}</p>
          <p class="label">Host ID(uuid):</p>
          <p class="value">{{ hwInfo.hostinformation.hostid }}</p>
        </div>
      </div>
      <br /><br />

      <div class="row">
        <div class="col-12 col-sm-6">
          <h2 class="mat-h2">{{ 'Memory' | translate }}</h2>
          <div class="memory-usage">
            <div class="label">{{ 'Usage' | translate }}</div>
            <div class="usage">
              <span>
                {{ hwInfo.memoryinformation.used / gbToB | number: '0.0-2' }}GB/
              </span>
              <span>
                {{ hwInfo.memoryinformation.total / gbToB | number: '0.0-2' }}GB
              </span>
              <span>
                ({{ hwInfo.memoryinformation.usedpercent | number: '0.0-2' }}%)
              </span>
            </div>
            <div class="persentage-container">
              <div
                class="percentage"
                [ngStyle]="{ 'width.%': hwInfo.memoryinformation.usedpercent }"
              ></div>
            </div>
          </div>
          <br />
        </div>

        <div class="col-12 col-sm-6">
          <h2 class="mat-h2">{{ 'Storage' | translate }}</h2>
          <div class="memory-usage">
            <div class="label">{{ 'Usage' | translate }}</div>
            <div class="usage">
              <span>
                {{
                  hwInfo.storageinformation.used / gbToB | number: '0.0-2'
                }}GB/
              </span>
              <span>
                {{
                  hwInfo.storageinformation.total / gbToB | number: '0.0-2'
                }}GB
              </span>
            </div>
            <div class="persentage-container">
              <div
                class="percentage"
                [ngStyle]="{ 'width.%': hwInfo.storageinformation.usedpercent }"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- NODE USAGE LOADING -->
    <div *ngIf="isNodeHardwareLoading" class="skeleton">
      <div class="skeleton-text margin-24" style="width:30%;"></div>
      <div class="row">
        <div class="col-12 col-sm-6" *ngFor="let i of [0, 1]">
          <ng-container *ngFor="let i of [0, 1, 2, 3, 4]">
            <div class="skeleton-text small" style="width:40%;"></div>
            <div class="skeleton-text margin-16" style="width:80%;"></div>
          </ng-container>
        </div>
      </div>
    </div>
  </mat-card>
  <br />
</div>
