@import '../../../styles/variables';

.node-admin-container {
  .status-card {
    display: flex;
    background: $primary-gradient !important;
    color: white;
    margin-bottom: 16px;

    &.error {
      background: $error-gradient !important;
    }

    .icon {
      width: 56px;

      .label {
        font-size: 13px;
        color: $white1;
        text-align: center;
        padding-top: 4px;
      }

      i {
        padding: 16px;
        font-size: 28px;
        text-align: center;
        width: 56px;
        height: 56px;
        border-radius: 56px;
        background-color: rgba($color: white, $alpha: 0.4);
      }
    }

    .status {
      text-align: right;
      width: calc(100% - 56px);

      .label {
        color: $white1;
        font-size: 14px;
        margin-bottom: 4px;
      }

      .value {
        font-size: 14px;

        .ip-address {
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-left: 16px;
        }

        .copy-ip {
          cursor: pointer;
          margin-left: 6px;
        }
      }

      .flex {
        display: flex;
      }

      .mat-flat-button {
        background-color: $white3;
        margin-top: 8px;
        height: 28px;
        font-size: 12px;
        color: white;
        line-height: 28px;
      }
    }
  }

  .node-spec,
  .registered-node {
    .label {
      font-size: 13px;
      color: $black3;
      margin: 0 0 4px 0;
    }

    .value {
      font-size: 14px;
      color: $black1;
      margin: 0 0 16px 0;
    }

    .value.big {
      font-size: 16px;
    }

    .pending-label {
      background-color: map-get($accent, 500);
      border-radius: 16px;
      color: white;
      padding: 8px 16px;
      margin-bottom: 8px;
      font-size: 13px;
    }
  }
}

.not-registered-node {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $black3;

  i {
    font-size: 32px;
    margin: 8px 0;
  }

  .message {
    font-size: 1.1rem;
    margin: 0.5rem 0;
  }
}

.cpu-usage {
  .percentage {
    text-align: center;
    position: relative;

    .mat-progress-spinner {
      margin: 0 auto;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: #ccc;
      }

      &::after {
        content: '';
        position: absolute;
        margin: auto;
        width: 80%;
        height: 80%;
        top: 8px;
        left: 8px;
        border-radius: 50%;
        background: white;
      }
    }

    .label {
      position: absolute;
      top: calc(50% - 7px);
      text-align: center;
      width: 100%;
      font-size: 14px;
      color: $black2;
    }
  }

  .cpu-number {
    text-align: center;
    font-size: 14px;
    margin-top: 6px;
  }
}

.memory-container {
  .mat-h4 {
    margin-bottom: 8px;
  }

  .mat-divider {
    margin: 16px 0 8px 0;
  }
}

.memory-usage {
  display: flex;
  flex-wrap: wrap;

  .label {
    width: 30%;
    font-size: 14px;
    color: $black2;
  }

  .usage {
    width: 70%;
    text-align: right;
    font-size: 14px;
    font-weight: bold;
    color: $black2;
  }

  .persentage-container {
    position: relative;
    height: 8px;
    width: 100%;
    margin-top: 4px;
    border-radius: 6px;
    background-color: #ccc;

    .percentage {
      background-color: map-get($primary, 600);
      height: 8px;
      border-radius: 6px;
    }
  }
}

.nodeadmin-dropdown-list {
  button i {
    margin-right: 8px;
    color: $black3;
  }

  .nodeadmin-menu-container {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 150px;
  }
}

.confirmation-dialog {
  .content {
    margin-top: 10px;
    word-break: break-all;
    margin-bottom: 10px;
    text-align: center;

    .icon-check {
      color: #a5dc86;
    }

    .title {
      font-size: 24px !important;
      font-weight: 400 !important;
      color: $black2;
      text-align: center;
      max-width: 100%;
    }

    .sub-title {
      font-size: 1.125em;
      color: $black3;
      line-height: normal;
      font-weight: 400;
      margin-top: -10px;
    }

    .address {
      color: $black1;
      font-size: 1.3em;
      margin-top: -20px;
      margin-bottom: 20px;
    }
  }

  .footer {
    .btncustom {
      width: 6em;
      height: 2.5em;
      font-size: large;
      font-weight: bold;
      background: linear-gradient(45deg, #0d4573, #177dcf) !important;
      border-radius: 8px !important;
      color: white;
      text-transform: uppercase;
    }
  }
}
