<div class="login-container">
  <img src="assets/img/zbc-color-text.svg" alt="" />
  <h2 class="mat-h2">Registration Wallet</h2>
  <div *ngIf="!isProd" class="testnet-label">ZooBC Testnet</div>
  <ng-container *ngIf="!hasAccount">
    <a routerLink="/signup" mat-flat-button color="primary">Create New Wallet </a>
    <a routerLink="/open-wallet" mat-flat-button color="primary">Open Wallet </a>
  </ng-container>

  <ng-container *ngIf="hasAccount && !isLoggedIn">
    <form [formGroup]="formLoginPin" (submit)="onLoginPin()">
      <mat-label>Please Enter Your Pin</mat-label>
      <br />
      <field-pins #pin formControlName="pin" (keyup)="onChangePin()"></field-pins>
      <mat-error *ngIf="pinForm.hasError('invalid')">Pin invalid </mat-error>
      <button mat-flat-button color="primary" [disabled]="formLoginPin.invalid">
        <i matPrefix class="fas fa-check" *ngIf="!isLoading"></i>
        <i matPrefix class="fas fa-circle-notch fa-spin" *ngIf="isLoading"></i>
        <span class="text">Login</span>
      </button>

      <button style="margin-top: 8px;" routerLink="/signup" mat-flat-button color="primary">
        Create New Wallet
      </button>
      <button style="margin-top: 8px;" routerLink="/open-wallet" mat-flat-button color="primary">
        Open Another Wallet
      </button>
    </form>
  </ng-container>
</div>
