@import '../../../styles/variables';

.login-bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: aqua;
}
.login-container {
  text-align: center;
  height: calc(93vh - 64px);
  .login-box {
    min-width: 328px;
    max-width: 328px;
    margin: 0 auto;

    img {
      max-width: 136px;
    }

    h2 {
      margin-bottom: 8px;
      margin-top: 39px;
      font-size: 20px;
      font-weight: 500;
      color: white;
    }

    p {
      margin-bottom: 16px;
      font-size: 16px;
      color: white;
      font-style: normal;
      font-weight: normal;
    }

    a.mat-flat-button {
      display: block;
      width: 100%;
      margin: 8px 0;
      background-color: white;
      color: map-get($primary, 500);
    }
    a.mat-stroked-button {
      display: block;
      width: 100%;
      margin: 8px 0;
      color: white;
      border-color: white !important;
    }

    form {
      max-width: 360px;
      margin: 0 auto;
      mat-label {
        font-size: 14px;
        font-weight: 500;
        color: $white2;
        margin-bottom: 16px;
      }
      .mat-flat-button {
        display: block;
        width: 100%;
        margin: 8px 0;
        background-color: white;
        color: map-get($primary, 500);
      }

      .mat-stroked-button {
        display: block;
        width: 100%;
        margin: 8px 0;
        color: white;
        border-color: white !important;
      }

      .spiner {
        display: flex;
        justify-content: center;
        font-size: 32px;
        color: white;
      }
    }
  }
}

.access-button {
  margin: 0 auto;
  text-align: center;
  color: white;

  .mat-flat-button {
    margin: 8px 4px;
    background-color: white;
    color: map-get($primary, 500);
    i {
      font-size: 24px;
      margin-right: 4px;
    }
  }

  .mat-stroked-button {
    margin: 8px 4px;
    color: white;
    border-color: white !important;
    i,
    img {
      font-size: 18px;
      margin-right: 8px;
    }
  }
}
