.login-page {
  background-color: #4e73df;
  padding-top: calc((100vh / 2) - 100px);
  min-height: 100vh;
  height: 100%;
  .container {
    max-width: 480px;
  }  
  h3 {
    color: white;
  }
  .input-group {
    margin-bottom: 8px;
  }
  .custom-select { margin-bottom: 8px; }
  .btn {
    width: 100%;
    justify-content: baseline;
    margin-bottom: 8px;
    &.btn-transparent {
      background-color: transparent;
      &:hover {
        background-color: rgba(0, 0, 0, .1)
      }
    }
    .text {
      margin: 0 auto;
    }
  }
}
