<div class="escrow-list-container">
  <ng-container *ngIf="isLoading">
    <div class="escrow-item row skeleton" *ngFor="let i of [0, 1, 2, 3, 4, 5]">
      <div class="col-7 col-sm-8">
        <div class="skeleton-text" style="width:50%;"></div>
        <div class="skeleton-text small" style="width:75%;"></div>
        <div class="skeleton-text small" style="width:25%;"></div>
      </div>
      <div class="col-5 col-sm-4">
        <div class="skeleton-text" style="width:71%;float:right"></div>
        <div class="skeleton-text small" style="width:80%;float:right"></div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="escrowTransactionsData">
    <div class="no-content padding" *ngIf="escrowTransactionsData.length <= 0">
      <i matPrefix class="fa fa-receipt"></i>
      <span class="message">{{ 'No Approval Needed' | translate }}</span>
    </div>
    <div [className]="withDetail ? 'escrow-item hover row' : 'escrow-item hover'"
      *ngFor="let escrow of escrowTransactionsData; let i = index" (click)="openDetail(escrow.id)">
      <div class="col-12 col-sm-8">
        <div class="alias-task" *ngIf="escrow.alias">
          {{escrow.alias}}
        </div>
        <div class="title-task">
          <wallet-address [value]="escrow.recipientaddress"></wallet-address>
        </div>
        <div class="timeout">Expired after blockheight: {{ escrow.timeout }}</div>
      </div>
      <div class="col-12 col-sm-4 text-right">
        <div class="commission-receive">
          + {{ escrow.commission / 1e8 | number: '0.0-8' }} ZBC
        </div>
      </div>
    </div>
  </ng-container>

  <div class="no-content padding" *ngIf="isError">
    <i matPrefix class="fa fa-exclamation-triangle"></i>
    <span class="message">
      {{ 'An error occurred while processing your request' | translate }}
    </span>
    <button mat-flat-button color="primary" (click)="onRefresh()">
      {{ 'Try Again' | translate }}
    </button>
  </div>
</div>