<div class="create-transaction-container">
  <h2 class="mat-h2">{{ 'send money' | translate }}</h2>
  <mat-card>
    <div class="stepper">
      <ng-container *ngIf="stepper.multisigInfo">
        <div class="step">
          <span class="step-circle"><i class="fa fa-minus"></i></span>
          <span class="step-label">{{ 'add multisig info' | translate }}</span>
        </div>
        <div class="stepper-line"></div>
      </ng-container>
      <div class="step active">
        <span class="step-circle"><i class="fa fa-check"></i></span>
        <span class="step-label">{{ 'create transaction' | translate }}</span>
      </div>
      <ng-container *ngIf="stepper.signatures">
        <div class="stepper-line"></div>
        <div class="step">
          <span class="step-circle"><i class="fa fa-minus"></i></span>
          <span class="step-label">{{ 'add signatures' | translate }}</span>
        </div>
      </ng-container>
    </div>
    <mat-divider style="margin-bottom: 24px;"></mat-divider>

    <form [formGroup]="createTransactionForm" (submit)="next()">
      <app-form-send-money
        [group]="createTransactionForm"
        [inputMap]="fieldList"
        [currencyRate]="currencyRate"
        *ngIf="multisig.txType == 1"
      ></app-form-send-money>

      <app-form-update-node
        [group]="createTransactionForm"
        [inputMap]="fieldList"
        *ngIf="multisig.txType == 258"
      ></app-form-update-node>
      <button
        *ngIf="multisig.signaturesInfo !== undefined"
        mat-flat-button
        type="button"
        class="block"
        color="primary"
        (click)="generateDownloadJsonUri()"
        [disabled]="createTransactionForm.invalid"
      >
        {{ 'export draft multi signature' | translate }}
      </button>

      <div class="row" style="margin-top: 10px;">
        <div class="col">
          <button mat-flat-button color="warn" class="block" type="button" (click)="back()">
            {{ 'back' | translate }}
          </button>
        </div>
        <div class="col">
          <button mat-flat-button color="primary" class="block" type="button" (click)="saveDraft()">
            {{ 'save' | translate }}
          </button>
        </div>
        <div class="col">
          <button mat-flat-button color="primary" class="block" [disabled]="createTransactionForm.invalid">
            {{ 'next' | translate }}
          </button>
        </div>
      </div>
    </form>
  </mat-card>
</div>
