<div [formGroup]="group" style="margin-bottom: 16px;">
  <div style="margin-bottom: 16px;">
    <mat-checkbox #advanceCheckBox class="checkbox-margin" (click)="toggleAdvancedMenu()">
      {{ 'custom fee' | translate }}
    </mat-checkbox>
  </div>

  <ng-container *ngIf="showFee">
    <input-amount
      [group]="group"
      amountName="{{ inputMap.fee }}"
      label="{{ 'fee' | translate }}"
      [displayConverter]="false"
    ></input-amount>
    <div *ngIf="group.get(inputMap.fee).touched" style="margin-top: -8px;">
      <mat-error *ngIf="group.get(inputMap.fee).hasError('required')">
        {{ 'fee is required' | translate }}
      </mat-error>
      <mat-error *ngIf="group.get(inputMap.fee).hasError('min')">
        {{ 'minimum fee is' | translate: { val: minFee } }}
      </mat-error>
    </div>
  </ng-container>
</div>
