<div class="general-container">
  <div class="setting-section">
    <p class="title">
      <span>{{ 'general' | translate }}</span>
    </p>

    <p class="subtitle">{{ 'language' | translate }}</p>
    <mat-form-field appearance="outline" color="accent">
      <mat-select [value]="activeLanguage" (selectionChange)="changeLanguage($event.value)">
        <mat-option *ngFor="let language of languages" [value]="language.code">
          {{ language.country }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br /><br />

    <p class="subtitle">{{ 'Setting and Data' | translate }}</p>
    <button mat-flat-button (click)="resetData()" color="primary">
      <i matPrefix class="fa fa-sync"></i>
      {{ 'Reset Data' | translate }}
    </button>
  </div>

  <div class="setting-section">
    <p class="title">
      <span>{{ 'network' | translate }}</span>
    </p>

    <p class="subtitle">{{ 'select network' | translate }}</p>
    <network></network>
  </div>

  <div class="setting-section">
    <p class="title">
      <span>{{ 'security & privacy' | translate }}</span>
    </p>

    <p class="subtitle">{{ 'reveal seed phrase' | translate }}</p>
    <button mat-flat-button (click)="onOpenRevealPassphrase()" color="primary">
      <i matPrefix class="fa fa-eye"></i>
      {{ 'reveal seed phrase' | translate }}
    </button>
  </div>
</div>
