<div class="general-container">
  <div class="setting-section">
    <p class="title">
      <span>Network</span>
    </p>

    <p class="subtitle">Select Network</p>
    <network></network>
  </div>

  <div class="setting-section">
    <p class="title">
      <span>Security & Privacy</span>
    </p>

    <p class="subtitle">Reveal Passphrase</p>
    <button mat-flat-button (click)="onOpenRevealPassphrase()" color="primary">
      <i matPrefix class="fa fa-eye"></i>
      Reveal Passphrase
    </button>
  </div>
</div>
