.zbc-form-item {
  margin-top: 10px;

  .amount {
    .primary-amount {
      font-size: 1.3rem;
      margin-bottom: 0.2rem;
    }

    .secondary-amount {
      font-size: 0.8rem;
      margin-bottom: 0.2rem;
    }
  }
}
