<div class="contacts-container">
  <h2 class="mat-h2">{{ 'Push Notifications Setting' | translate }}</h2>
  <div style="margin-bottom: 10px;">
  <mat-checkbox class="checkbox-margin">
    {{ 'My Task' | translate }}
  </mat-checkbox>
  </div>
  <div style="margin-bottom: 10px;">
  <mat-checkbox class="checkbox-margin">
    {{ 'Send Transaction' | translate }}
  </mat-checkbox>
  </div>
  <div class="app-action">
    <button mat-flat-button color="primary" (click)="onComingSoonPage()">
      {{ 'save' | translate }}
    </button>
  </div>
</div>

