<ng-container [formGroup]="group">
  <mat-form-field appearance="outline" color="accent" style="width: 100%;">
    <mat-label>{{ 'ip address' | translate }}</mat-label>
    <input
      matInput
      type="text"
      placeholder="https://yournode.com:8001 {{ 'or' | translate }} http://192.168.43.1:8001"
      formControlName="{{ inputMap.ipAddress }}"
    />
  </mat-form-field>
  <ng-container *ngIf="group.get(inputMap.ipAddress).touched">
    <mat-error *ngIf="group.get(inputMap.ipAddress).hasError('required')">
      {{ 'ip address is required' | translate }}
    </mat-error>
    <mat-error *ngIf="group.get(inputMap.ipAddress).hasError('pattern')">
      {{ 'invalid ip address format' | translate }}
    </mat-error>
  </ng-container>

  <mat-form-field appearance="outline" color="accent" style="width: 100%;">
    <mat-label>{{ 'locked balance' | translate }}</mat-label>
    <input
      matInput
      type="number"
      placeholder="{{ 'locked amount' | translate }}"
      formControlName="{{ inputMap.lockedAmount }}"
    />
  </mat-form-field>
  <ng-container *ngIf="group.get(inputMap.lockedAmount).touched">
    <mat-error *ngIf="group.get(inputMap.lockedAmount).hasError('required')">
      {{ 'locked balance is required' | translate }}
    </mat-error>
    <mat-error *ngIf="group.get(inputMap.lockedAmount).hasError('min')">
      {{ 'new locked balance cannot be smaller than current locked balance' | translate }}
    </mat-error>
  </ng-container>

  <div class="fee-section">
    <label>Fee</label>
    <div class="fee-value">{{ group.get(inputMap.fee).value }} <small>ZBC</small></div>
  </div>
</ng-container>
