@import '../../../styles/variables';

.feedback-container {
  max-width: 400px;
  margin: 0 auto;
  form {
    display: grid;
    .mat-body-1 {
      margin-left: 8px;
      color: $black2;
    }

    .uploader {
      margin-bottom: 16px;
    }
  }
}
