<div class="feedback-container">
  <h2 class="mat-h2">{{ 'Feedback' | translate }}</h2>
  <mat-card>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <!-- Name -->
      <mat-form-field appearance="outline" color="accent">
        <mat-label>{{ 'Name' | translate }}</mat-label>
        <input matInput type="text" formControlName="name" />
      </mat-form-field>
      <ng-container *ngIf="nameField.touched">
        <mat-error *ngIf="nameField.hasError('required')">
          {{ 'Name is required' | translate }}
        </mat-error>
      </ng-container>

      <!-- Email -->
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" />
      </mat-form-field>
      <ng-container *ngIf="emailField.touched">
        <mat-error *ngIf="emailField.hasError('required')">
          {{ 'Email is required' | translate }}
        </mat-error>
        <mat-error *ngIf="emailField.hasError('email')">
          {{ 'Incorrect email format' | translate }}
        </mat-error>
      </ng-container>

      <!-- Message -->
      <mat-form-field appearance="outline" color="accent">
        <mat-label>{{ 'Message' | translate }}</mat-label>
        <textarea matInput formControlName="message" rows="9"></textarea>
      </mat-form-field>
      <ng-container *ngIf="messageField.touched">
        <mat-error *ngIf="messageField.hasError('required')">
          {{ 'Message is required' | translate }}
        </mat-error>
      </ng-container>

      <!--File Upload-->
      <div>
        <input
          #fileInput
          type="file"
          (change)="onFileChange($event.target.files)"
          style="display: none"
          multiple
        />
        <button
          mat-flat-button
          color="primary"
          type="button"
          (click)="openFile()"
          [disabled]="isUploadLoading"
        >
          <span *ngIf="isUploadLoading">
            <i class="fas fa-circle-notch fa-spin"></i>&nbsp;
          </span>
          {{ 'Add Attachment' | translate }}
        </button>
        <span
          class="mat-body-1"
          *ngIf="isUploadSuccess"
          style="color: #4caf50;"
        >
          {{ 'Attachment Added' | translate }}
        </span>
      </div>
      <br />

      <!-- Send button -->
      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="contactForm.invalid || isFeedbackLoading"
      >
        <span *ngIf="isFeedbackLoading">
          <i class="fas fa-circle-notch fa-spin"></i>&nbsp;
        </span>
        {{ 'Send' | translate }}
      </button>
    </form>
  </mat-card>
</div>
