<div class="send-transaction-container">
  <h2 class="mat-h2">{{ 'send money' | translate }}</h2>
  <mat-card>
    <form [formGroup]="formSend" (submit)="onOpenConfirmDialog()">
      <label>{{ 'sender' | translate }}</label>
      <account-selector
        (select)="onSwitchAccount($event)"
        type="normal"
        [addresses]="participants"
        [switchAccount]="true"
      ></account-selector>
      <input-amount [group]="formSend" amountName="fee" label="{{ 'fee' | translate }}"> </input-amount>
      <div class="row" *ngIf="feeForm.touched && feeForm.invalid">
        <div class="col-4 col-sm-3">&nbsp;</div>
        <div class="col-8 col-sm-9">
          <ng-container *ngIf="feeForm.touched">
            <mat-error *ngIf="feeForm.hasError('required')">
              {{ 'fee is required' | translate }}
            </mat-error>
            <mat-error *ngIf="feeForm.hasError('min')">
              {{ 'minimum fee is' | translate: { val: minFee } }}
            </mat-error>
          </ng-container>
        </div>
      </div>
      <button mat-flat-button color="warn" type="button" (click)="back()">
        {{ 'back' | translate }}
      </button>
      <button mat-flat-button color="primary" type="button" (click)="saveDraft()">
        {{ 'save' | translate }}
      </button>
      <button [disabled]="!formSend.valid" mat-flat-button color="primary">
        {{ 'send' | translate }}
      </button>
    </form>
  </mat-card>
</div>

<ng-template #confirmDialog>
  <div class="confirmation-dialog">
    <div class="row">
      <div class="col-12 col-sm-6">
        <div class="title">{{ 'confirm send money' | translate }}</div>
      </div>
      <div class="col-12 col-sm-6 text-right">
        <a class="brand">
          <div class="title-wallet">
            <p class="text">ZooBC Wallet</p>
            <img src="../../../../assets/img/zbc-color.svg" alt="" />
          </div>
        </a>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="content">
      <div class="row">
        <div class="col-12 col-sm-6 test">
          <div class="label">{{ 'sender' | translate }}:</div>
          <div class="address">
            <wallet-address [value]="multisig.txBody.sender"></wallet-address>
          </div>
          <div class="label">{{ 'recipient' | translate }}:</div>
          <div class="address">
            <wallet-address [value]="multisig.txBody.recipient"></wallet-address>
          </div>
          <!-- <ng-container *ngIf="advancedMenu">
            <mat-divider style="margin-bottom: 10px;"></mat-divider>
            <div class="label">{{ 'approver address' | translate }}:</div>
            <div class="address">
              <wallet-address [value]="account.address"></wallet-address>
            </div>
            <div class="label">{{ 'approver commission' | translate }}:</div>
            <div class="amount">
              <div class="zbc">{{ feeForm.value | number: '0.0-8' }} ZBC</div>
              <div class="currency">
                <!-- {{ feeFormCurr.value | number: '0.0-2' }}
                {{ currencyRate.name }}
              </div>
            </div>
            <div class="label">{{ 'timeout' | translate }}:</div>
            <div class="amount">
              100
            </div>
            <div class="label">{{ 'instruction' | translate }}:</div>
            <div class="instruction">
              This is dummy data
            </div>
          </ng-container> -->
        </div>
        <div class="col-12 col-sm-6 text-right">
          <!-- <div class="label">{{ 'amount' | translate }}:</div>
          <div class="amount">
            <div class="zbc">{{ multisig.transaction.amount | number: '0.0-8' }} ZBC</div>
            <div class="currency">
              <!-- {{ multisig.transaction.amount * currencyRate.value | number: '0.0-2' }}
              {{ currencyRate.name }} 
        </div>
      </div>
      -->
          <div class="label">
            <span>{{ 'fee' | translate }}</span>
            <!-- <span> - {{ kindFee }}</span> -->
            <span>:</span>
          </div>
          <div class="amount">
            <div class="zbc">{{ multisig.txBody.fee | number: '0.0-8' }} ZBC</div>
            <!-- <div class="currency">
              {{ multisig.txBody.fee * currencyRate.value | number: '0.0-2' }}
              {{ currencyRate.name }}
            </div> -->
          </div>
          <div class="label">{{ 'total' | translate }} :</div>
          <div class="total" *ngIf="advancedMenu; else not_escrow">
            <div class="zbc">{{ feeForm.value + feeForm.value + feeForm.value | number: '0.0-8' }} ZBC</div>
            <div class="currency">
              <!-- {{ feeFormCurr.value + feeFormCurr.value + feeFormCurr.value | number: '0.0-2' }}
              {{ currencyRate.name }} -->
            </div>
          </div>
          <!-- <ng-template #not_escrow>
            <div class="zbc">
              {{ multisig.transaction.amount + multisig.transaction.fee | number: '0.0-8' }}
              ZBC
            </div>
            <div class="currency">
              <!-- {{
                multisig.transaction.amount * currencyRate.value +
                  multisig.transaction.fee * currencyRate.value | number: '0.0-2'
              }}/
              {{ currencyRate.name }}
            </div>
          </ng-template> -->
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="text-right" style="margin-top: 8px">
      <button mat-flat-button color="warn" (click)="closeDialog()" style="margin-right: 8px">
        {{ 'cancel' | translate }}
      </button>
      <button mat-flat-button color="primary" (click)="onConfirm()">
        {{ 'confirm' | translate }}
      </button>
    </div>
  </div>
</ng-template>
