@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.send-transaction-container {
  max-width: 400px;
  margin: 0 auto;
  form {
    .from-section {
      position: relative;
      .cover-from {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #f2f3f4;
        border-radius: 6px;
        opacity: 0.7;
        display: flex;
        &.hide {
          display: none;
        }

        .text-cover {
          display: flex;
          flex-flow: column;
          font-size: 16px;
          align-items: center;
          justify-content: center;
          text-align: center;
          width: 100%;
          height: 100%;
        }
      }
    }

    .blur {
      filter: blur(5px);
    }

    .row {
      margin: 0 -4px;
      [class^='col'] {
        padding: 0 4px;
      }
    }
    .label-margin {
      margin-top: 10px;
      display: block;
    }
  }
  button {
    width: calc(31%);
    text-transform: none;
    margin: 10px 8px 0 0;
    @media (max-width: 375px) {
      margin: 10px 5px 0 0;
    }
  }
}
.confirmation-dialog {
  .brand {
    .title-wallet {
      font-size: 16px;
      margin-right: 10px;
      display: inline-flex;
      // for webkit only
      display: -webkit-inline-box;

      .text {
        margin: 0 8px 0 0;
        line-height: 28px;
      }

      img {
        width: 24px;
        margin-bottom: 8px;
      }
    }
  }

  .title {
    color: $black2;
    font-size: 16px !important;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .content {
    margin-top: 10px;
    word-break: break-all;
    margin-bottom: 10px;

    .label {
      font-size: 14px;
      color: $black3;
      font-weight: bold;
      margin-bottom: 4px;
    }

    .address,
    .amount,
    .instruction,
    .total {
      margin-bottom: 12px;
    }

    .instruction {
      word-break: break-word !important;
    }

    .amount {
      .zbc {
        font-size: 16px;
        margin-bottom: 4px;
      }

      .currency {
        font-size: 14px;
      }
    }

    .total {
      color: #4caf50;
      font-weight: bold;

      .zbc {
        font-size: 18px;
        margin-bottom: 4px;
      }

      .currency {
        font-size: 16px;
      }
    }
  }
}
