<form [formGroup]="formSend" (submit)="onOpenConfirmDialog()">
  <label>{{ 'sender' | translate }}</label>
  <account-selector
    (select)="onSwitchAccount($event)"
    type="normal"
    [addresses]="participants"
    [switchAccount]="true"
  ></account-selector>
  <input-amount [group]="formSend" amountName="fee" label="{{ 'fee' | translate }}"> </input-amount>
  <div class="row" *ngIf="feeForm.touched && feeForm.invalid">
    <div class="col-4 col-sm-3">&nbsp;</div>
    <div class="col-8 col-sm-9">
      <ng-container *ngIf="feeForm.touched">
        <mat-error *ngIf="feeForm.hasError('required')">
          {{ 'fee is required' | translate }}
        </mat-error>
        <mat-error *ngIf="feeForm.hasError('min')">
          {{ 'minimum fee is' | translate: { val: minFee } }}
        </mat-error>
      </ng-container>
    </div>
  </div>
  <div class="row" style="margin-top: 10px;">
    <div class="col">
      <button
        mat-flat-button
        color="warn"
        type="button"
        (click)="back()"
        class="block"
        *ngIf="!isPopupDialog"
      >
        {{ 'back' | translate }}
      </button>
      <button
        mat-flat-button
        color="warn"
        type="button"
        (click)="closeDialog()"
        class="block"
        *ngIf="isPopupDialog"
      >
        {{ 'Cancel' | translate }}
      </button>
    </div>
    <div class="col">
      <button [disabled]="!formSend.valid || isLoading" mat-flat-button color="primary" class="block">
        {{ 'send' | translate }}
      </button>
    </div>
  </div>
</form>

<ng-template #confirmDialog>
  <div class="confirmation-dialog">
    <div class="row">
      <div class="col-12 col-sm-6">
        <div class="title">{{ 'confirmation' | translate }}</div>
      </div>
      <div class="col-12 col-sm-6 text-right">
        <a class="brand">
          <div class="title-wallet">
            <p class="text">ZooBC Wallet</p>
            <img src="../../../../assets/img/zbc-color.svg" alt="" />
          </div>
        </a>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="content">
      <div class="row">
        <ng-container *ngFor="let item of innerTx">
          <div class="col-12 col-sm-6">
            <div class="label">{{ item.key | translate }}</div>
            <div class="value">
              <ng-container *ngIf="!item.isAddress">{{ item.value }}</ng-container>
              <wallet-address
                *ngIf="item.isAddress"
                [value]="item.value"
                [copyButton]="true"
              ></wallet-address>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="text-right" style="margin-top: 8px">
      <button mat-flat-button color="warn" (click)="closeDialog()" style="margin-right: 8px">
        {{ 'cancel' | translate }}
      </button>
      <button mat-flat-button color="primary" (click)="onConfirm()">
        {{ 'confirm' | translate }}
      </button>
    </div>
  </div>
</ng-template>
