@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.confirmation-dialog {
  .brand {
    .title-wallet {
      font-size: 16px;
      margin-right: 10px;
      display: inline-flex;
      // for webkit only
      display: -webkit-inline-box;

      .text {
        margin: 0 8px 0 0;
        line-height: 28px;
      }

      img {
        width: 24px;
        margin-bottom: 8px;
      }
    }
  }

  .title {
    color: $black2;
    font-size: 16px !important;
    font-weight: 500;
    margin-bottom: 8px;
  }

  .content {
    margin-top: 10px;
    word-break: break-all;
    margin-bottom: 10px;

    .label {
      font-size: 14px;
      color: $black2;
      font-weight: 500;
      margin-bottom: 4px;
    }

    .value {
      margin-bottom: 12px;
    }
  }
}
