<div class="send-transaction-container">
  <h2 class="mat-h2">{{ 'send money' | translate }}</h2>
  <mat-card>
    <form [formGroup]="formSend" (submit)="onOpenConfirmDialog()">
      <label>{{ 'sender' | translate }}</label>
      <account-selector
        (select)="onSwitchAccount($event)"
        type="normal"
        [addresses]="participants"
        [switchAccount]="true"
      ></account-selector>
      <input-amount [group]="formSend" amountName="fee" label="{{ 'fee' | translate }}"> </input-amount>
      <div class="row" *ngIf="feeForm.touched && feeForm.invalid">
        <div class="col-4 col-sm-3">&nbsp;</div>
        <div class="col-8 col-sm-9">
          <ng-container *ngIf="feeForm.touched">
            <mat-error *ngIf="feeForm.hasError('required')">
              {{ 'fee is required' | translate }}
            </mat-error>
            <mat-error *ngIf="feeForm.hasError('min')">
              {{ 'minimum fee is' | translate: { val: minFee } }}
            </mat-error>
          </ng-container>
        </div>
      </div>
      <button mat-flat-button color="warn" type="button" (click)="back()">
        {{ 'back' | translate }}
      </button>
      <button mat-flat-button color="primary" type="button" (click)="saveDraft()">
        {{ 'save' | translate }}
      </button>
      <button [disabled]="!formSend.valid || isLoading" mat-flat-button color="primary">
        {{ 'send' | translate }}
      </button>
    </form>
  </mat-card>
</div>

<ng-template #confirmDialog>
  <div class="confirmation-dialog">
    <div class="row">
      <div class="col-12 col-sm-6">
        <div class="title">{{ 'confirmation' | translate }}</div>
      </div>
      <div class="col-12 col-sm-6 text-right">
        <a class="brand">
          <div class="title-wallet">
            <p class="text">ZooBC Wallet</p>
            <img src="../../../../assets/img/zbc-color.svg" alt="" />
          </div>
        </a>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="content">
      <div class="row">
        <ng-container *ngFor="let x of counter(innerPage); let i = index">
          <div class="col-12 col-sm-6" [class.text-right]="getClass(i)">
            <ng-container *ngFor="let y of counter(2); let j = index">
              <ng-container *ngIf="getItemByKey(i, j, 'key').length > 0">
                <div class="label">{{ getItemByKey(i, j, 'key') | translate }}:</div>
                <div class="value">
                  <ng-container *ngIf="!getItemByKey(i, j, 'isAddress')">
                    {{ getItemByKey(i, j, 'value') }}
                  </ng-container>
                  <wallet-address
                    [ngStyle]="{ float: getClass(i) ? 'right' : 'none' }"
                    *ngIf="getItemByKey(i, j, 'isAddress')"
                    [value]="getItemByKey(i, j, 'value')"
                    [copyButton]="true"
                  ></wallet-address>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="text-right" style="margin-top: 8px">
      <button mat-flat-button color="warn" (click)="closeDialog()" style="margin-right: 8px">
        {{ 'cancel' | translate }}
      </button>
      <button mat-flat-button color="primary" (click)="onConfirm()">
        {{ 'confirm' | translate }}
      </button>
    </div>
  </div>
</ng-template>
