<div class="transaction-item hover row" (click)="openDetail(transaction.id)">
  <div class="col-12 col-sm-8">
    <ng-container *ngIf="transaction.recipient == address; else recipient">
      <div class="label">{{ 'from address' | translate }}:</div>
      <div class="name" *ngIf="transaction.senderAlias">
        {{ transaction.senderAlias }}
      </div>
      <div class="address">
        <wallet-address [value]="transaction.sender.address"></wallet-address>
      </div>
    </ng-container>

    <ng-template #recipient>
      <div class="label">{{ 'to address' | translate }}:</div>
      <div class="name" *ngIf="transaction.recipientAlias">
        {{ transaction.recipientAlias }}
      </div>
      <div class="address">
        <wallet-address [value]="transaction.recipient.address"></wallet-address>
      </div>
    </ng-template>

    <div class="date">{{ transaction.timestamp | dateAgo }}</div>
  </div>
  <div class="col-12 col-sm-4 text-right">
    <ng-container *ngIf="transaction.sender.address == address; else recipientAmount">
      <div class="amount-send">- {{ transaction.txBody.amount / 1e8 | number: '0.0-8' }} ZBC</div>
      <div class="fee" *ngIf="transaction.sender.address == address">
        - {{ transaction.fee / 1e8 | number: '0.0-8' }}
        <small>ZBC {{ 'fee' | translate }}</small>
      </div>
    </ng-container>
    <ng-template #recipientAmount>
      <div class="amount-receive">+ {{ transaction.txBody.amount / 1e8 | number: '0.0-8' }} ZBC</div>
    </ng-template>
    <div class="description">
      <div class="chips">
        <div class="chip small" *ngIf="transaction.multisig">
          {{ 'multisignature' | translate }}
        </div>
        <div class="chip small" *ngIf="transaction.escrow">{{ 'escrow transaction' | translate }}</div>
      </div>
      <div class="status" [style.color]="color" *ngIf="transaction.escrow">
        <i class="fas fa-dot-circle" matTooltip="{{ status | translate }}" matTooltipPosition="above"></i>
      </div>
    </div>
  </div>
</div>

<ng-template #dialog>
  <div class="transaction-detail-container" *ngIf="transaction && !isLoading">
    <div class="row" *ngIf="transaction.transactionHash">
      <div class="col-12 col-md-4">{{ 'transaction hash' | translate }}:</div>
      <div class="col-12 col-md-8">
        <a [href]="'https://zoobc.net/transactions/' + transaction.id" target="_blank">
          <wallet-address [value]="transaction.transactionHash"></wallet-address>
        </a>
      </div>
    </div>
    <div class="row" *ngIf="transaction.blockId">
      <div class="col-12 col-md-4">{{ 'block id' | translate }}:</div>
      <div class="col-12 col-md-8 font-roboto-mono">{{ transaction.blockId }}</div>
    </div>

    <div class="row">
      <div class="col-12 col-md-4">{{ 'sender' | translate }}:</div>
      <div class="col-12 col-md-8">
        <wallet-address [value]="transaction.sender.address"></wallet-address>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-4">{{ 'recipient' | translate }}:</div>
      <div class="col-12 col-md-8">
        <wallet-address [value]="transaction.recipient.address"></wallet-address>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-4">{{ 'amount' | translate }}:</div>
      <div class="col-12 col-md-8">{{ transaction.txBody.amount / 1e8 | number: '0.0-8' }} ZBC</div>
    </div>

    <div class="row">
      <div class="col-12 col-md-4">{{ 'fee' | translate }}:</div>
      <div class="col-12 col-md-8">{{ transaction.fee / 1e8 | number: '0.0-8' }} ZBC</div>
    </div>

    <div class="row" *ngIf="transaction.height">
      <div class="col-12 col-md-4">{{ 'height' | translate }}:</div>
      <div class="col-12 col-md-8">{{ transaction.height | number }}</div>
    </div>

    <div class="row" *ngIf="transaction.transactionIndex">
      <div class="col-12 col-md-4">{{ 'transaction index' | translate }}:</div>
      <div class="col-12 col-md-8">{{ transaction.transactionIndex }}</div>
    </div>

    <div class="row">
      <div class="col-12 col-md-4">{{ 'date' | translate }}:</div>
      <div class="col-12 col-md-8 font-roboto-mono">
        {{ transaction.timestamp | date: 'dd MMMM yyyy HH:mm:ss' }}
      </div>
    </div>
  </div>
</ng-template>
