<div class="reveal-passphrase-container">
  <h3 class="mat-h3" id="modal-basic-title" *ngIf="!phrase">
    <b>{{ 'Confirm Your Pin' | translate }}</b>
  </h3>
  <h3 class="mat-h3" id="modal-basic-title" *ngIf="phrase">
    <b>{{ 'Here your Passphrase' | translate }}</b>
  </h3>
  <form [formGroup]="formConfirmPin" class="form-pin" *ngIf="!phrase">
    <field-pins formControlName="pin" (keyup)="onTypePin()"></field-pins>
    <div class="text-center" *ngIf="isConfirmPinLoading">
      <i class="fas fa-circle-notch fa-spin"></i>
    </div>
    <mat-error *ngIf="formConfirmPin.hasError('invalid')">
      <span class="text-center">{{ 'Pin is not match' | translate }}</span>
    </mat-error>
  </form>

  <div *ngIf="phrase">
    <p
      class="phrase-text"
      (click)="copyPhrase()"
      matTooltip="Copy to clipboard"
    >
      {{ phrase }}
    </p>
  </div>

  <div class="text-left">
    <div
      class="warning-box mat-body-2"
      [innerHTML]="
        'Remember: DO NOT share this phrase with anyone! These words can be used to steal all your accounts.'
          | translate
      "
    ></div>
  </div>
</div>
