@import '../../../styles/variables';
@import '../../../styles/mixins';

.reveal-passphrase-container {
  .warning-box {
    background-color: #fff176;
    color: $black2;
    padding: 16px;
    border-radius: 6px;
    margin-bottom: 16px;
  }
  .phrase-text {
    text-align: center;
    background-color: map-get($accent, 400);
    color: white;
    border-radius: 8px;
    padding: 12px;
    font-size: 16px;
    line-height: 22px;
    @include transition(0.3s ease-in all);
    &:hover {
      background-color: map-get($accent, 300);
      cursor: pointer;
    }
  }
  .result {
    width: 100%;
    padding: 4px 4px;
  }
  i.fas {
    color: map-get($primary, 600);
    font-size: 22px;
    margin-bottom: 8px;
  }
}
