@import '../../../styles/variables';
@import '../../../styles/mixins';

.reveal-passphrase-container {
  .warning-box {
    background-color: #fff176;
    color: $black2;
    padding: 16px;
    border-radius: 6px;
    margin-bottom: 16px;
  }
  .passphrase-section {
    margin: 0 auto;
    .box-passphrase {
      display: flex;
      font-size: 14px;
      border-bottom: 1px solid #ccc;
      .number {
        text-align: center;
        padding: 8px;
      }
      .word {
        text-align: center;
        padding: 8px 0px;
      }
    }
  }
  .btn-grouped {
    margin: 16px auto;
    text-align: center;
    font-weight: bold;
    button {
      margin: 0 4px 8px 4px;
    }
  }
}
