<div class="reveal-passphrase-container">
  <h3 class="mat-h3" id="modal-basic-title" *ngIf="!phrase">
    <b>{{ 'confirm your pin' | translate }}</b>
  </h3>
  <h3 class="mat-h3" id="modal-basic-title" *ngIf="phrase">
    <b>{{ 'here your passphrase' | translate }}</b>
  </h3>
  <form [formGroup]="formConfirmPin" class="form-pin" *ngIf="!phrase">
    <field-pins formControlName="pin" (keyup)="onTypePin()"></field-pins>
    <div class="text-center" *ngIf="isConfirmPinLoading">
      <i class="fas fa-circle-notch fa-spin"></i>
    </div>
    <mat-error *ngIf="formConfirmPin.hasError('invalid')">
      <span class="text-center">{{ 'pin is not match' | translate }}</span>
    </mat-error>
  </form>

  <div class="row passphrase-section" *ngIf="phrase">
    <div class="col-6 col-sm-4" *ngFor="let p of arrPhrase; let key = index">
      <div class="box-passphrase">
        <div class="number">{{ key + 1 }}</div>
        <div class="word">{{ p }}</div>
      </div>
    </div>
  </div>

  <div class="btn-grouped" *ngIf="phrase">
    <button mat-flat-button color="primary" (click)="copyPhrase()">
      <i matPrefix class="fas fa-copy"></i>
      <span class="text">{{ 'copy passphrase' | translate }}</span>
    </button>
  </div>

  <div class="text-left">
    <div
      class="warning-box mat-body-2"
      [innerHTML]="
        'remember: do not share this phrase with anyone! these words can be used to steal all your accounts.'
          | translate
      "
    ></div>
  </div>
</div>
