@import '../../../styles/variables';
@import '../../../styles/mixins';

.my-task-container {
  .block-height {
    display: block;
    text-align: right;
    color: map-get($accent, 500);
    margin: 16px;
  }
  .mat-tab-label {
    font-weight: bold;
  }

  /* Styles for the active tab label */
  .mat-tab-label.mat-tab-label-active {
    font-weight: bold;
  }
}
