@import '../../../styles/variables';
@import '../../../styles/mixins';

.my-task-container {
  .block-height {
    display: block;
    text-align: right;
    color: $black2;
    margin: 10px 10px 10px 0;
  }
}
