@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.add-participant-container {
  // max-width: 400px;
  // margin: 0 auto;

  .mat-card .mat-divider-horizontal {
    position: inherit !important;
    margin-bottom: 10px;
  }

  .center-head {
    margin: 0px auto;
  }

  form {
    .row {
      margin: 0 -4px;

      [class^='col'] {
        padding: 0 4px;
      }
    }

    .label-margin {
      margin-top: 10px;
      margin-bottom: 5px;
      display: block;
    }

    .participant-field {
      margin-bottom: 16px;
      .custom-input {
        width: 100%;
        margin-bottom: 0;
      }

      .margin-error {
        margin-top: 1px;
      }

      .delete-btn {
        min-width: 100%;
        margin-top: 5px;
      }

      .inline-control {
        display: flex;
        justify-content: space-between;

        > .input {
          width: calc(100% - 48px);
        }

        > button {
          height: 40px;
          padding: 0 8px;
          margin: 4px 0 0 8px;
          min-width: 40px;
        }
      }
    }

    .center-error {
      display: block;
      width: 100%;
      text-align: center;
    }
  }
}
