<div class="add-participant-container">
  <h2 class="mat-h2">{{ 'Send Money' | translate }}</h2>
  <mat-card>
    <div class="stepper">
      <ng-container *ngIf="selectedDesign === 1">
        <div class="step">
          <span class="step-circle">1</span>
          <span class="step-label">Add Multisig Info</span>
        </div>
        <div class="stepper-line"></div>
        <div class="step">
          <span class="step-circle">2</span>
          <span class="step-label">Create Transaction</span>
        </div>
        <div class="stepper-line"></div>
        <div class="step active">
          <span class="step-circle">3</span>
          <span class="step-label">Add Signatures</span>
        </div>
      </ng-container>
      <ng-container *ngIf="selectedDesign === 2">
        <div class="step active">
          <span class="step-circle">3</span>
          <span class="step-label">Add Signatures</span>
        </div>
      </ng-container>
    </div>
    <mat-divider style="margin-bottom: 24px;"></mat-divider>
    <form [formGroup]="form" class="grid">
      <ng-template matStepLabel>Add Signatures</ng-template>
      <ng-container *ngIf="selectedDesign === 1">
        <label class="label-margin">{{ 'Transaction Hash' | translate }}</label>
        <mat-form-field appearance="outline" color="accent">
          <input [readonly]="readOnlyTxHash" formControlName="transactionHash" matInput type="text" />
        </mat-form-field>
        <ng-container *ngIf="transactionHashField.touched">
          <mat-error *ngIf="transactionHashField.hasError('required')">
            {{ 'Transaction Hash is required' | translate }}
          </mat-error>
        </ng-container>
        <label class="label-margin">{{ 'Participants Signature' | translate }}</label>
        <div formArrayName="participantsSignature">
          <ng-container *ngIf="enabledAddParticipant">
            <ng-container *ngFor="let participant of participantsSignatureField.controls; let i = index">
              <ng-container *ngIf="i > 1">
                <div class="inline-control">
                  <mat-form-field class="custom-input" appearance="outline" color="accent">
                    <input
                      placeholder="{{ 'Participant Signature ' | translate }} {{ i + 1 }}..."
                      [formControlName]="i"
                      matInput
                      type="text"
                    />
                  </mat-form-field>
                  <button (click)="removeParticipant(i)" type="button" mat-flat-button color="warn">
                    <i class="fas fa-trash"></i>
                  </button>
                </div>
              </ng-container>
              <ng-container *ngIf="i <= 1">
                <mat-form-field class="custom-input" appearance="outline" color="accent">
                  <input
                    placeholder="{{ 'Participant Signature ' | translate }} {{ i + 1 }}..."
                    [formControlName]="i"
                    matInput
                    type="text"
                  />
                </mat-form-field>
              </ng-container>
              <ng-container *ngIf="participantsSignatureField.controls[i].touched">
                <mat-error
                  class="margin-error"
                  *ngIf="participantsSignatureField.controls[i].hasError('required')"
                >
                  {{ 'Participant Signature is required' | translate }}
                </mat-error>
              </ng-container>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="!enabledAddParticipant">
            <ng-container *ngFor="let participant of participantsSignatureField.controls; let i = index">
              <ng-container>
                <mat-form-field class="custom-input" appearance="outline" color="accent">
                  <input
                    placeholder="{{ 'Participant Signature ' | translate }} {{ i + 1 }}..."
                    [formControlName]="i"
                    matInput
                    type="text"
                  />
                </mat-form-field>
              </ng-container>
              <ng-container *ngIf="participantsSignatureField.controls[i].touched">
                <mat-error
                  class="margin-error"
                  *ngIf="participantsSignatureField.controls[i].hasError('required')"
                >
                  {{ 'Participant Signature is required' | translate }}
                </mat-error>
              </ng-container>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="enabledAddParticipant">
            <div class="text-right" style="margin-top: 8px;">
              <button (click)="addParticipant()" mat-flat-button color="primary" type="button" class="small">
                {{ 'Add Participants' }}
              </button>
            </div>
          </ng-container>
        </div>
        <br />
        <button
          (click)="onAddSignature()"
          [disabled]="transactionHashField.value.length <= 0"
          mat-flat-button
          color="primary"
          type="button"
        >
          {{ 'Add your signature' | translate }}
        </button>
        <div class="row" style="margin-top: 20px;">
          <div class="col">
            <button (click)="onBack()" mat-flat-button color="warn" class="block" type="button">
              {{ 'Back' | translate }}
            </button>
          </div>
          <div class="col">
            <button
              [disabled]="form.invalid"
              (click)="onSave()"
              mat-flat-button
              color="primary"
              class="block"
              type="button"
            >
              {{ 'Save To Draft' | translate }}
            </button>
          </div>
          <div class="col">
            <button
              [disabled]="form.invalid"
              (click)="onNext()"
              mat-flat-button
              color="primary"
              type="button"
              class="block"
            >
              {{ 'Next' | translate }}
            </button>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="selectedDesign === 2">
        <label class="label-margin">{{ 'Transaction Hash' | translate }}</label>
        <div class="address">
          {{ transactionHash }}
        </div>
        <label class="label-margin">{{ 'Your Account' | translate }}</label>
        <account-selector [type]="'normal'" (select)="onSwitchAccount($event)"></account-selector>
        <label class="label-margin">{{ 'Your Signature' | translate }}</label>
        <mat-form-field appearance="outline" color="accent">
          <input matInput type="text" />
        </mat-form-field>
        <button (click)="onAddSignature()" mat-flat-button class="custom-btn-2" color="primary" type="button">
          {{ 'Add your signature' | translate }}
        </button>

        <button (click)="onCopyUrl()" mat-flat-button class="custom-btn" color="primary" type="button">
          {{ 'Share This Participants Signature' | translate }}
        </button>
      </ng-container>
    </form>
  </mat-card>
</div>
