<div class="add-participant-container">
  <h2 class="mat-h2">{{ 'Send Money' | translate }}</h2>
  <mat-card>
    <div class="stepper">
      <ng-container *ngIf="stepper.multisigInfo">
        <div class="step">
          <span class="step-circle"><i class="fa fa-minus"></i></span>
          <span class="step-label">Add Multisig Info</span>
        </div>
        <div class="stepper-line"></div>
      </ng-container>
      <ng-container *ngIf="stepper.transaction">
        <div class="step">
          <span class="step-circle"><i class="fa fa-minus"></i></span>
          <span class="step-label">Create Transaction</span>
        </div>
        <div class="stepper-line"></div>
      </ng-container>
      <div class="step active">
        <span class="step-circle"><i class="fa fa-check"></i></span>
        <span class="step-label">Add Signatures</span>
      </div>
    </div>
    <mat-divider style="margin-bottom: 24px;"></mat-divider>
    <form [formGroup]="form">
      <ng-template matStepLabel>Add Signatures</ng-template>

      <label class="label-margin">{{ 'Transaction Hash' | translate }}</label>
      <mat-form-field style="width: 100%;" appearance="outline" color="accent">
        <input
          [readonly]="readOnlyTxHash"
          placeholder="Trasaction Hash"
          formControlName="transactionHash"
          matInput
          type="text"
        />
      </mat-form-field>
      <ng-container *ngIf="transactionHashField.touched">
        <mat-error *ngIf="transactionHashField.hasError('required')">
          {{ 'Transaction Hash is required' | translate }}
        </mat-error>
      </ng-container>
      <label class="label-margin">{{ 'Participants Signature' | translate }}</label>
      <div formArrayName="participantsSignature">
        <ng-container *ngIf="enabledAddParticipant">
          <ng-container *ngFor="let participant of participantsSignatureField.controls; let i = index">
            <div class="participant-field" [formGroupName]="i">
              <ng-container *ngIf="i > 1">
                <input-address label="" formControlName="address" placeholder="{{ 'Address ' }} {{ i + 1 }}">
                </input-address>
                <ng-container *ngIf="participantsSignatureField.controls[i].get('address').touched">
                  <mat-error
                    *ngIf="participantsSignatureField.controls[i].get('address').hasError('invalidAddress')"
                  >
                    {{ 'Address is invalid' | translate }}
                  </mat-error>
                </ng-container>
                <div class="inline-control">
                  <mat-form-field class="custom-input" appearance="outline" color="accent">
                    <input
                      placeholder="{{ 'Signature ' | translate }} {{ i + 1 }}"
                      formControlName="signature"
                      matInput
                      type="text"
                    />
                  </mat-form-field>
                  <button
                    (click)="removeParticipant(i)"
                    class="delete-btn"
                    type="button"
                    mat-flat-button
                    color="warn"
                  >
                    <i class="fas fa-trash"></i>
                  </button>
                </div>
              </ng-container>
              <ng-container *ngIf="i <= 1">
                <input-address label="" formControlName="address" placeholder="{{ 'Address ' }} {{ i + 1 }}">
                </input-address>
                <ng-container *ngIf="participantsSignatureField.controls[i].get('address').touched">
                  <mat-error
                    class="margin-error"
                    *ngIf="participantsSignatureField.controls[i].get('address').hasError('required')"
                  >
                    {{ 'Address is required' | translate }}
                  </mat-error>
                  <mat-error
                    *ngIf="participantsSignatureField.controls[i].get('address').hasError('invalidAddress')"
                  >
                    {{ 'Address is invalid' | translate }}
                  </mat-error>
                </ng-container>

                <mat-form-field class="custom-input" appearance="outline" color="accent">
                  <input
                    placeholder="{{ 'Signature ' | translate }} {{ i + 1 }}"
                    formControlName="signature"
                    matInput
                    type="text"
                  />
                </mat-form-field>
                <ng-container *ngIf="participantsSignatureField.controls[i].get('signature').touched">
                  <mat-error
                    class="margin-error"
                    *ngIf="participantsSignatureField.controls[i].get('signature').hasError('required')"
                  >
                    {{ 'Signature is required' | translate }}
                  </mat-error>
                </ng-container>
              </ng-container>
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="!enabledAddParticipant">
          <ng-container *ngFor="let participant of participantsSignatureField.controls; let i = index">
            <div class="participant-field" [formGroupName]="i">
              <div *ngIf="readOnlyAddress">
                <wallet-address
                  [value]="participantsSignatureField.controls[i].get('address').value"
                  [copyButton]="true"
                ></wallet-address>
              </div>
              <ng-container *ngIf="!readOnlyAddress">
                <input-address label="" formControlName="address" placeholder="{{ 'Address ' }} {{ i + 1 }}">
                </input-address>
              </ng-container>

              <ng-container *ngIf="participantsSignatureField.controls[i].get('address').touched">
                <mat-error
                  class="margin-error"
                  *ngIf="participantsSignatureField.controls[i].get('address').hasError('required')"
                >
                  {{ 'Address is required' | translate }}
                </mat-error>
                <mat-error
                  *ngIf="participantsSignatureField.controls[i].get('address').hasError('invalidAddress')"
                >
                  {{ 'Address is invalid' | translate }}
                </mat-error>
              </ng-container>

              <mat-form-field class="custom-input" appearance="outline" color="accent">
                <input
                  placeholder="{{ 'Signature ' | translate }} {{ i + 1 }}"
                  formControlName="signature"
                  matInput
                  type="text"
                />
              </mat-form-field>
              <ng-container *ngIf="participantsSignatureField.controls[i].get('signature').touched">
                <mat-error
                  class="margin-error"
                  *ngIf="participantsSignatureField.controls[i].get('signature').hasError('required')"
                >
                  {{ 'Signature is required' | translate }}
                </mat-error>
              </ng-container>
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="participantsSignatureField.touched">
          <mat-error *ngIf="participantsSignatureField.hasError('duplicate')">
            <span class="center-error">{{ 'Participant must be unique' }}</span>
          </mat-error>
        </ng-container>
        <ng-container *ngIf="enabledAddParticipant">
          <div class="text-right" style="margin-top: 8px;">
            <button (click)="addParticipant()" mat-flat-button color="primary" type="button" class="small">
              {{ 'Add Participants' | translate }}
            </button>
          </div>
        </ng-container>
      </div>
      <br />
      <button
        (click)="onAddSignature()"
        [disabled]="transactionHashField.value.length <= 0"
        mat-flat-button
        color="primary"
        type="button"
        style="width: 100%;"
      >
        {{ 'Add your signature' | translate }}
      </button>
      <div class="row" style="margin-top: 20px;">
        <div class="col">
          <button (click)="onBack()" mat-flat-button color="warn" class="block" type="button">
            {{ 'Back' | translate }}
          </button>
        </div>
        <div class="col">
          <button (click)="onSave()" mat-flat-button color="primary" class="block" type="button">
            {{ 'Save To Draft' | translate }}
          </button>
        </div>
        <div class="col">
          <button
            [disabled]="form.invalid"
            (click)="onNext()"
            mat-flat-button
            color="primary"
            type="button"
            class="block"
          >
            {{ 'Next' | translate }}
          </button>
        </div>
      </div>
    </form>
  </mat-card>
</div>
