<app-navbar></app-navbar>
<div class="parent-container">
  <mat-drawer-container class="drawer-container" [hasBackdrop]="false">
    <mat-drawer
      #sidenav
      [mode]="largeScreen ? 'side' : 'push'"
      [opened]="largeScreen"
      [disableClose]="largeScreen ? true : false"
    >
      <app-sidebar [menu]="menu" *ngIf="isLogin"></app-sidebar>
    </mat-drawer>
    <mat-drawer-content #mainContainer>
      <div class="main-container">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
