<app-navbar></app-navbar>
<div class="parent-container">
  <mat-drawer-container class="drawer-container" [hasBackdrop]="false">
    <mat-drawer
      #sidenav
      [mode]="largeScreen ? 'side' : 'push'"
      [opened]="largeScreen && isLogin"
      [disableClose]="largeScreen ? true : false"
    >
      <app-sidebar [menu]="menu"></app-sidebar>
    </mat-drawer>
    <mat-drawer-content class="main-container">
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
