@import '../../../styles/variables';

.parent-container {
  margin: calc(#{$header-height} + 16px) auto 0 auto;
  max-width: $parent-width;
  .drawer-container {
    background-color: transparent !important;
    min-height: calc(100vh - #{$header-height} - 16px);
    overflow: initial;
  }

  mat-drawer {
    background-color: transparent !important;
    border-right: 0 !important;
    width: $sidebar-width;
    z-index: 999;
    box-shadow: none;
    height: 100%;
    overflow: initial;
    position: fixed;
    top: calc(#{$header-height} + 16px);
    @media only screen and (max-width : calc(#{$parent-width} + 16px)) {
      margin-left: 16px;
      width: calc(#{$sidebar-width} + 16px);
    }
    ::ng-deep .mat-drawer-inner-container {
      overflow: initial;
    }
  }

  mat-drawer-content {
    overflow: initial;
  }
}

.main-container {
  margin: 0 0 24px 16px;
  @media only screen and (max-width : calc(#{$parent-width} + 16px)) {
    margin: 0 16px 24px 16px;
  }
}
