@import '../../../styles/variables';

.parent-container {
  margin: calc(#{$header-height} - #{$header-height-offset}) auto 0 auto;
  max-width: $parent-width;
  .drawer-container {
    background-color: transparent !important;
  }

  mat-drawer {
    background-color: transparent !important;
    border-right: 0 !important;
    width: $sidebar-width-margin;
    z-index: 999;
    box-shadow: none;
    position: absolute;
  }

  mat-drawer-content {
    margin-left: 0;
    &.login {
      margin-left: calc(#{$sidebar-width} + 16px) !important;
      @media #{$small-and-down} {
        margin-left: 0 !important;
      }
    }
  }
}

.main-container {
  margin: 24px 16px;
}
