@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.item {
  color: $black1;
  padding: 12px 16px;
  border-bottom: 1px solid #ddd;
  // word-break: break-all;
  // .label {
  //   color: $black2;
  //   font-size: 12px;
  //   margin-bottom: 4px;
  //   display: block;
  //   margin-left: 16px;
  // }
  .label {
    margin-bottom: 4px;
    font-size: 12px;
  }
  .value {
    color: $black1;
    font-size: 16px;
    // margin-left: 16px;
  }
  // .address {
  //   font-family: 'Roboto Mono', monospace !important;
  // }
  // .address > div {
  //   margin-left: 16px;
  // }
}
