<div class="register-node-container">
  <h2 class="mat-h2">{{ 'register node' | translate }}</h2>
  <form [formGroup]="formRegisterNode" (submit)="onRegisterNode()" class="grid">
    <mat-form-field appearance="outline" color="accent">
      <mat-label>{{ 'ip address' | translate }}</mat-label>
      <input
        matInput
        type="text"
        placeholder="https://yournode.com:8001 {{ 'or' | translate }} http://192.168.43.1:8001"
        formControlName="ipAddress"
      />
    </mat-form-field>
    <ng-container *ngIf="ipAddressForm.touched">
      <mat-error *ngIf="ipAddressForm.hasError('required')">
        {{ 'ip address is required' | translate }}
      </mat-error>
      <mat-error *ngIf="ipAddressForm.hasError('pattern')">
        {{ 'invalid ip address format' | translate }}
      </mat-error>
    </ng-container>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>{{ 'locked balance' | translate }}</mat-label>
      <input
        matInput
        type="number"
        placeholder="{{ 'locked balance' | translate }}"
        formControlName="lockedBalance"
      />
    </mat-form-field>
    <ng-container *ngIf="lockedBalanceForm.touched">
      <mat-error *ngIf="lockedBalanceForm.hasError('required')">
        {{ 'locked balance is required' | translate }}
      </mat-error>
      <mat-error *ngIf="lockedBalanceForm.hasError('min')">
        {{ 'minimum locked balance is' | translate: { val: '0.00000001' } }}
      </mat-error>
    </ng-container>
    <input-amount
      [group]="formRegisterNode"
      typeCoinName="typeFee"
      amountCurrencyName="feeCurr"
      amountName="fee"
      [displayConverter]="true"
      [currencyRate]="currencyRate"
      label="{{ 'fee' | translate }}"
    >
    </input-amount>
    <div
      class="row"
      *ngIf="(feeForm.touched && feeForm.invalid) || (feeFormCurr.touched && feeFormCurr.invalid)"
    >
      <div class="col-4 col-sm-3">&nbsp;</div>
      <div class="col-8 col-sm-9">
        <ng-container *ngIf="feeForm.touched && typeFeeField.value === 'ZBC'">
          <mat-error *ngIf="feeForm.hasError('required')">
            {{ 'fee is required' | translate }}
          </mat-error>
          <mat-error *ngIf="feeForm.hasError('min')">
            {{ 'minimum fee is' | translate: { val: minFee } }}
          </mat-error>
        </ng-container>
        <ng-container *ngIf="feeFormCurr.touched && typeFeeField.value === 'Fiat'">
          <mat-error *ngIf="feeFormCurr.hasError('required')">
            {{ 'fee is required' | translate }}
          </mat-error>
          <mat-error *ngIf="feeFormCurr.hasError('min')">
            {{ 'minimum amount of fee in zbc must be zbc' | translate: { val: minFee } }}
          </mat-error>
        </ng-container>
      </div>
    </div>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>{{ 'node public key' | translate }}</mat-label>
      <input
        matInput
        type="text"
        placeholder="{{ 'node public key' | translate }}"
        formControlName="nodePublicKey"
        (keyup)="onChangeNodePublicKey()"
        class="font-roboto-mono"
      />
    </mat-form-field>
    <ng-container *ngIf="nodePublicKeyForm.touched">
      <mat-error *ngIf="nodePublicKeyForm.hasError('required')">
        {{ 'node public key is required' | translate }}
      </mat-error>
      <mat-error *ngIf="nodePublicKeyForm.hasError('invalidAddress')">
        {{ 'node public key is invalid' | translate }}
      </mat-error>
    </ng-container>
    <br />
    <button mat-flat-button color="primary" type="submit" [disabled]="formRegisterNode.invalid || isLoading">
      {{ 'register' | translate }}
    </button>
  </form>
</div>
