<div class="register-node-container">
  <h2 class="mat-h2">{{ 'Register Node' | translate }}</h2>
  <form [formGroup]="formRegisterNode" (submit)="onRegisterNode()">
    <label>{{ 'Owner' | translate }}</label>
    <mat-form-field appearance="outline" color="accent">
      <input
        matInput
        type="text"
        placeholder="{{ 'Owner' | translate }}"
        formControlName="owner"
      />
    </mat-form-field>
    <ng-container *ngIf="ownerForm.touched">
      <mat-error *ngIf="ownerForm.hasError('required')">
        {{ 'Owner is required' | translate }}
      </mat-error>
    </ng-container>
    <label>{{ 'IP Address' | translate }}</label>
    <mat-form-field appearance="outline" color="accent">
      <input
        matInput
        type="text"
        placeholder="{{ 'IP Address' | translate }}"
        formControlName="ipAddress"
        readonly
      />
    </mat-form-field>
    <ng-container *ngIf="ipAddressForm.touched">
      <mat-error *ngIf="ipAddressForm.hasError('required')">
        {{ 'IP Address is required' | translate }}
      </mat-error>
    </ng-container>
    <label>{{ 'Locked Amount' | translate }}</label>
    <mat-form-field appearance="outline" color="accent">
      <input
        matInput
        type="number"
        placeholder="{{ 'Locked Amount' | translate }}"
        formControlName="lockedAmount"
      />
    </mat-form-field>
    <ng-container *ngIf="lockedAmountForm.touched">
      <mat-error *ngIf="lockedAmountForm.hasError('required')">
        {{ 'Locked Balance is required' | translate }}
      </mat-error>
      <mat-error *ngIf="lockedAmountForm.hasError('min')">
        {{ 'Minimum Locked Balance is 0.00000001' | translate }}
      </mat-error>
    </ng-container>
    <label>{{ 'Fee' | translate }}</label>
    <mat-form-field appearance="outline" color="accent">
      <input
        matInput
        type="number"
        formControlName="fee"
        placeholder="{{ 'Fee' | translate }}"
      />
    </mat-form-field>
    <ng-container *ngIf="feeForm.touched">
      <mat-error *ngIf="feeForm.hasError('required')">
        {{ 'Fee is required' | translate }}
      </mat-error>
      <mat-error *ngIf="feeForm.hasError('min')">
        {{ 'Minimum fee is 0.00000001' | translate }}
      </mat-error>
    </ng-container>
    <label>{{ 'Node Public Key' | translate }}</label>
    <mat-form-field appearance="outline" color="accent">
      <input
        matInput
        type="text"
        placeholder="{{ 'Node Public Key' | translate }}"
        formControlName="nodePublicKey"
        (keyup)="onChangeRecipient()"
      />
    </mat-form-field>
    <ng-container *ngIf="nodePublicKeyForm.touched">
      <mat-error *ngIf="nodePublicKeyForm.hasError('required')">
        {{ 'Node Public Key is required' | translate }}
      </mat-error>
      <mat-error *ngIf="nodePublicKeyForm.hasError('invalidAddress')">
        {{ 'ZBC Address is invalid' | translate }}
      </mat-error>
    </ng-container>
    <br />
    <button mat-flat-button color="primary" type="submit">
      {{ 'Register' | translate }}
    </button>
  </form>
</div>
