<div class="register-node-container">
  <h2 class="mat-h2">{{ 'register node' | translate }}</h2>
  <form [formGroup]="formRegisterNode" (submit)="onRegisterNode()" class="grid">
    <form-register-node [group]="formRegisterNode" [inputMap]="registerNodeMap"> </form-register-node>
    <span class="form-advanced-option">{{ 'advanced option' | translate }}</span>
    <form-fee [group]="formRegisterNode" [inputMap]="registerNodeMap"></form-fee>
    <form-message [group]="formRegisterNode" [inputMap]="registerNodeMap"></form-message>

    <button mat-flat-button color="primary" type="submit" [disabled]="formRegisterNode.invalid || isLoading">
      {{ 'register' | translate }}
    </button>
  </form>
</div>
