<div class="transaction-detail-container" *ngIf="transaction && !isLoading">
  <div class="row">
    <div class="col-12 col-md-4">{{ 'ID' | translate }}:</div>
    <div class="col-12 col-md-8">
      {{ transaction.id }}
      <span class="icon-redirect" (click)="redirect()"><i class="fas fa-external-link-alt"
          title="Click Here to view on ZooBC.net"></i></span>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4">{{ 'Block ID' | translate }}:</div>
    <div class="col-12 col-md-8">{{ transaction.blockid }}</div>
  </div>

  <div class="row">
    <div class="col-12 col-md-4">{{ 'Sender' | translate }}:</div>
    <div class="col-12 col-md-8">
      <wallet-address [value]="transaction.senderaccountaddress" [copyButton]="true"></wallet-address>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-4">{{ 'Recipient' | translate }}:</div>
    <div class="col-12 col-md-8">
      <wallet-address [value]="transaction.recipientaccountaddress" [copyButton]="true"></wallet-address>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-4">{{ 'Amount' | translate }}:</div>
    <div class="col-12 col-md-8">
      {{ transaction.sendmoneytransactionbody.amount / 1e8 | number: '0.0-8' }} ZBC
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-4">{{ 'Fee' | translate }}:</div>
    <div class="col-12 col-md-8">
      {{ transaction.fee / 1e8 | number: '0.0-8' }} ZBC
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-4">{{ 'Height' | translate }}:</div>
    <div class="col-12 col-md-8">{{ transaction.height }}</div>
  </div>

  <div class="row">
    <div class="col-12 col-md-4">{{ 'Transaction Index' | translate }}:</div>
    <div class="col-12 col-md-8">{{ transaction.transactionindex }}</div>
  </div>

  <div class="row">
    <div class="col-12 col-md-4">{{ 'Date' | translate }}:</div>
    <div class="col-12 col-md-8">
      {{ transaction.timestamp | date: 'dd MMMM yyyy HH:mm:ss' }}
    </div>
  </div>
</div>

<div class="transaction-detail-container skeleton" *ngIf="isLoading">
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="skeleton-text" style="width:20%;"></div>
    </div>
    <div class="col-12 col-md-8">
      <div class="skeleton-text" style="width:50%;"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="skeleton-text" style="width:30%;"></div>
    </div>
    <div class="col-12 col-md-8">
      <div class="skeleton-text" style="width:60%;"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-4">
      <div class="skeleton-text" style="width:40%;"></div>
    </div>
    <div class="col-12 col-md-8">
      <div class="skeleton-text" style="width:100%;"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-4">
      <div class="skeleton-text" style="width:50%;"></div>
    </div>
    <div class="col-12 col-md-8">
      <div class="skeleton-text" style="width:100%;"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-4">
      <div class="skeleton-text" style="width:30%;"></div>
    </div>
    <div class="col-12 col-md-8">
      <div class="skeleton-text" style="width:30%;"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-4">
      <div class="skeleton-text" style="width:30%;"></div>
    </div>
    <div class="col-12 col-md-8">
      <div class="skeleton-text" style="width:30%;"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-4">
      <div class="skeleton-text" style="width:50%;"></div>
    </div>
    <div class="col-12 col-md-8">
      <div class="skeleton-text" style="width:30%;"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-4">
      <div class="skeleton-text" style="width:70%;"></div>
    </div>
    <div class="col-12 col-md-8">
      <div class="skeleton-text" style="width:40%;"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-4">
      <div class="skeleton-text" style="width:40%;"></div>
    </div>
    <div class="col-12 col-md-8">
      <div class="skeleton-text" style="width:100%;"></div>
    </div>
  </div>
</div>