@import '../../../styles/variables';

.transaction-detail-container {
  .row {
    color: $black1;
    padding: 8px;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    div:nth-child(odd) {
      padding: 4px 0;
      font-size: 13px;
      font-weight: bold;
      color: $black2;
    }
    div:nth-child(even) {
      padding: 4px 0;
    }
  }
}
