@import '../../../../styles/variables';
.update-node-container {
  .mat-card {
    max-width: 400px;
    margin: 0 auto;
  }
  form {
    .error-text {
      margin-bottom: 8px;
    }
    display: grid;
  }
}
