@import '../../../styles/variables';
@import '../../../styles/mixins';

.sidenav-container {
  padding: 8px;
  width: $sidebar-width;
  background-color: white;
  border-radius: 6px;
  max-height: calc(100vh - #{$header-height});
  box-shadow: 0 0 10px rgba(52, 61, 72, 0.2);
  overflow: initial;

  .sidenav-menu {
    color: $black2;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    li {
      padding: 12px 0;
      &.active a {
        color: map-get($primary, 500);
        font-weight: 500;
      }
    }
    a {
      color: $black2;
      text-decoration: none;
      font-size: 12px;
      display: grid;
      cursor: pointer;
      @include transition(0.3s ease-in all);
      &:hover {
        color: map-get($primary, 500);
      }
      i {
        font-size: 24px;
        margin-bottom: 8px;
      }
    }
    img {
      width: 27px;
      height: 27px;
      margin: 0 auto 8px;
    }
    mat-card {
      width: 174px;
      position: absolute;
      top: 0;
      left: 96px;
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      padding: 4px;
      div {
        width: 80px;
        height: 80px;
        justify-content: center;
        display: flex;
        align-items: center;
      }
    }
  }
}
