@import '../../../styles/variables';
@import '../../../styles/mixins';

.sidenav-container {
  padding: 8px;
  width: $sidebar-width;
  background-color: white;
  border-radius: 6px;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(100vh - #{$header-height});
  box-shadow: 0 0 10px rgba(52, 61, 72, 0.2);

  .sidenav-menu {
    color: $black2;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    .icon-image {
      margin: 0 0 7px 17px;
    }
    li {
      padding: 12px 0;
      &.active a {
        color: map-get($primary, 500);
        font-weight: 500;
      }
    }
    a {
      color: $black2;
      text-decoration: none;
      font-size: 12px;
      display: grid;
      cursor: pointer;
      @include transition(0.3s ease-in all);
      &:hover {
        color: map-get($primary, 500);
      }
      i {
        font-size: 24px;
        margin-bottom: 8px;
      }
    }
  }
}
