<div class="sidenav-container">
  <ul class="sidenav-menu">
    <li [ngClass]="menu == 'dashboard' && 'active'">
      <a routerLink="/dashboard" (click)="onToggle()">
        <i class="fa fa-home"></i>
        <span>{{ 'dashboard' | translate }}</span>
      </a>
    </li>

    <ng-template [ngIf]="account && account.nodeIP">
      <li [ngClass]="menu == 'nodeadmin' && 'active'">
        <a routerLink="/nodeadmin" (click)="onToggle()">
          <i class="fa fa-desktop"></i>
          <span>{{ 'node admin' | translate }}</span>
        </a>
      </li>
    </ng-template>

    <li [ngClass]="menu == 'transferhistory' && 'active'">
      <a routerLink="/transferhistory" (click)="onToggle()">
        <i class="fa fa-receipt"></i>
        <span>{{ 'history' | translate }}</span>
      </a>
    </li>

    <ng-container *ngIf="account.type != 'multisig'">
      <li [ngClass]="menu == 'sendmoney' && 'active'">
        <a routerLink="/sendmoney" (click)="onToggle()">
          <i class="fa fa-paper-plane"></i>
          <span>{{ 'send' | translate }}</span>
        </a>
      </li>
    </ng-container>

    <!-- <li>
      <a [matMenuTriggerFor]="menu">
        <i class="fa fa-paper-plane"></i>
        <span>{{ 'send' | translate }}</span>
      </a>
      <mat-menu #menu="matMenu" style="margin-left: 112px;">
        <a routerLink="/sendmoney" (click)="onToggle()">
          <i class="fa fa-paper-plane"></i><br />
          <span>{{ 'send' | translate }}</span>
        </a>
      </mat-menu>
    </li> -->

    <li [ngClass]="menu == 'multisignature' && 'active'">
      <a routerLink="/multisignature" (click)="onToggle()">
        <i class="fa fa-file-signature"></i>
        <span>{{ 'multisignature' | translate }}</span>
      </a>
    </li>

    <li [ngClass]="menu == 'receive' && 'active'">
      <a (click)="openReceiveForm()">
        <i class="fas fa-hand-holding-usd"></i>
        <span>{{ 'receive' | translate }}</span>
      </a>
    </li>

    <li [ngClass]="menu == 'my-tasks' && 'active'">
      <a routerLink="/my-tasks" (click)="onToggle()">
        <i class="fas fa-tasks"></i>
        <span>{{ 'my tasks' | translate }}</span>
      </a>
    </li>

    <li [ngClass]="menu == 'contact-list' && 'active'">
      <a routerLink="/contact-list" (click)="onToggle()">
        <i class="fa fa-address-book"></i>
        <span>{{ 'contacts' | translate }}</span>
      </a>
    </li>

    <li [ngClass]="menu == 'apps' && 'active'">
      <a routerLink="/apps" (click)="onToggle()">
        <i class="fa fa-puzzle-piece"></i>
        <span>{{ 'apps' | translate }}</span>
      </a>
    </li>
  </ul>
</div>
