<div style="max-width: 400px;margin: 0 auto;">
  <h2 class="mat-h2">{{ 'create multisignature transaction' | translate }}</h2>
  <mat-card>
    <div class="stepper">
      <div class="step" [class.active]="stepper == 1">
        <span class="step-circle">
          <i class="fa fa-check" *ngIf="stepper == 1"></i>
          <i class="fa fa-minus" *ngIf="stepper != 1"></i>
        </span>
        <span class="step-label">{{ 'add multisig info' | translate }}</span>
      </div>
      <div class="stepper-line"></div>
      <div class="step" [class.active]="stepper == 2">
        <span class="step-circle">
          <i class="fa fa-check" *ngIf="stepper == 2"></i>
          <i class="fa fa-minus" *ngIf="stepper != 2"></i>
        </span>
        <span class="step-label">{{ 'transaction' | translate }}</span>
      </div>
      <div class="stepper-line"></div>
      <div class="step" [class.active]="stepper == 3">
        <span class="step-circle">
          <i class="fa fa-check" *ngIf="stepper == 3"></i>
          <i class="fa fa-minus" *ngIf="stepper != 3"></i>
        </span>
        <span class="step-label">{{ 'send multisignature' | translate }}</span>
      </div>
    </div>
    <mat-divider style="margin-bottom: 24px;"></mat-divider>
    <br />

    <router-outlet></router-outlet>
  </mat-card>
</div>
