<div #rewardlist style="height:90vh;">
  <div
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="onLoadMore()"
    [scrollWindow]="false"
    [infiniteScrollContainer]="'.mat-dialog-container'"
    [fromRoot]="true"
  >
    <reward-table
      [tableData]="tableData"
      [displayedColumns]="displayedColumns"
      [isLoading]="isLoading"
      [isError]="isError"
      [isShowAutomaticNumber]="showAutomaticNumber"
    ></reward-table>
  </div>
</div>
