<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
</div>

<!-- Content Row -->
<div class="row">

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Account Balance</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-calendar fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Pending Transaction</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Messages</div>
            <div class="row no-gutters align-items-center">
              <div class="col-auto">
                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">5</div>
              </div>
              <div class="col">
                <div class="progress progress-sm mr-2">
                  <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Pending Requests Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Last Updated (Block: 2373261)</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">5/13/2019 18:08:03</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-comments fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Content Row -->

<div class="row">
    <div class="col-xl-12 col-md-12 mb-12">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Recent Transactions</h6>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Amount</th>
                  <th>Fee</th>
                  <th>Account</th>
                  <th>Height</th>
                  <th>Confirmation</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>04/30/2019 18:50:29</td>
                  <td>-500</td>
                  <td>1</td>
                  <td>BCZ-xxxx-xxxx-xxxx-xxxx</td>
                  <td>20</td>
                  <td>1440+</td>
                </tr>
                <tr>
                  <td>05/01/2019 12:50:29</td>
                  <td>6500</td>
                  <td>1</td>
                  <td>BCZ-xxxx-xxxx-xxxx-xxxx</td>
                  <td>21</td>
                  <td>1440+</td>
                </tr>

                <tr>
                  <td>05/01/2019 14:52:29</td>
                  <td>7800</td>
                  <td>2</td>
                  <td>BCZ-xxxx-xxxx-xxxx-xxxx</td>
                  <td>24</td>
                  <td>1440+</td>
                </tr>


                <tr>
                  <td>05/02/2019 10:50:29</td>
                  <td>4500</td>
                  <td>1</td>
                  <td>BCZ-xxxx-xxxx-xxxx-xxxx</td>
                  <td>29</td>
                  <td>1440+</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
   </div>
</div>
