<div class="transaction-table">
  <loading-spinner *ngIf="isLoading"></loading-spinner>
  <mat-card style="padding: 0 16px" *ngIf="!isLoading">
    <div
      class="data-unavailable"
      *ngIf="!transactionData || transactionData.length <= 0"
    >
      <i matPrefix class="fa fa-receipt"></i>
      <span class="message">{{ 'No Transaction Record' | translate }}</span>
    </div>

    <ng-container *ngIf="transactionData && transactionData.length > 0">
      <div
        class="transaction-item row"
        *ngFor="let transaction of transactionData; let i = index"
      >
        <div class="col-7 col-sm-8">
          <div class="name" *ngIf="transaction.alias">
            {{ transaction.alias }}
          </div>
          <div class="address">{{ transaction.address }}</div>
          <div class="date">
            {{ transaction.timestamp | date: 'dd MMMM yyyy HH:mm:ss' }}
          </div>
        </div>
        <div class="col-5 col-sm-4 text-right">
          <ng-container *ngIf="transaction.type == 'send'">
            <div class="amount-send">
              - {{ transaction.amount | number: '0.1-4' }} ZBC
            </div>
            <div class="fee" *ngIf="i % 2 == 0">
              - {{ transaction.fee }}
              <small>ZBC {{ 'Fee' | translate }}</small>
            </div>
          </ng-container>
          <ng-container *ngIf="transaction.type == 'receive'">
            <div class="amount-receive">
              + {{ transaction.amount | number: '0.1-4' }} ZBC
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </mat-card>
</div>
