@import '../../../styles/variables';
@import '../../../styles/mixins';

.transaction-table {
  .transaction-item {
    border-bottom: 1px solid #ddd;
    padding: 16px 6px;
    margin: 0;
    align-items: center;
    @include transition(0.3s ease-in all);
    &.hover:hover {
      background-color: #eee;
      cursor: pointer;
    }
    .name {
      font-size: 16px;
      margin-bottom: 4px;
    }
    .address {
      word-break: break-all;
      color: $black1;
      font-size: 13px;
      margin-bottom: 8px;
    }

    .date {
      color: $black2;
      font-size: 13px;
      margin-right: 10px;
    }

    .amount-send {
      color: #f44336;
      font-size: 18px;
      font-weight: bold;
    }
    .amount-receive {
      color: #4caf50;
      font-size: 18px;
      font-weight: bold;
    }
    .fee {
      color: #f44336;
      font-size: 14px;
    }

    .description {
      display: flex;
      align-items: center;
      float: right;
      .small {
        font-size: 11px !important;
        padding: 4px 8px !important;
      }
      .status {
        margin-left: 4px;
      }
    }
  }
  @media (max-width: 600px) {
    .message {
      text-align: center;
    }
  }
}
