<div class="transaction-table">
  <mat-card style="padding: 0">
    <ng-container *ngIf="transactionData">
      <div class="no-content padding" *ngIf="transactionData.length <= 0">
        <i matPrefix class="fa fa-receipt"></i>
        <span class="message">{{ 'no transaction record' | translate }}</span>
      </div>

      <div
        [className]="withDetail ? 'transaction-item hover row' : 'transaction-item row'"
        *ngFor="let transaction of transactionData; let i = index"
        (click)="openDetail(transaction.id)"
      >
        <div class="col-12 col-sm-8">
          <div class="name" *ngIf="transaction.alias">
            {{ transaction.alias }}
          </div>
          <div class="address">
            <wallet-address [value]="transaction.address"></wallet-address>
          </div>
          <div class="date font-roboto-mono">
            {{ transaction.timestamp | dateAgo }}
          </div>
        </div>
        <div class="col-12 col-sm-4 text-right">
          <ng-container *ngIf="transaction.type == 'send'">
            <div class="amount-send">- {{ transaction.amount / 1e8 | number: '0.0-8' }} ZBC</div>
            <div class="fee" *ngIf="transaction.type == 'send'">
              - {{ transaction.fee / 1e8 | number: '0.0-8' }}
              <small>ZBC {{ 'fee' | translate }}</small>
            </div>
          </ng-container>
          <ng-container *ngIf="transaction.type == 'receive'">
            <div class="amount-receive">+ {{ transaction.amount / 1e8 | number: '0.0-8' }} ZBC</div>
          </ng-container>
          <div class="description">
            <div class="chips">
              <div class="chip small" *ngIf="transaction.multisigchild">
                {{ 'multisignature' | translate }}
              </div>
              <div class="chip small" *ngIf="transaction.escrow">{{ 'escrow transaction' | translate }}</div>
            </div>
            <div
              class="status"
              [style.color]="getColorByEscrowStatus(transaction.escrowStatus)"
              *ngIf="transaction.escrow"
            >
              <i
                class="fas fa-dot-circle"
                [matTooltip]="getTextByEscrowStatus(transaction.escrowStatus) | translate"
                matTooltipPosition="above"
              ></i>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="isLoading">
      <div class="transaction-item row skeleton" *ngFor="let i of [0, 1, 2, 3, 4, 5]">
        <div class="col-7 col-sm-8">
          <div class="skeleton-text" style="width:50%;"></div>
          <div class="skeleton-text small" style="width:75%;"></div>
          <div class="skeleton-text small" style="width:25%;"></div>
        </div>
        <div class="col-5 col-sm-4">
          <div class="skeleton-text" style="width:71%;float:right"></div>
          <div class="skeleton-text small" style="width:30%;float:right"></div>
        </div>
      </div>
    </ng-container>

    <div class="no-content padding" *ngIf="isError">
      <i matPrefix class="fa fa-exclamation-triangle"></i>
      <span class="message">
        {{ 'an error occurred while processing your request' | translate }}
      </span>
      <button mat-flat-button color="primary" (click)="onRefresh()">
        {{ 'try again' | translate }}
      </button>
    </div>
  </mat-card>
</div>
