@import '../../../styles/variables';
@import '../../../styles/mixins';

.multisinature-container {
  .multisignature-drafts {
    .transaction-item {
      border-bottom: 1px solid #ddd;
      padding: 16px;
      margin: 0;
      align-items: center;
      @include transition(0.3s ease-in all);

      &.hover:hover {
        background-color: #eee;
        cursor: pointer;
      }

      .label {
        color: $black2;
        margin: 8px 0 4px 0;
      }

      .id {
        color: $black2;
        margin-bottom: 4px;
      }
      .date {
        color: $black2;
        font-style: italic;
        font-size: 13px;
        margin-bottom: 8px;
      }

      .right {
        align-self: stretch;
        min-height: 32px;
        text-align: right;
      }
    }
  }
}
