@import '../../../styles/variables';

.multisinature-container {
  .check-title {
    font-weight: bold;
    color: $black2;
  }

  .check-desciption {
    color: $black2;
  }

  .check-box {
    margin-bottom: 10px;

    .column-check {
      margin-right: 4px;
    }

    .check-margin {
      margin: 16px 0;
    }
  }

  .custom-btn {
    float: right;
    text-transform: capitalize;
    line-height: 30px;
    margin: 10px 0;
    width: 110px;
  }

  .subtitle {
    margin: 16px 0;
  }

  .multisignature-drafts {
    .transaction-item {
      border-bottom: 1px solid #ddd;
      padding: 16px 6px;
      margin: 0;
      align-items: center;

      &.hover:hover {
        background-color: #eee;
        cursor: pointer;
      }

      .name {
        font-size: 16px;
        margin-bottom: 4px;
      }
      .address {
        word-break: break-all;
        color: $black1;
        font-size: 13px;
        margin-bottom: 8px;
      }
      .date {
        color: $black2;
        font-size: 13px;
      }

      .btn-delete {
        text-align: right;
        width: auto;
        height: 0;
        color: $black2 !important;
      }
    }
  }
}
