@import './styles/sb-admin-2.min.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import './styles/variables';
@import './styles/mixins';
@import './styles/colors';
@import './styles/general';
@import './styles/grid.css';

.container-fluid {
  margin-top: 4.375rem;
  padding-top: 16px;
}

.error-text {
  color: red;
}

.sidebar {
  height: 100%;
}
