@import '~@angular/material/theming';
@import '~ng-pick-datetime/assets/style/picker.min.css';
@import './styles/variables';
@import './styles/mixins';
@import './styles/colors';
@import './styles/general';
@import './styles/grid.css';

@include mat-core();
$app-primary: mat-palette($primary, 700);
$app-accent: mat-palette($accent, 500);
$app-theme: mat-light-theme($app-primary, $app-accent);

@include angular-material-theme($app-theme);

.container-fluid {
  margin-top: 4.375rem;
  padding-top: 16px;
}
