<div class="transaction-item hover row" (click)="openDetail(transaction.id)">
  <div class="col-12 col-sm-8">
    <div class="label">{{ 'Transaction Hash' | translate }}:</div>
    <div class="address">
      <wallet-address [value]="transaction.transactionHash"></wallet-address>
    </div>
    <div class="date">{{ transaction.timestamp | dateAgo }}</div>
  </div>
  <div class="col-12 col-sm-4 text-right">
    <div class="status-approval" [ngClass]="color">{{ status | translate }}</div>
    <div class="fee">
      - {{ transaction.fee / 1e8 | number: '0.0-8' }}
      <small>ZBC {{ 'fee' | translate }}</small>
    </div>
  </div>
</div>

<ng-template #dialog>
  <div class="transaction-detail-container" *ngIf="transaction && !isLoading">
    <div class="row" *ngIf="transaction.transactionHash">
      <div class="col-12 col-md-4">{{ 'transaction hash' | translate }}:</div>
      <div class="col-12 col-md-8">
        <a [href]="'https://zoobc.net/transactions/' + transaction.id" target="_blank">
          <wallet-address [value]="transaction.transactionHash"></wallet-address>
        </a>
      </div>
    </div>
    <div class="row" *ngIf="transaction.blockId">
      <div class="col-12 col-md-4">{{ 'block id' | translate }}:</div>
      <div class="col-12 col-md-8 font-roboto-mono">{{ transaction.blockId }}</div>
    </div>

    <div class="row">
      <div class="col-12 col-md-4">{{ 'sender' | translate }}:</div>
      <div class="col-12 col-md-8">
        <wallet-address [value]="transaction.sender.address"></wallet-address>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-4">{{ 'escrow transaction id' | translate }}:</div>
      <div class="col-12 col-md-8">
        <a [href]="'https://zoobc.net/transactions/' + transaction.txBody.transactionid" target="_blank">
          {{ transaction.txBody.transactionid }}
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-4">{{ 'approval status' | translate }}:</div>
      <div class="col-12 col-md-8">{{ status | translate }}</div>
    </div>

    <div class="row">
      <div class="col-12 col-md-4">{{ 'fee' | translate }}:</div>
      <div class="col-12 col-md-8">{{ transaction.fee / 1e8 | number: '0.0-8' }} ZBC</div>
    </div>

    <div class="row" *ngIf="transaction.height">
      <div class="col-12 col-md-4">{{ 'height' | translate }}:</div>
      <div class="col-12 col-md-8">{{ transaction.height | number }}</div>
    </div>

    <div class="row" *ngIf="transaction.transactionIndex">
      <div class="col-12 col-md-4">{{ 'transaction index' | translate }}:</div>
      <div class="col-12 col-md-8">{{ transaction.transactionIndex }}</div>
    </div>

    <div class="row">
      <div class="col-12 col-md-4">{{ 'date' | translate }}:</div>
      <div class="col-12 col-md-8 font-roboto-mono">
        {{ transaction.timestamp | date: 'dd MMMM yyyy HH:mm:ss' }}
      </div>
    </div>
  </div>
</ng-template>
