<div class="escrow-list-container">
  <ng-container *ngIf="escrowTransactionsData">
    <div class="no-content padding" *ngIf="escrowTransactionsData.length <= 0">
      <i matPrefix class="fa fa-receipt"></i>
      <span class="message">{{ 'no approval needed' | translate }}</span>
    </div>
    <div
      class="escrow-item row"
      *ngFor="let escrow of escrowTransactionsData; let i = index"
      (click)="openDetail(escrow.id)"
    >
      <div class="col-6">
        <div class="task-item">
          <div class="label">{{ 'sender' | translate }}:</div>
          <div style="margin-bottom: 16px;">
            <wallet-address [value]="escrow.sender.value" [copyButton]="false"></wallet-address>
          </div>
        </div>
        <div class="task-item">
          <div class="label">{{ 'recipient' | translate }}:</div>
          <wallet-address [value]="escrow.recipient.value" [copyButton]="false"></wallet-address>
        </div>
      </div>

      <div class="col-6 text-right">
        <div class="task-item">
          <div class="label">{{ 'amount' | translate }}</div>
          <div style="margin-bottom: 16px;">ZBC {{ escrow.amount / 1e8 | number: '0.0-8' }}</div>
        </div>
        <div class="task-item">
          <div class="label">{{ 'commission' | translate }}</div>
          <div>ZBC {{ escrow.commission / 1e8 | number: '0.0-8' }}</div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="isLoading">
    <div class="escrow-item row skeleton" *ngFor="let i of [0, 1, 2, 3, 4]">
      <div class="col-7 col-sm-8">
        <div class="skeleton-text small" style="width:25%;"></div>
        <div class="skeleton-text" style="width:100%;"></div>
        <br />

        <div class="skeleton-text small" style="width:25%;"></div>
        <div class="skeleton-text" style="width:100%;"></div>
      </div>
      <div class="col-5 col-sm-4">
        <div class="skeleton-text small" style="width:80%;float:right"></div>
        <div class="skeleton-text" style="width:71%;float:right; margin-bottom: 16px;"></div>

        <div class="skeleton-text small" style="width:80%;float:right"></div>
        <div class="skeleton-text" style="width:71%;float:right"></div>
      </div>
    </div>
  </ng-container>

  <div class="no-content padding" *ngIf="isError">
    <i matPrefix class="fa fa-exclamation-triangle"></i>
    <span class="message">
      {{ 'an error occurred while processing your request' | translate }}
    </span>
    <button mat-flat-button color="primary" (click)="onRefresh()">
      {{ 'try again' | translate }}
    </button>
  </div>
</div>
