<div class="dashboard-container row">
  <div class="col-12">
    <mat-card class="account-card">
      <div class="no-content" *ngIf="isError">
        <i matPrefix class="fa fa-exclamation-triangle"></i>
        <span class="message">
          {{ 'an error occurred while processing your request' | translate }}
        </span>
        <button mat-flat-button color="primary" (click)="loadBalanceAndTxs()">
          {{ 'try again' | translate }}
        </button>
      </div>

      <ng-container *ngIf="!isError">
        <div class="text-right">
          <span class="timestamp" *ngIf="!isLoading && !isError">({{ lastRefresh | dateAgo }})</span>
          <button mat-icon-button class="reload-button" (click)="loadBalanceAndTxs()">
            <i class="fa fa-redo-alt"></i>
          </button>
        </div>

        <span class="account-dropdown" *ngIf="!showAccountsList">
          <span class="name">{{ currAcc.name }}</span>
        </span>
        <span class="account-dropdown" [matMenuTriggerFor]="account" *ngIf="showAccountsList">
          <span class="name">{{ currAcc.name }}</span>
          <i class="fa fa-caret-down"></i>
        </span>
        <br />
        <mat-menu #account="matMenu">
          <div class="account-dropdown-list">
            <div class="account-container">
              <button mat-menu-item (click)="onOpenAddAccount()" class="add-account">
                <i class="fas fa-plus"></i>
                <span>{{ 'add new account' | translate }}</span>
              </button>
              <mat-divider></mat-divider>
              <button
                *ngFor="let acc of accounts"
                (click)="onSwitchAccount(acc)"
                mat-menu-item
                class="account"
              >
                <div class="account-left">
                  <i class="fas fa-user" *ngIf="acc.address != currAcc.address"></i>
                  <i class="fas fa-check" *ngIf="acc.address == currAcc.address"></i>
                </div>
                <div class="account-mid">
                  <div>{{ acc.name }}</div>
                  <div class="balance">{{ acc.balance / 1e8 | number: '0.0-2' }} ZBC</div>
                </div>
                <div
                  class="account-right"
                  (click)="onOpenEditAccount($event, acc)"
                  matTooltip="{{ 'edit' | translate }}"
                >
                  <i class="fas fa-pen"></i>
                </div>
              </button>
            </div>
          </div>
        </mat-menu>

        <div class="address">
          <wallet-address [value]="currAcc.address.value" [center]="true"></wallet-address>
        </div>

        <i class="fas fa-circle-notch fa-spin" *ngIf="isLoading" style="font-size: 32px;"></i>
        <ng-container *ngIf="!isLoading && !isError">
          <div class="balance" [popper]="'ZBC ' + accountBalance.balance / 1e8">
            ZBC {{ accountBalance.balance / 1e8 | number: '0.0-4' }}
          </div>
          <div class="spendable" [popper]="'ZBC ' + accountBalance.spendableBalance / 1e8">
            {{ 'spendable' | translate }} ZBC {{ accountBalance.spendableBalance / 1e8 | number: '0.0-4' }}
          </div>
        </ng-container>
      </ng-container>
    </mat-card>

    <mat-card style="padding: 0 16px; margin-bottom: 16px;">
      <div class="row">
        <div class="col-6 text-center">
          <button *ngIf="currAcc.type != 'multisig'" mat-button routerLink="/sendmoney" color="primary">
            <i matPrefix class="fa fa-paper-plane"></i>
            <span>{{ 'send' | translate }}</span>
          </button>
          <button *ngIf="currAcc.type == 'multisig'" mat-button (click)="goToMultisig()" color="primary">
            <i matPrefix class="fa fa-paper-plane"></i>
            <span>{{ 'send' | translate }}</span>
          </button>
        </div>
        <div class="col-6 text-center">
          <button mat-button (click)="openReceiveForm()" color="primary">
            <i matPrefix class="fas fa-hand-holding-medical"></i>
            <span>{{ 'receive' | translate }}</span>
          </button>
        </div>
      </div>

      <mat-divider></mat-divider>
      <div class="menu">
        <a routerLink="/manage-multisig">
          <i class="fa fa-file-signature"></i>
          <span>{{ 'manage multisig' | translate }}</span>
        </a>
        <a routerLink="/my-tasks">
          <i class="fas fa-tasks"></i>
          <span>{{ 'tasks' | translate }}</span>
        </a>
        <a routerLink="/accounts">
          <i class="far fa-address-card"></i>
          <span>{{ 'accounts' | translate }}</span>
        </a>
        <a (click)="onComingSoonPage()">
          <i class="fa fa-paper-plane"></i>
          <span>{{ 'liquid transfer' | translate }}</span>
        </a>
      </div>
    </mat-card>

    <ng-container *ngIf="unconfirmTx && unconfirmTx.length > 0 && !isLoading && !isError">
      <mat-card class="transaction-list">
        <div class="transaction-title">
          <span><i class="fa fa-history"></i></span>
          <span class="title">{{ 'pending transaction' | translate }}</span>
        </div>
        <mat-divider></mat-divider>

        <transaction-list
          [transactionData]="unconfirmTx"
          [isLoading]="isLoading"
          [isError]="isError"
          (refresh)="loadBalanceAndTxs()"
        ></transaction-list>
      </mat-card>
      <br />
    </ng-container>

    <mat-card class="transaction-list">
      <div class="row">
        <div class="col-8">
          <div class="transaction-title">
            <span><i class="fa fa-history"></i></span>
            <span class="title">{{ 'transactions' | translate }}</span>
            <span class="timestamp" *ngIf="!isLoading && !isError">({{ lastRefresh | dateAgo }})</span>
          </div>
        </div>
        <div class="col-4 text-right">
          <a routerLink="/transferhistory" mat-button>
            {{ 'see all' | translate }}
          </a>
        </div>
      </div>
      <mat-divider></mat-divider>

      <transaction-list
        [transactionData]="recentTx"
        [isLoading]="isLoading"
        [isError]="isError"
        (refresh)="loadBalanceAndTxs()"
      ></transaction-list>
    </mat-card>
    <br /><br />
  </div>

  <!-- <div class="col-12 col-md-4">
    <div class="blog">
      <div class="title">What is Lightning Network? And How Does it Work?</div>
    </div>
    <div class="blog">
      <div class="title">Building a Fair, Sustainable Coffe Supply Chain with...</div>
    </div>
    <div class="blog">
      <div class="title">What is Lightning Network? And How Does it Work?</div>
    </div>

    <button mat-stroked-button color="primary" class="block">{{ 'view more' | translate }}</button>
  </div> -->
</div>
