<div class="dashboard-container">
  <div class="row">
    <div class="col-4">
      <h2 class="mat-h2">Dashboard</h2>
    </div>
    <div class="col-8 text-right">
      <button mat-button class="rates-dropdown" [matMenuTriggerFor]="rate">
        <span>
          1 ZBC = {{ currencyRate.value | number: '0.1-2' }}
          {{ currencyRate.name }}
        </span>
        <i class="fa fa-caret-down"></i>
      </button>
      <mat-menu #rate="matMenu">
        <div class="rates-dropdown-list">
          <button mat-menu-item *ngFor="let rate of currencyRates" (click)="onChangeRate(rate)">
            <i class="fas fa-check fa-sm" *ngIf="currencyRate.name == rate.name"></i>
            <span>{{ rate.value | number: '0.1-2' }} {{ rate.name }}</span>
          </button>
        </div>
      </mat-menu>
    </div>
  </div>

  <mat-card class="account-card">
    <div class="summary">
      <div>
        <span class="name">{{ account.name }}</span>
        <span class="detail-button">Detail</span>
      </div>
      <div class="address" (click)="copyText(address)">{{ address }}</div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-6 balance-section">
        <div class="icon">
          <img src="/assets/img/zbc-white.png" width="48">
        </div>
        <div class="balance-detail">
          <div class="label">balance</div>
          <div class="balance">
            <i class="fas fa-circle-notch fa-spin" *ngIf="showSpinnerBalance"></i>
            <span *ngIf="!showSpinnerBalance">
              {{ accountBalance.balance / 1e8 | number: '0.1-2' }}
            </span>
            <span> ZBC</span>
          </div>
          <div class="converted-balance">
            <i class="fas fa-circle-notch fa-spin" *ngIf="showSpinnerBalance"></i>
            <span *ngIf="!showSpinnerBalance">
              {{
                (accountBalance.balance / 1e8) * currencyRate.value
                  | number: '0.1-2'
              }}
            </span>
            <span> {{ currencyRate.name }}</span>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 balance-section">
        <div class="icon">
          <img src="/assets/img/zbc-white.png" width="48">
        </div>
        <div class="balance-detail">
          <div class="label">pending balance</div>
          <div class="balance">
            <i class="fas fa-circle-notch fa-spin" *ngIf="showSpinnerBalance"></i>
            <span *ngIf="!showSpinnerBalance">
              {{ accountBalance.unconfirmedbalance / 1e8 | number: '0.1-2' }}
            </span>
            <span> ZBC</span>
          </div>
          <div class="converted-balance">
            <i class="fas fa-circle-notch fa-spin" *ngIf="showSpinnerBalance"></i>
            <span *ngIf="!showSpinnerBalance">
              {{
                (accountBalance.unconfirmedbalance / 1e8) * currencyRate.value
                  | number: '0.1-2'
              }}
            </span>
            <span> {{ currencyRate.name }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="button-group">
      <button mat-flat-button>deposit</button>
      <button mat-flat-button>send</button>
      <button mat-flat-button>receive</button>
    </div>
  </mat-card>

  <h2 class="mat-h2">Recent Transactions</h2>
  <mat-card style="padding: 0 16px">
    <div *ngIf="showSpinnerRecentTx" class="transaction-loader">
      <i class="fas fa-circle-notch fa-spin"></i>
    </div>
    <div class="transaction-item row" *ngFor="let transaction of recentTx; let i = index">
      <div class="col-7 col-sm-8">
        <div class="name" *ngIf="i % 2 == 0">Alias</div>
        <div class="address">{{ transaction.senderpublickey }}</div>
        <div class="date">
          {{ transaction.timestamp | date: 'dd MMMM yyyy' }}
        </div>
      </div>
      <div class="col-5 col-sm-4 text-right">
        <div class="amount-send" *ngIf="i % 2 == 0">
          - {{ transaction.amountnqt / 1e8 | number: '0.1-4' }} ZBC
        </div>
        <div class="amount-receive" *ngIf="i % 2 == 1">
          + {{ transaction.amountnqt / 1e8 | number: '0.1-4' }} ZBC
        </div>
        <div class="fee" *ngIf="i % 2 == 0">
          - {{ transaction.feenqt / 1e8 }}
          <small>ZBC Fee</small>
        </div>
      </div>
    </div>
  </mat-card>
</div>