<div class="dashboard-container">
  <div class="row">
    <div class="col-4">
      <h2 class="mat-h2">{{ 'Dashboard' | translate }}</h2>
    </div>
    <div class="col-8 text-right">
      <button mat-button class="rates-dropdown" [matMenuTriggerFor]="rate">
        <span>
          1 ZBC = {{ currencyRate.value | number: '0.1-2' }}
          {{ currencyRate.name }}
        </span>
        <i class="fa fa-caret-down"></i>
      </button>
      <mat-menu #rate="matMenu">
        <div class="rates-dropdown-list">
          <button
            mat-menu-item
            *ngFor="let rate of currencyRates"
            (click)="onChangeRate(rate)"
          >
            <i
              class="fas fa-check fa-sm"
              *ngIf="currencyRate.name == rate.name"
            ></i>
            <span>{{ rate.value | number: '0.1-2' }} {{ rate.name }}</span>
          </button>
        </div>
      </mat-menu>
    </div>
  </div>

  <mat-card class="account-card">
    <div class="summary">
      <div>
        <span class="name">{{ account.name }}</span>
        <span class="detail-button">Detail</span>
      </div>
      <div class="address" (click)="copyText(address)">{{ address }}</div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-6 balance-section">
        <div class="icon">
          <img src="/assets/img/zbc-white.png" width="48" />
        </div>
        <div class="balance-detail">
          <div class="label">{{ 'Balance' | translate }}</div>
          <div class="balance">
            <i
              class="fas fa-circle-notch fa-spin"
              *ngIf="showSpinnerBalance"
            ></i>
            <span *ngIf="!showSpinnerBalance">
              {{ accountBalance.balance / 1e8 | number: '0.1-2' }}
            </span>
            <span> ZBC</span>
          </div>
          <div class="converted-balance">
            <i
              class="fas fa-circle-notch fa-spin"
              *ngIf="showSpinnerBalance"
            ></i>
            <span *ngIf="!showSpinnerBalance">
              {{
                (accountBalance.balance / 1e8) * currencyRate.value
                  | number: '0.1-2'
              }}
            </span>
            <span> {{ currencyRate.name }}</span>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 balance-section">
        <div class="icon">
          <img src="/assets/img/zbc-white.png" width="48" />
        </div>
        <div class="balance-detail">
          <div class="label">{{ 'Pending Balance' | translate }}</div>
          <div class="balance">
            <i
              class="fas fa-circle-notch fa-spin"
              *ngIf="showSpinnerBalance"
            ></i>
            <span *ngIf="!showSpinnerBalance">
              {{ accountBalance.unconfirmedbalance / 1e8 | number: '0.1-2' }}
            </span>
            <span> ZBC</span>
          </div>
          <div class="converted-balance">
            <i
              class="fas fa-circle-notch fa-spin"
              *ngIf="showSpinnerBalance"
            ></i>
            <span *ngIf="!showSpinnerBalance">
              {{
                (accountBalance.unconfirmedbalance / 1e8) * currencyRate.value
                  | number: '0.1-2'
              }}
            </span>
            <span> {{ currencyRate.name }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="button-group">
      <button mat-flat-button>
        <img matPrefix src="/assets/img/zbc-white.png" width="18" />
        <span>{{ 'Deposit' | translate }}</span>
      </button>
      <button mat-flat-button routerLink="/sendmoney">
        <i matPrefix class="fa fa-paper-plane"></i>
        <span>{{ 'Send' | translate }}</span>
      </button>
      <button mat-flat-button (click)="openReceiveForm()">
        <i matPrefix class="fa fa-hand-holding-usd"></i>
        <span>{{ 'Receive' | translate }}</span>
      </button>
    </div>
  </mat-card>

  <h2 class="mat-h2">{{ 'Latest transactions' | translate }}</h2>
  <app-transaction-table
    [isLoading]="showSpinnerRecentTx"
    [transactionData]="recentTx"
  ></app-transaction-table>
</div>
