@import '../../../styles/variables';
@import '../../../styles/mixins';

.dashboard-container {
  .rates-dropdown {
    font-size: 14px;
    color: $black1;
    i {
      margin-left: 8px;
    }
  }

  .account-card {
    background: linear-gradient(90deg, #0288d1, #26c6da) !important;
    color: white;
    margin-bottom: 24px;
    .summary {
      margin-bottom: 24px;
      .account-dropdown{
        cursor: pointer;
        i {
          margin-left: 8px;
          
        }  
      }
      .name {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: bold;
      }
      .detail-button {
        margin-left: 8px;
        padding: 2px 12px;
        border: 1px solid $white1;
        border-radius: 8px;
        font-size: 12px;
        font-weight: bold;
        color: $white1;
      }
      .address {
        font-size: 14px;
        margin-top: 8px;
        color: $white1;
        word-break: break-all;
        @include transition(0.3s ease-in all);
        &:hover {
          color: white;
          cursor: pointer;
        }
      }
    }

    .balance-section {
      display: flex;
      margin-bottom: 16px;
      .icon i {
        font-size: 48px;
      }
      .balance-detail {
        padding-left: 16px;
        .label {
          text-transform: uppercase;
          color: $white1;
          font-size: 12px;
          font-weight: bold;
        }
        .balance {
          font-size: 24px;
          line-height: 32px;
        }
        .converted-balance {
          color: $white1;
          font-size: 15px;
        }
      }
    }

    .button-group {
      text-align: center;
      button {
        margin: 8px 4px;
        text-transform: uppercase;
        background-color: rgba($color: black, $alpha: 0.3);
        color: $white1;
        @include transition(0.3s ease-in all);
        &:hover {
          background-color: $black3;
        }
      }
    }
  }

  .transaction-loader {
    text-align: center;
    i {
      margin: 32px auto;
      color: $primary-color;
      font-size: 48px;
    }
  }
}

.rates-dropdown-list {
  max-height: 400px;
  button {
    color: $black1;
    text-align: right;
    i {
      margin-right: 8px;
    }
  }
}

.account-dropdown-list {
  button i {
    margin-right: 8px;
    color: $black2
  }
  .account-container {
    overflow-x: hidden;
    max-height: 400px;
  }
}
