@import '../../../styles/variables';
@import '../../../styles/mixins';

.dashboard-container {
  .btn-view-all {
    color: #fff;
    background: $accent-gradient !important;
    margin-top: 16px;
    text-align: center;
    text-decoration: none;
    width: 150px;
  }
  .rates-dropdown {
    font-size: 14px;
    color: $black1;
    i {
      margin-left: 8px;
    }
  }

  .account-card {
    background: $primary-gradient !important;
    color: white;
    margin-bottom: 24px;
    .summary {
      margin-bottom: 24px;
      .account-dropdown {
        cursor: pointer;
        i {
          margin-left: 8px;
        }
      }
      .name {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: bold;
      }
      .detail-button {
        margin-left: 8px;
        padding: 2px 12px;
        border: 1px solid $white1;
        border-radius: 8px;
        font-size: 12px;
        font-weight: bold;
        color: $white1;
      }
      .address {
        font-size: 14px;
        margin-top: 8px;
        color: $white1;
        word-break: break-all;
        @include transition(0.3s ease-in all);
        &:hover {
          color: white;
          cursor: pointer;
        }
      }
    }

    .reload-button {
      color: white !important;
      margin: -24px -12px 0 0;
    }

    .balance-section {
      display: flex;
      margin-bottom: 16px;
      .icon i {
        font-size: 48px;
      }
      .balance-detail {
        padding-left: 16px;
        .label {
          text-transform: uppercase;
          color: $white1;
          font-size: 12px;
          font-weight: bold;
        }
        .balance {
          font-size: 20px;
          line-height: 32px;
        }
        .converted-balance {
          color: $white1;
          font-size: 15px;
        }
      }
    }

    .error-message {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;
      i {
        font-size: 3rem;
        margin: 1rem 0;
      }
      .message {
        margin: 8px 0;
        font-size: 16px;
      }
      button {
        margin: 8px 4px;
        text-transform: uppercase;
        background-color: rgba($color: black, $alpha: 0.3);
        color: $white1;
        @include transition(0.3s ease-in all);
        &:hover {
          background-color: $black3;
        }
      }
    }
    @media (max-width: 600px) {
      .message {
        text-align: center;
      }
    }
  }
}

.rates-dropdown-list {
  max-height: 400px;
  button {
    color: $black1;
    text-align: right;
    i {
      margin-right: 8px;
    }
  }
}

.account-dropdown-list {
  .add-account i {
    margin-right: 8px;
  }
  .account {
    line-height: 20px;
    height: 60px;
    padding: 12px 16px;
    display: flex;
    .account-mid {
      flex-grow: 1;
      .balance {
        font-size: 12px;
        font-weight: bold;
        color: $black2;
      }
    }
    .account-left {
      margin-right: 8px;
    }
    .account-right {
      margin-left: 8px;
      padding: 4px 0;
      @include transition(0.3s ease-in all);
      &:hover {
        opacity: 0.6;
        cursor: pointer;
      }
    }
  }

  button i {
    color: $black2;
  }

  .account-container {
    overflow-x: hidden;
    max-height: 400px;
  }
}
