@import '../../../styles/variables';
@import '../../../styles/mixins';

.seats-container {
  .form-search {
    padding: 12px 16px 4px 16px;
    border-bottom: 1px solid #ddd;
  }
}

.seat-list {
  border-bottom: 1px solid #ddd;
  padding: 16px 8px 4px 8px;
  margin: 0;
  @include transition(0.3s ease-in all);
  &:hover {
    background-color: #eee;
    cursor: pointer;
  }
  .label {
    color: $black2;
    margin-bottom: 4px;
    font-size: 13px;
  }
  .value {
    margin-bottom: 12px;
    color: $black1;
  }

  .seat-no {
    font-size: 24px;
    font-weight: bold;
    color: map-get($accent, 300);
    margin-bottom: 12px;
  }
}
