<form [formGroup]="group">
  <ng-container *ngIf="prefillTxId">
    <span class="title">{{ 'transaction id' | translate }}: </span>
    <span class="subtitle">{{ group.get(inputMap.transactionId).value }}</span>
  </ng-container>
  <ng-container *ngIf="!prefillTxId">
    <mat-form-field appearance="outline" color="accent" style="width: 100%;">
      <mat-label>{{ 'transaction id' | translate }}</mat-label>
      <input
        matInput
        type="text"
        placeholder="{{ 'transaction id' | translate }}"
        formControlName="{{ inputMap.transactionId }}"
      />
    </mat-form-field>
    <ng-container *ngIf="group.get(inputMap.transactionId).touched">
      <mat-error class="subtitle" *ngIf="group.get(inputMap.transactionId).hasError('required')">
        {{ 'transaction id is required' | translate }}
      </mat-error>
    </ng-container>
  </ng-container>
  <input-amount [group]="group" amountName="{{ inputMap.fee }}" label="{{ 'fee' | translate }}">
  </input-amount>
  <div class="row subtitle" *ngIf="group.get(inputMap.fee).touched && group.get(inputMap.fee).invalid">
    <div class="col-4 col-sm-3">&nbsp;</div>
    <div class="col-8 col-sm-9" style="padding: 0 10px;">
      <ng-container *ngIf="group.get(inputMap.fee).touched">
        <mat-error *ngIf="group.get(inputMap.fee).hasError('required')">
          {{ 'fee is required' | translate }}
        </mat-error>
        <mat-error *ngIf="group.get(inputMap.fee).hasError('min')">
          {{ 'minimum fee is' | translate: { val: minFee } }}
        </mat-error>
      </ng-container>
    </div>
  </div>
</form>
