<ng-container [formGroup]="group">
  <label>{{ 'approver' | translate }}</label>
  <div style="margin-bottom: 16px;">
    <wallet-address [value]="group.get(inputMap.sender).value"></wallet-address>
  </div>
  <ng-container *ngIf="multisig">
    <mat-form-field appearance="outline" color="accent" style="width: 100%;">
      <mat-label>{{ 'transaction id' | translate }}</mat-label>
      <input
        matInput
        type="text"
        placeholder="{{ 'transaction id' | translate }}"
        formControlName="{{ inputMap.transactionId }}"
      />
    </mat-form-field>
    <ng-container *ngIf="group.get(inputMap.transactionId).touched">
      <mat-error class="subtitle" *ngIf="group.get(inputMap.transactionId).hasError('required')">
        {{ 'transaction id is required' | translate }}
      </mat-error>
    </ng-container>

    <div style="margin: 16px 0 8px 0;">
      <label>{{ 'do you confirm this escrow?' }}</label>
    </div>
    <mat-radio-group class="row" [formControlName]="inputMap.approvalCode">
      <mat-radio-button [value]="0" class="col-12 col-sm-6">
        {{ 'confirm' | translate }}
      </mat-radio-button>
      <mat-radio-button [value]="1" class="col-12 col-sm-6">
        {{ 'reject' | translate }}
      </mat-radio-button>
    </mat-radio-group>
  </ng-container>

  <input-amount [group]="group" amountName="{{ inputMap.fee }}" label="{{ 'fee' | translate }}">
  </input-amount>
  <div class="row subtitle" *ngIf="group.get(inputMap.fee).touched && group.get(inputMap.fee).invalid">
    <div class="col-4 col-sm-3">&nbsp;</div>
    <div class="col-8 col-sm-9" style="padding: 0 10px;">
      <ng-container *ngIf="group.get(inputMap.fee).touched">
        <mat-error *ngIf="group.get(inputMap.fee).hasError('required')">
          {{ 'fee is required' | translate }}
        </mat-error>
        <mat-error *ngIf="group.get(inputMap.fee).hasError('min')">
          {{ 'minimum fee is' | translate: { val: minFee } }}
        </mat-error>
      </ng-container>
    </div>
  </div>
</ng-container>
