<div class="claim-node-container">
  <h2 class="mat-h2">{{ 'Claim Node' | translate }}</h2>
  <form [formGroup]="formClaimNode" (submit)="onClaimNode($event)">
    <label>{{ 'Fee' | translate }}</label>
    <mat-form-field appearance="outline" color="accent">
      <input
        matInput
        type="number"
        formControlName="fee"
        placeholder="{{ 'Fee' | translate }}"
      />
    </mat-form-field>
    <ng-container *ngIf="feeForm.touched">
      <mat-error *ngIf="feeForm.hasError('required')">
        {{ 'Fee is required' | translate }}
      </mat-error>
      <mat-error *ngIf="feeForm.hasError('min')">
        {{ 'Minimum fee is' | translate: { val: '0.00000001' } }}
      </mat-error>
    </ng-container>
    <label>{{ 'Node Public Key' | translate }}</label>
    <mat-form-field appearance="outline" color="accent">
      <input
        matInput
        type="text"
        placeholder="{{ 'Node Public Key' | translate }}"
        formControlName="nodePublicKey"
        (keyup)="onChangeRecipient()"
      />
    </mat-form-field>
    <ng-container *ngIf="nodePublicKeyForm.touched">
      <mat-error *ngIf="nodePublicKeyForm.hasError('required')">
        {{ 'Node Public Key is required' | translate }}
      </mat-error>
      <mat-error *ngIf="nodePublicKeyForm.hasError('invalidAddress')">
        {{ 'Node Public Key is invalid' | translate }}
      </mat-error>
    </ng-container>
    <br />
    <button mat-flat-button color="primary" type="submit">
      {{ 'Claim Node' | translate }}
    </button>
  </form>
</div>
