<div class="claim-node-container">
  <h2 class="mat-h2">{{ 'claim node' | translate }}</h2>
  <form [formGroup]="formClaimNode" (submit)="onClaimNode()" class="grid">
    <app-form-claim-node [group]="formClaimNode" [inputMap]="claimNodeForm"></app-form-claim-node>
    <br />
    <button mat-flat-button color="primary" type="submit" [disabled]="formClaimNode.invalid || isLoading">
      <span *ngIf="isLoading"> <i class="fas fa-circle-notch fa-spin"></i>&nbsp; </span>
      <span>{{ 'claim node' | translate }}</span>
    </button>
  </form>
</div>
