<div class="claim-node-container">
  <h2 class="mat-h2">{{ 'claim node' | translate }}</h2>
  <form [formGroup]="formClaimNode" (submit)="onClaimNode()" class="grid">
    <mat-form-field appearance="outline" color="accent">
      <mat-label>{{ 'ip address' | translate }}</mat-label>
      <input
        matInput
        type="text"
        placeholder="https://yournode.com:8001 {{ 'or' | translate }} http://192.168.43.1:8001"
        formControlName="ipAddress"
      />
    </mat-form-field>
    <input-amount [group]="formClaimNode" amountName="fee" label="{{ 'fee' | translate }}"> </input-amount>
    <div class="row" *ngIf="feeForm.touched && feeForm.invalid">
      <div class="col-4 col-sm-3">&nbsp;</div>
      <div class="col-8 col-sm-9">
        <ng-container *ngIf="feeForm.touched">
          <mat-error *ngIf="feeForm.hasError('required')">
            {{ 'fee is required' | translate }}
          </mat-error>
          <mat-error *ngIf="feeForm.hasError('min')">
            {{ 'minimum fee is' | translate: { val: minFee } }}
          </mat-error>
        </ng-container>
      </div>
    </div>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>{{ 'node public key' | translate }}</mat-label>
      <input
        matInput
        type="text"
        placeholder="{{ 'node public key' | translate }}"
        formControlName="nodePublicKey"
        (keyup)="onChangeNodePublicKey()"
        class="font-roboto-mono"
      />
    </mat-form-field>
    <ng-container *ngIf="nodePublicKeyForm.touched">
      <mat-error *ngIf="nodePublicKeyForm.hasError('required')">
        {{ 'node public key is required' | translate }}
      </mat-error>
      <mat-error *ngIf="nodePublicKeyForm.hasError('invalidAddress')">
        {{ 'node public key is invalid' | translate }}
      </mat-error>
    </ng-container>
    <br />
    <button mat-flat-button color="primary" type="submit" [disabled]="formClaimNode.invalid || isLoading">
      <span *ngIf="isLoading"> <i class="fas fa-circle-notch fa-spin"></i>&nbsp; </span>
      <span>{{ 'claim node' | translate }}</span>
    </button>
  </form>
</div>
