<mat-form-field appearance="outline" [className]="classList" color="accent">
  <mat-label *ngIf="label.length > 0">{{ label }}</mat-label>
  <input
    matInput
    [disabled]="disabled"
    (input)="onChange($event.target.value)"
    (blur)="onChange($event.target.value)"
    [value]="value"
    [matAutocomplete]="auto"
    placeholder="{{ placeholder }}"
    [readonly]="readonly"
    class="font-roboto-mono"
  />
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option disabled>
      <span class="mat-caption">
        {{ 'search address from your contacts or your own account' | translate }}
      </span>
    </mat-option>
    <mat-option
      #matOption
      (click)="onChange(contact.address.value)"
      *ngFor="let contact of filteredContacts"
      [value]="contact.address.value"
    >
      <span>{{ contact.name }}</span> |
      <small class="font-roboto-mono">{{ contact.address.value }}</small>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
