<div class="breadcrumb">
  <a routerLink="/dashboard">{{ 'dashboard' | translate }}</a>
  <i class="fa fa-chevron-right"></i>
  <a routerLink="/apps">{{ 'apps' | translate }}</a>
  <i class="fa fa-chevron-right"></i>
  <span>{{ 'sell zbc' | translate }}</span>
</div>

<div class="sell-zbc-app-container">
  <h2 class="mat-h2">
    {{ 'sell zbc' | translate }} <i>({{ 'coming soon' | translate }})</i>
  </h2>

  <mat-card>
    <form>
      <label>{{ 'sell from account' | translate }}</label>
      <account-selector (select)="onSelect($event)"></account-selector>

      <label>{{ 'buyer address' | translate }}</label>
      <mat-form-field appearance="outline" class="block" color="accent">
        <input matInput placeholder="{{ 'buyer address' | translate }}..." />
      </mat-form-field>

      <label>{{ 'amount sell (zbc)' | translate }}</label>
      <mat-form-field appearance="outline" class="block" color="accent">
        <input type="number" matInput placeholder="{{ 'amount' | translate }}..." />
      </mat-form-field>

      <label>{{ 'amount you will get' | translate }}</label>
      <div class="row">
        <div class="col-8 col-sm-9">
          <mat-form-field appearance="outline" class="block" color="accent">
            <input matInput type="number" placeholder="{{ 'amount' | translate }}" />
          </mat-form-field>
        </div>
        <div class="col-4 col-sm-3">
          <mat-form-field appearance="outline" color="accent" class="block">
            <mat-select value="BTC">
              <mat-option value="BTC">BTC</mat-option>
              <mat-option value="ETH">ETH</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <label>{{ 'fee' | translate }}</label>
      <mat-form-field appearance="outline" class="block" color="accent">
        <input type="number" matInput placeholder="{{ 'Fee' | translate }}..." />
      </mat-form-field>

      <label>{{ 'timeout' | translate }}</label>
      <mat-form-field appearance="outline" class="block" color="accent">
        <input matInput [min]="minDate" [max]="maxDate" [owlDateTime]="dt8" [owlDateTimeTrigger]="dt8" />
        <owl-date-time #dt8></owl-date-time>
      </mat-form-field>

      <button mat-flat-button color="primary" type="submit" class="block" (click)="onOpenComingSoon()">
        <span>{{ 'send' | translate }}</span>
      </button>
    </form>
  </mat-card>
</div>
